<!--


#ErrInputA { 
	position : absolute ;
	left : 4px ;
	top : 15px ;
	z-index : 6 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegA05 {
	position : absolute ;
	left : 156px ;
	top : 80px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA06 {
	position : absolute ;
	left : 156px ;
	top : 106px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA03 {
	position : absolute ;
	left : 156px ;
	top : 148px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA04 {
	position : absolute ;
	left : 156px ;
	top : 174px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA02 {
	position : absolute ;
	left : 156px ;
	top : 214px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA18 {
	position : absolute ;
	left : 435px ;
	top : 214px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA07 {
	position : absolute ;
	left : 156px ;
	top : 249px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB08 {
	position : absolute ;
	left : 156px ;
	top : 279px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB09 {
	position : absolute ;
	left : 156px ;
	top : 305px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB17 {
	position : absolute ;
	left : 156px ;
	top : 380px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA12 {
	position : absolute ;
	left : 420px ;
	top : 380px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA13 {
	position : absolute ;
	left : 684px ;
	top : 380px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB06 {
	position : absolute ;
	left : 156px ;
	top : 421px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB07 {
	position : absolute ;
	left : 156px ;
	top : 451px ;
	border-width: 0px ;
	border-style: none ;

}



/******************************************
*******************************************/
#ErrInputB { 
	position : absolute ;
	left : 4px ;
	top : 15px ;
	z-index : 6 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegB03 {
	position : absolute ;
	left : 156px ;
	top : 45px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA17 {
	position : absolute ;
	left : 156px ;
	top : 75px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB04 {
	position : absolute ;
	left : 156px ;
	top : 105px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB05 {
	position : absolute ;
	left : 713px ;
	top : 105px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB02 {
	position : absolute ;
	left : 156px ;
	top : 148px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB01 {
	position : absolute ;
	left : 492px ;
	top : 148px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA11 {
	position : absolute ;
	left : 156px ;
	top : 178px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB11 {
	position : absolute ;
	left : 383px ;
	top : 178px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB16 {
	position : absolute ;
	left : 601px ;
	top : 178px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB10 {
	position : absolute ;
	left : 156px ;
	top : 219px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB12 {
	position : absolute ;
	left : 156px ;
	top : 249px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB13 {
	position : absolute ;
	left : 156px ;
	top : 279px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA14 {
	position : absolute ;
	left : 156px ;
	top : 320px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA15 {
	position : absolute ;
	left : 492px ;
	top : 320px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegB14 {
	position : absolute ;
	left : 156px ;
	top : 399px ;
	border-width: 0px ;
	border-style: none ;

}


-->