<!--


	/************************** v2 tomita update **************************/
	#WFrootBt
	{
		position         : absolute ;
		top              : 504px ; /* 534 */
		left             : 545px ;
		border-width     : 0px ;
		border-style     : none ;
		background-color : transparent ;
	}

	#WFRootFrame
	{
		position         : absolute ;
		left             : 0px ;
		top              : 0px ;
		z-index          : 8 ;
		visibility       : hidden ;
		border-width     : 0px ;
		border-style     : none ;
		background-color : transparent ;
	}

	#WFroot
	{
		position         : absolute ;
		width            : 927px ;
		height           : 328px ;
		border-width     : 0px ;
		border-style     : none ;
		background-color : transparent ;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=98);
	}


	#SegBWF
	{
		font-weight      : bold ;
		position         : absolute ;
		top              : 500px ;  /* 330 */
		left             : 425px ;
		width            : 150px ;
		height           : 27px ;
		border-width     : 1px ;
		border-style     : solid ;
		border-color     : #cdcdcd #ffffff #cdcdcd #cdcdcd ;
		background-color : transparent ;
		padding          : 8px 0px 0px 8px ;
	}

	#VarsBWF
	{
		position         : absolute ;
		top              : 500px ;  /* 330 */
		left             : 562px ;
		height           : 27px ;
		border-width     : 1px ;
		border-style     : solid ;
		border-color     : #cdcdcd #cdcdcd #cdcdcd #72828b ;
		background-color : transparent ;
		padding          : 3px 94px 0px 8px ;
	}
	/**********************************************************************/




/************************************* START INPUT A *************************************/
/* START INPUT A SEGMENTS */
#InputA { 
	position : absolute ;
	left : 5px ;
	top : 15px ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END INPUT A SEGMENTS */


/* START HEADER */
#SegAHeader {
	position : absolute ;
	left : 0px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END HEADER */


/* START BODYS */
#SegABodys {
	left : 10px ;
	top : 31px ;
	width : 927px ;
	height : 484px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #cdcdcd ;
	background-color: #ffffff ;
}
/* END BODYS */


/* START BOTTOM */
#SegABottom {
	position : absolute ;
	left : 0px ;
	top : 482px ;
	border-width: 0px ;
	border-style: none ;
	background-color: #ffffff ;
}
/* END BOTTOM */


/* START SEGMENTS */
#SegA01 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 40px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 209px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA18 {
	font-weight : bold ;
	position : absolute ;
	left : 300px ;
	top : 209px ;
	width : 400px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA03 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 143px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA04 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 169px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA0304 {
	position : absolute ;
	left : 550px ;
	top : 143px ;
	width : 33 ;
	height : 53px ;
	border-width: 1px ;
	border-style: solid ;
}

#SegA05 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 75px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA06 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 101px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA07 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 244px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA08 {
	font-weight : bold ;
	position : absolute ;
	left : 274px ;
	top : 345px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA09 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 345px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA11 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 173px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA12 {
	font-weight : bold ;
	position : absolute ;
	left : 274px ;
	top : 375px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA13 {
	font-weight : bold ;
	position : absolute ;
	left : 538px ;
	top : 375px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA14 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 315px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA15 {
	font-weight : bold ;
	position : absolute ;
	left : 346px ;
	top : 315px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}
/* END SEGMENTS */


/* START VARS */
#VarsA01 {
	position : absolute ;
	left : 129px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA02 {
	position : absolute ;
	left : 166px ;
	top : 209px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA18 {
	position : absolute ;
	left : 445px ;
	top : 209px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA03 {
	position : absolute ;
	left : 166px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA04 {
	position : absolute ;
	left : 166px ;
	top : 169px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA05 {
	position : absolute ;
	left : 166px ;
	top : 75px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA06 {
	position : absolute ;
	left : 166px ;
	top : 101px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA07 {
	position : absolute ;
	left : 166px ;
	top : 244px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA08 {
	position : absolute ;
	left : 430px ;
	top : 345px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA09 {
	position : absolute ;
	left : 166px ;
	top : 345px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA11 {
	position : absolute ;
	left : 166px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA12 {
	position : absolute ;
	left : 430px ;
	top : 375px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA13 {
	position : absolute ;
	left : 694px ;
	top : 375px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA14 {
	position : absolute ;
	font-weight : bold ;
	left : 166px ;
	top : 315px ;
	height : 27px ;
	width : 177px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA15 {
	position : absolute ;
	left : 502px ;
	top : 315px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}
/* END VARS */
/************************************** END INPUT A **************************************/









/************************************* START INPUT B *************************************/
/* START INPUT B SEGMENTS */
#InputB {
	position : absolute ;
	left : 5px ;
	top : 15px ;
	z-index : 0 ;
	visibility : hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END INPUT B SEGMENTS */


/* START HEADER */
#SegBHeader {
	position : absolute ;
	left : 0px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END HEADER */


/* START BODYS */
#SegBBodys {
	left : 10px ;
	top : 31px ;
	width : 927px ;
	height : 482px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #cdcdcd ;
	background-color: #ffffff ;
}
/* END BODYS */


/* START BOTTOM */
#SegBBottom {
	position : absolute ;
	left : 0px ;
	top : 480px ;
	border-width: 0px ;
	border-style: none ;
	background-color: #ffffff ;
}
/* END BOTTOM */


/* START SEGMENTS */
#SegB01 {
	font-weight : bold ;
	position : absolute ;
	left : 346px ;
	top : 143px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 143px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB03 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 40px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA17 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 70px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB04 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 100px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB05 {
	font-weight : bold ;
	position : absolute ;
	left : 585px ;
	top : 100px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB06 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 416px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB07 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 446px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB08 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 274px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB09 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 300px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB0809 {
	position : absolute ;
	left : 599px ;
	top : 274px ;
	width : 33 ;
	height : 53px ;
	border-width: 1px ;
	border-style: solid ;
}

#SegB11 {
	font-weight : bold ;
	position : absolute ;
	left : 274px ;
	top : 173px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB10 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 214px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB20 {
	font-weight : bold ;
	position : absolute ;
	left : 346px ;
	top : 214px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB16 {
	font-weight : bold ;
	position : absolute ;
	left : 487px ;
	top : 173px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB12 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 244px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB13 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 274px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB17 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 375px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB14 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 345px ;
	width : 160px ;
	height : 126px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 57px 0px 0px 8px ;
}
/* END SEGMENTS */



/* START VARS */
#VarsB01 {
	position : absolute ;
	left : 502px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB02 {
	position : absolute ;
	left : 166px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB03 {
	position : absolute ;
	left : 166px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}


#VarsA17 {
	position : absolute ;
	left : 166px ;
	top : 70px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsB04 {
	position : absolute ;
	left : 166px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsB05 {
	position : absolute ;
	left : 731px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 0px ;
}

#VarsB06_1 {
	position : absolute ;
	left : 166px ;
	top : 416px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB06_2 {
	position : absolute ;
	left : 270px ;
	top : 416px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 3px ;
}

#VarsB07_1 {
	position : absolute ;
	left : 166px ;
	top : 446px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB07_2 {
	position : absolute ;
	left : 270px ;
	top : 446px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 3px ;
}

#VarsB08 {
	position : absolute ;
	left : 166px ;
	top : 274px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB09 {
	position : absolute ;
	left : 166px ;
	top : 300px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB10 {
	position : absolute ;
	left : 166px ;
	top : 214px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB20 {
	position : absolute ;
	left : 502px ;
	top : 214px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB11 {
	position : absolute ;
	left : 393px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB16 {
	position : absolute ;
	left : 611px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB12 {
	position : absolute ;
	left : 166px ;
	top : 244px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB13 {
	position : absolute ;
	left : 166px ;
	top : 274px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB17 {
	position : absolute ;
	left : 166px ;
	top : 375px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB14 {
	position : absolute ;
	left : 166px ;
	top : 345px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 3px 8px ;
}
/* END VARS */
/************************************** END INPUT B **************************************/





#EditBt
{
	position : absolute ;
	top : 400px ;
	left : 818px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}










/******************************** START TAB ********************************/
#PTabA {
	position : absolute ;
	left : 937px ;
	top : 2px ;
	z-index : 3 ;
	border-width: 0px ;
	background-color: transparent ;
}

#PTabB {
	position : absolute ;
	left : 937px ;
	top : 276px ;
	z-index : 3 ;
	border-width: 0px ;
	background-color: transparent ;
}
/********************************* END TAB *********************************/









/********************* START QUERY BUTTON *********************/
/* START REGIST BUTTON */
#RegistBt {
	position : absolute ;
	top : 504px ;
	left : 830px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END REGIST BUTTON */


/* START CLEAR BUTTON - INPUT A */
#SegAClearBt {
	position : absolute ;
	top : 500px ;
	left : 801px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END CLEAR BUTTON - INPUT A */


/* START CLEAR BUTTON - INPUT B */
#SegBClearBt {
	position : absolute ;
	top : 504px ;
	left : 10px ; /* 716 */
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END CLEAR BUTTON - INPUT B */
/********************** END QUERY BUTTON **********************/














/********************* START DATE BUTTON *********************/
#DateBtA {
	position : absolute ;
	left : 819px ;
	top : 104px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/********************** END DATE BUTTON **********************/















/********************* START MSW BUTTON *********************/
/* START [CREATION FACTORY] BUTTON 02 */
#MSWBt01_2 {
	position : absolute ;
	left : 554px ;
	top : 44px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [CREATION FACTORY] BUTTON 02 */

/* START [ASSEMBLY FACTORY] BUTTON 03 */
#MSWBt01_3 {
	position : absolute ;
	left : 554px ;
	top : 74px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [ASSEMBLY FACTORY] BUTTON 03 */

/* START [DEPT & IN CHARGE NAME] BUTTON */
#MSWBt02 {
	position : absolute ;
	left : 557px ;
	top : 160px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [DEPT & IN CHARGE NAME] BUTTON */


/* START [LOCATION] BUTTON */
#MSWBt04 {
	position : absolute ;
	left : 554px ;
	top : 104px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [LOCATION] BUTTON */


/* START [VENDOR & IN CHARGE NAME] BUTTON */
#MSWBt07 {
	position : absolute ;
	left : 606px ;
	top : 290px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [VENDOR & IN CHARGE NAME] BUTTON */
/********************** END MSW BUTTON **********************/




/********************* START MSW POSITION *********************/
/* START [CREATION FACTORY] 02 */
#MiFrame01_2 {
	position : absolute ;
	left : 81px ;
	top : 84px ;
	z-index : 8 ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END [CREATION FACTORY] 02 */


/* START [ASSEMBLY FACTORY] 03 */
#MiFrame01_3 {
	position : absolute ;
	left : 81px ;
	top : 114px ;
	z-index : 8 ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END [ASSEMBLY FACTORY] 03 */


/* START [DEPT & IN CHARGE NAME] */
#MiFrame02 {
	position : absolute ;
	left : 64px ;
	top : 158px ;
	z-index : 8 ;
	position : absolute ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END [DEPT & IN CHARGE NAME] */


/* START [LOCATION] */
#MiFrame04 {
	position : absolute ;
	left : 81px ;
	top : 144px ;
	z-index : 8 ;
	position : absolute ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END [LOCATION] */


/* START [VENDOR & IN CHARGE NAME] */
#MiFrame07 {
	position : absolute ;
	left : 316px ;
	top : 100px ;
	z-index : 8 ;
	position : absolute ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END [VENDOR & IN CHARGE NAME] */
/********************** END MSW POSITION **********************/






/********** GOODS PLAN STATUS **********/
#CreateDate
{
	font-weight : bold ;
	position : absolute ;
	left : 626px ;
	top : 40px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#CreateDateVars
{
	position : absolute ;
	left : 732px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}


#GoodsPlanButton
{
	position : absolute ;
	left : 889px ;
	top : 44px ;
	border-width: 0px ;
	border-style: none ;
}



#GoodsPlan
{
	position : absolute ;
	left : 631px ;
	top : 81px ;
	visibility : hidden ;
	border-width: 0px ;
	border-style: none ;
}

#GoodsPlanBodys
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 290px ;
	height : 138px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 ;/*5395c8*/
	background-color: #6f8180 ;
	filter : alpha(opacity=60) ;
}

#GoodsPlanHeader
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#GoodsPlanBottom
{
	position : absolute ;
	left : 0px ;
	top : 138px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ProgressStatus
{
	font-weight : bold ;
	position : absolute ;
	left : 15px ;
	top : 30px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#ProgressCodeVars
{
	font-weight : bold ;
	position : absolute ;
	left : 120px ;
	top : 30px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#ReviseNumber
{
	font-weight : bold ;
	position : absolute ;
	left : 15px ;
	top : 60px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#ReviseNumberVars
{
	font-weight : bold ;
	position : absolute ;
	left : 120px ;
	top : 60px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#ReviseDate
{
	font-weight : bold ;
	position : absolute ;
	left : 15px ;
	top : 90px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#ReviseDateVars
{
	font-weight : bold ;
	position : absolute ;
	left : 120px ;
	top : 90px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}






/* Í½È÷ PRICE WINDOW */
#PriceBt
{
	position : absolute ;
	left : 451px ;
	top : 44px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#PriceWin
{
	position : absolute ;
	left : 404px ;
	top : 43px ;
	border-width: 0px ;
	border-style: none ;
	visibility : hidden ;
	z-index : 7 ;
	background-color : transparent ;
}

#PriceBodys
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 263px ;
	height : 107px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #798787 ;
	background-color : #a3bbe0 ;
	filter : alpha(opacity=80) ;
}

#PriceHeader
{
	position : absolute ;
	left : 1px ;
	top : 0px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#SelectAreas
{
	position : absolute ;
	left : 24px ;
	top : 18px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #cdcdcd ;
	padding : 3px 0px 3px 4px ;
	background-color : transparent ;
}

#TextAreas
{
	position : absolute ;
	left : 143px ;
	top : 18px ;
	border-width : 0px ;
	border-style : none ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #cdcdcd ;
	padding : 3px 0px 3px 4px ;
	background-color : transparent ;
}

#AddPriceBt
{
	position : absolute ;
	left : 168px ;
	top : 56px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#DelPriceBt
{
	position : absolute ;
	left : 168px ;
	top : 85px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#UpBt
{
	position : absolute ;
	left : 9px ;
	top : 27px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#DownBt
{
	position : absolute ;
	left : 9px ;
	top : 78px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}





#EditFrame {
	position : absolute ;
	left : 5px ;
	top : 15px ;
	z-index : 8 ;
	display : none ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


#Edit
{
	position : absolute ;
	width : 927px ;
	height : 528px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

/* filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); */



#ErrorMessageFrame
{
	position : absolute ;
	top : 19px ;
	left : -18px ;
	z-index : 11 ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrorMessage
{
	position : absolute ;
	width : 978px ;
	height : 34px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}


-->