<!--



	/************************** v2 tomita update **************************/
	#SegAPCode
	{
		font-weight  : bold ;
		position     : absolute ;
		left         : 10px ;
		top          : 140px ;
		width        : 157px ;
		height       : 27px ;
		border-width : 1px ;
		border-style : solid ;
		padding      : 8px 0px 0px 8px ;
	}

	#VarsAPCode
	{
		position     : absolute ;
		left         : 166px ;
		height       : 27px ;
		border-width : 1px ;
		border-style : solid ;
		padding      : 3px 8px 0px 8px ;
	}
	/**********************************************************************/





#Backs
{
	background-color : #d6d0b1 ;
}


#DummySpace
{
	position : absolute ;
	left : 0px ;
	top : 1120px ;
	width : 10px ;
	height : 20px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

}
#Goods { 
	position : absolute ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#CreateDate
{
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#ProgressStatus
{
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 70px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#ReviseDate
{
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 100px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#CreateDateVars
{
	position : absolute ;
	font-family : ＭＳ Ｐゴシック, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px;
	line-height : 12px ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#ProgressCodeVars
{
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#ReviseDateVars
{
	font-weight : bold ;
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}


#CheckAll1
{
	position : absolute ;
	top : 2px ;
	left : 16px ;
	text-align : center ;
	border-width: 0px ;
	border-style: none ;
	padding : 3px 0px 0px 8px ;
}

#CheckAll2
{
	position : absolute ;
	top : 2px ;
	left : 65px ;
	text-align : center ;
	border-width: 0px ;
	border-style: none ;
	padding : 3px 0px 0px 8px ;
}

#ViewSearch1
{
	position : absolute ;
	top : 23px ;
	left : 1px ;
	text-align : center ;
	border-width: 0px ;
	border-style: none ;
	padding : 3px 0px 0px 8px ;
}

#ViewSearch2
{
	position : absolute ;
	top : 143px ;
	left : 1px ;
	text-align : center ;
	border-width: 0px ;
	border-style: none ;
	padding : 3px 0px 0px 8px ;
}


#Checks
{
	position : absolute ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 4px ;
}

.CheckBoxStyle
{
	width : 40px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
}


/* START SEGMENTS */
#Segs { 
	position : absolute ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegA01 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 140px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 170px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA03 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 196px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA04 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 226px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA05 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 252px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA06 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 282px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px 
}

#SegA07 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 282px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA08 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 312px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA09 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 342px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA10 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 372px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA11 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 402px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA12 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 402px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA13 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 432px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}
/* END SEGMENTS */


/* START VARS */
#VarsA01 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 8px 0px 8px ;
}

#VarsA02 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsA03 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsA04 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA05 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA06 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA07 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA08 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA09 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA10 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA11 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA12 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA13 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}




/* START SEGMENTS */
#InputB {
	position : absolute ;
	left : 189px ;
	top : 111px ;
	z-index : 0 ;
	visibility : hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegB01 {
	font-weight : bold ;
	position : absolute ;
	left : 237px ;
	top : 143px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 143px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB03 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 40px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB04 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 70px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB05 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 100px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB06 {
	font-weight : bold ;
	position : absolute ;
	left : 549px ;
	top : 100px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB07 {
	font-weight : bold ;
	position : absolute ;
	left : 237px ;
	top : 173px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB08 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 214px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB09 {
	font-weight : bold ;
	position : absolute ;
	left : 450px ;
	top : 173px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB10 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 244px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB11 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 274px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB12 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 304px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB13 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB14 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB15 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB16 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB17 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB18 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}
/* END SEGMENTS */



/* START VARS */
#VarsB01 {
	position : absolute ;
	left : 335px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB02 {
	position : absolute ;
	left : 122px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB03 {
	position : absolute ;
	left : 129px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB04 {
	position : absolute ;
	left : 215px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB05 {
	position : absolute ;
	left : 129px ;
	top : 70px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB06 {
	position : absolute ;
	left : 215px ;
	top : 70px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB07 {
	position : absolute ;
	left : 129px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB08 {
	position : absolute ;
	left : 215px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB09 {
	position : absolute ;
	left : 640px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB10 {
	position : absolute ;
	left : 168px ;
	top : 214px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB11 {
	position : absolute ;
	left : 356px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB12 {
	position : absolute ;
	left : 569px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB13 {
	position : absolute ;
	left : 168px ;
	top : 244px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB14 {
	position : absolute ;
	left : 168px ;
	top : 274px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB15 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB16 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB17 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB18 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}
/* END VARS */





#SegC01 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 140px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegC02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 140px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegC03 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 140px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}


#VarsC01 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsC02 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsC03 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}







/********************* START DATE BUTTON *********************/
#DateBtA {
	position : absolute ;
	left : 728px ;
	top : 104px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/********************** END DATE BUTTON **********************/






/********************* START MSW BUTTON *********************/
/* START [APPLICANT] BUTTON */
#MSWBt05 {
	position : absolute ;
	left : 704px ;
	top : 116px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [APPLICANT] BUTTON */


/* START [INPUT] BUTTON 02 */
#MSWBt06 {
	position : absolute ;
	left : 704px ;
	top : 147px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [INPUT] BUTTON 02 */
/********************** END MSW BUTTON **********************/




-->