<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">


<script type="text/javascript" src="/layout/type01/cmn/images.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/po/finish/layout.css">

<script type="text/javascript" src="/cmn/processing_module.js"></script>
<script type="text/javascript" src="/po/finish/functions.js"></script>
<!-- script type="text/javascript" src="/po/finish/exstr.js"></script -->
</head>

<body>

<div id="details">
_%aryPurchaseOrder%_
</div>
</body>
</html>