<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">



<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">

<script type="text/javascript" language="javascript" src="/cmn/processing_module.js"></script>
<script type="text/javascript" language="javascript" src="/so/cmn/resultexstr.js"></script>

<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>


<script type="text/javascript" language="javascript">

	function fncSetWFMessage( obj , objHdn )
	{
		objHdn.value = obj.value;

		// デバッグ
		// alert( objHdn.value );
	}

</script>

</head>
<body oncontextmenu="return false;" onload="fncChgEtoJ( '_%strMode%_' );">

<p id="ConfirmOverFlowBox">


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#6f8180" align="center">
	<tr class="SegColumn">
		<td id="ControlTitle"></td>
	</tr>
</table>

<br>

<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>

			<form name="form1" action="_%strActionURL%_" method="POST">

				<span id="objQuery"></span>
				<input type="hidden" name="strSubmit" value="true">
				<input type="hidden"  name="lngOrderNo" value="_%lngOrderNo%_">
				<input type="hidden"  name="strProcMode" value="_%strProcMode%_">						<!-- 処理モード -->
				<input type="hidden" name="lngReceiveNo" value="_%lngReceiveNo%_">						<!-- 受注番号 -->
				<input type="hidden" name="lngRevisionNo" value="_%lngRevisionNo%_">					<!-- リビジョン番号 -->
				<input type="hidden" name="strReceiveCode" value="_%strReceiveCode%_">					<!-- 受注コード -->
				<input type="hidden" name="strReviseCode" value="_%strReviseCode%_">					<!-- リバイズコード -->
				<input type="hidden" name="dtmOrderAppDate" value="_%dtmOrderAppDate%_">				<!-- 計上日 -->
				<input type="hidden" name="lngCustomerCode" value="_%lngCustomerCode%_">				<!-- 会社コード --> 
				<input type="hidden" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_">		<!-- グループコード -->
				<input type="hidden" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_">		<!-- ユーザーコード -->
				<input type="hidden" name="lngReceiveStatusCode" value="_%lngReceiveStatusCode%_">		<!-- 受注状態コード -->
				<input type="hidden" name="lngMonetaryUnitCode" value="_%lngMonetaryUnitCode%_">		<!-- 通貨単位コード -->
				<input type="hidden" name="lngMonetaryRateCode" value="_%lngMonetaryRateCode%_">		<!-- 通貨レートコード -->
				<input type="hidden" name="curConversionRate" value="_%curConversionRate%_">			<!-- 換算レート -->
				<input type="hidden" name="strNote" value="_%strNote%_">								<!-- 備考 -->
				<input type="hidden" name="lngInputUserCode" value="_%lngInputUserCode%_">				<!-- 入力者コード -->
				<input type="hidden" name="curAllTotalPrice" value="_%curAllTotalPrice%_">				<!-- 合計金額 -->
				<input type="hidden" name="strSessionID" value="_%strSessionID%_">						<!-- セッションID -->
				<input type="hidden" name="lngWorkflowOrderCode" value="_%lngWorkflowOrderCode%_">		<!-- ワークフローコード -->
				<input type="hidden"  name="strWorkflowMessage" value="_%strWorkflowMessage%_">			<!-- ワークフローメッセージ -->
				<input type="hidden" name="strCustomerReceiveCode" value="_%strCustomerReceiveCode%_">	<!-- 顧客受注番号 -->

				_%strDetailHidden%_

			</form>

		</td>
	</tr>
</table>

<br>

<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>

			<!-- メッセージ -->
			<div style="display:_%strWorkflowMessage_visibility%_">
				<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">
					<tr>
						<td id="WFMessage" class="SegColumn2" width="25%">
							メッセージ
						</td>
						<td class="Segs">
							<textarea class="txtArea100P" rows="3" name="**" onchange="fncSetWFMessage( this , document.all.strWorkflowMessage );"></textarea>
						</td>
					</tr>
				</table>
				<br>
			</div>
			<!-- メッセージ // -->

			<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">
				<tr> 
					<td id="CreationDate" class="SegColumn">_%CNdtmInsertDate%_</td>
					<td class="Segs">_%dtminsertdate%_</td>
				</tr>
				<tr> 
					<td id="ReceiveAppDate" class="SegColumn" width="25%">_%CNdtmReceiveAppDate%_</td>
					<td class="Segs">_%dtmOrderAppDate%_</td>
				</tr>
				<tr> 
					<td id="PCRCCode" class="SegColumn">_%CNstrCustomerReceiveCode%_</td>
					<td class="Segs">_%strcustomerreceivecode%_</td>
				</tr>
				<tr> 
					<td id="PReceiveCode" class="SegColumn">_%CNstrReceiveCode%_</td>
					<td class="Segs">_%strreceivecode%_</td>
				</tr>
				<tr> 
					<td id="InputUser" class="SegColumn">_%CNlngInputUserCode%_</td>
					<td class="Segs">_%lngInputUserCode_DISCODE%_ _%strInputUserCode%_</td>
				</tr>
				<tr> 
					<td id="Customer" class="SegColumn">_%CNlngCustomerCode%_</td>
					<td class="Segs">_%lngCustomerCode_DISCODE%_ _%strCustomerName%_</td>
				</tr>


				<tr> 
					<td id="InChargeGroup" class="SegColumn">_%CNlngInChargeGroupCode%_</td>
					<td class="Segs">_%strInChargeGroup%_</td>
				</tr>
				<tr> 
					<td id="InChargeUser" class="SegColumn">_%CNlngInChargeUserCode%_</td>
					<td class="Segs">_%strInChargeUser%_</td>
				</tr>

<!--
				<tr> 
					<td id="InChargeGroup" class="SegColumn">_%CNlngInChargeGroupCode%_</td>
					<td class="Segs">_%lngInChargeGroupCode_DISCODE%_ _%strInChargeGroupName%_</td>
				</tr>
				<tr> 
					<td id="InChargeUser" class="SegColumn">_%CNlngInChargeUserCode%_</td>
					<td class="Segs">_%lngInChargeUserCode_DISCODE%_ _%strInChargeUserName%_</td>
				</tr>
-->


				<tr> 
					<td id="MonetaryUnit" class="SegColumn">_%CNlngMOnetaryUnitCode%_</td>
					<td class="Segs">_%strMonetaryUnitName%_</td>
				</tr>
				<tr> 
					<td id="MonetaryRate" class="SegColumn">_%CNlngMonetaryRateCode%_</td>
					<td class="Segs">_%strMonetaryrateName%_</td>
				</tr>
				<tr> 
					<td id="ConversionRate" class="SegColumn">_%CNcurConversionRate%_</td>
					<td class="Segs">_%curConversionRate_DIS%_</td>
				</tr>
				<tr> 
					<td id="ReceiveStatus" class="SegColumn">_%CNlngReceiveStatusCode%_</td>
					<td class="Segs">_%lngreceivestatuscode_DIS%_</td>
				</tr>
				<tr> 
					<td id="Remark" class="SegColumn">_%CNstrNote%_</td>
					<td class="Segs">_%strnote%_</td>
				</tr>
				<tr> 
					<td id="TotalPrice" class="SegColumn">_%CNcurTotalPrice%_</td>
					<td class="Segs">_%strMonetaryrate%_ _%curAllTotalPrice_DIS%_</td>
				</tr>
			</table>


			<br>


_%strDetailTable%_


			<br>


		</td>
	</tr>
</table>


</p>


</body>
</html>
