<config>
<header1>

</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/pc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/pc/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/pc/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/images.js"></script>
</header2>


<header3>
<link rel="stylesheet" type="text/css" media="screen" href="/pc/layout.css">
</header3>


<bodyonload>
initLayoutBase();initLayoutPC();Loading();
</bodyonload>
</config>

<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>

<!-- ヘッダ -->
<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->

<span id="strSelectFunctions">機能選択</span>
<span id="MenuBackBorder"></span>
<span id="MenuBack"></span>

<p id="TopNavi">
<span id="RegistNaviBt1" onClick="javascript:location='regist/index.php?strSessionID=_%strSessionID%_';">
	<a href="#">
		<img width="151" height="25" style="filter: none;" onmouseover="RegiJOn(this);" onmouseout="RegiJOff(this);fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" alt="仕入登録" src="/img/type01/pc/regist_off_ja_bt.gif" border="0">
	</a>
</span>
<span id="SearchNaviBt1" onClick="javascript:location='search/index.php?strSessionID=_%strSessionID%_';">
	<a href="#">
		<img width="151" height="25" onmouseover="SchJOn(this);" onmouseout="SchJOff(this);fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" alt="仕入検索" src="/img/type01/pc/search_off_ja_bt.gif" border="0">
	</a>
</span>
</p>


<!-- /////////////////////////////////// START E TO J /////////////////////////////////// -->
<!-- <span id="EtoJ"></span> -->
<!-- //////////////////////////////////// END E TO J //////////////////////////////////// -->



<span id="OverLayer"></span>