<!--

#Backs
{
	background-color : #d6d0b1 ;
}

/* 入力フォーム 行 */
.form-box__contents
{
	position : absolute ;
	left: 0px;
	width: 890px;
	height: 464px;
    padding: 3px 10px;
    background-color: #d6d0b1;
}
.toggle-line{
	height: 20px;
	margin: 1px 3px 4px 0px;
}

/* 検索/表示 全切り替えボタン */
.toggle-search
{
    margin: 0px 13px 0px 13px;
}

.toggle-display
{
    margin: 0px 13px 0px 10px;
}

.regist-line
{
    margin: 1px 3px 4px 0px;
}

.form-line{
	display: inline-block;
    box-sizing: border-box;
    padding: 3px 3px 3px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #798787;
    background-color: #e8f0f1;
    margin-bottom: 3px;
    
}
.Column {
	display: inline-block;
	vertical-align: middle;
	font-weight : bold ;
	width : 157px ;
	line-height: 23px;
}

.VarText {
	display: inline-block;
	font-family : ＭＳ Ｐゴシック, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px;
	vertical-align: middle;
}
.search-label--checkbox
{
    display: inline-block;

    box-sizing: border-box;
    padding: 3px 10px 3px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #798787;
    line-height: 23px;
    margin-right: 5px;

    background-color: #e8f0f1;
}
/* 検索フォーム チェックボックス 位置調整 */
.is-search
{
    width: 30px;
    margin: 3px 0px 2px 0px;
    background-color: #e8f0f1;
    border-style: none;
    vertical-align: middle;
}

.is-display
{
    width: 30px;
    margin: 3px 0px 2px 6px;
    background-color: #e8f0f1;
    border-style: none;
    vertical-align: middle;
}





#DeleteSegs
{
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 170px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#DeleteVars
{
	position : absolute ;
	left : 129px ;
	top : 70px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}






#DummySpace
{
	position : absolute ;
	left : 0px ;
	top : 544px ;
	width : 10px ;
	height : 20px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

/********************* START DATE BUTTON *********************/
#DateBtA {
	position : absolute ;
	left : 728px ;
	top : 104px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/********************** END DATE BUTTON **********************/








-->