
<config>
	<header1>
		<!-- 機能選択画面 共通CSS -->
		<link rel="stylesheet"  href="/cmn/css/select-function/select-function-border.css">
	</header1>

	<header2>
	</header2>

	<header3>
		<!-- ボタン押下時の遷移先の設定 -->
		<script src="/sysc/set-location.js" defer></script>
    	<link rel="stylesheet" href="/cmn/css/navigate/navigate.css">
	</header3>

	<bodyonload>
	</bodyonload>
</config>

<!-- ラベル　機能選択 -->
<div class="label-select-function">機能選択</div>
<!-- 機能ボタンを囲む外枠 -->
<div class="menu-back-border">
	<!-- 各種機能ボタン -->
	<div class="function-buttons">
		<!-- 検索 -->
		<button type="button" class="function-buttons__info btn btn-light">メッセージ</button>
		<!-- 検索 -->
		<button type="button" class="function-buttons__mail btn btn-light" _%Regist_visibility%_>管理者メール</button>
		<!-- 検索 -->
		<button type="button" class="function-buttons__session btn btn-light" _%Search_visibility%_>セッション</button>
		<!-- 検索 -->
		<button type="button" class="function-buttons__server btn btn-light" _%Search_visibility%_>サーバー</button>
	</div>
</div>
