<tr>
  <td>_%strStockitemName%_</td>
  <td>_%strCompanyName%_</td>
  <td>_%bytPayOffTargetFlag%_</td>
  <td>_%lngProductQuantity%_</td>
  <td>_%curProductRate%_</td>
  <td>_%curProductPrice%_</td>
  <td>_%curSubTotalPrice%_</td>
</tr>
