<div align="center">
	<span id="estimateActionTitle" align="center">
		削除しますか？
	</span>
	<span id="estimateActionButton" align="center">
		<a href="#"><img
					 onclick="javascript:window.close();return false;"
					 onfocus="fncChangeBtImg( this, '/img/type01/cmn/seg/close_off_on_ja_bt.gif' );"
					 onblur="fncChangeBtImg( this, '/img/type01/cmn/seg/close_off_ja_bt.gif' );"
					 onmousedown="fncAlphaOn( this );"
					 onmouseup="fncAlphaOff( this );"
					 onmouseover="fncChangeBtImg( this, '/img/type01/cmn/seg/close_off_on_ja_bt.gif' );"
					 onmouseout="fncChangeBtImg( this, '/img/type01/cmn/seg/close_off_ja_bt.gif' ); fncAlphaOff( this );"
					 src="/img/type01/cmn/seg/close_off_ja_bt.gif" width="72" height="20" border="0"
		></a>&nbsp;&nbsp;<a href="#"
				   ><img
				     onclick="javascript:window.frmAction.submit();"
				     onfocus="fncChangeBtImg( this, '/img/type01/cmn/seg/delete_gray_off_on_ja_bt.gif' );"
				     onblur="fncChangeBtImg( this, '/img/type01/cmn/seg/delete_gray_off_ja_bt.gif' );"
				     onmousedown="fncAlphaOn( this );"
				     onmouseup="fncAlphaOff( this );"
				     onmouseover="fncChangeBtImg( this, '/img/type01/cmn/seg/delete_gray_off_on_ja_bt.gif' );"
				     onmouseout="fncChangeBtImg( this, '/img/type01/cmn/seg/delete_gray_off_ja_bt.gif' ); fncAlphaOff( this );"
				     src="/img/type01/cmn/querybt/regist_gray_off_ja_bt.gif" width="72" height="20" border="0"></a>
	</span>
</div>
