	<tr style='mso-height-source:userset' height='2'>
		<td colspan=2 class=xl16114602 style='border-bottom:.5pt solid black'></td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td colspan=3 class=xl8014602></td>
	</tr>
<!--
	<tr style='mso-height-source:userset'>
		<td colspan=2 class=xl16114602 style='border-bottom:.5pt solid black'>_%lngSalesDivisionCode%_　_%strSalesDivisionName%_ 合計</td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'>\ _%curSubjectTotalCost%_</td>
		<td colspan=3 class=xl8014602></td>
	</tr>
-->

	<tr style='mso-height-source:userset'>
		<td colspan=2 class=xl20214602 style='border-bottom:.5pt solid black'>固定費売上合計</td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl20214602 align=right style='border-left:none'>\ _%curSubjectTotalCost%_</td>
		<td colspan=3 class=xl8014602></td>
	</tr>
	<tr height=16 style='mso-height-source:userset;height:12.0pt'>
		<td height=16 class=xl16514602 style='height:12.0pt'>　</td>
		<td class=xl2414602></td>
		<td class=xl2414602></td>
		<td class=xl3914602></td>
		<td class=xl2414602></td>
		<td class=xl2414602></td>
		<td class=xl2414602></td>
		<td class=xl2414602></td>
		<td class=xl2414602></td>
		<td class=xl3314602>　</td>
	</tr>
<!--
	<tr style='mso-height-source:userset' height='1'>
		<td colspan=2 class=xl16114602 style='border-bottom:.5pt solid black'></td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td colspan=3 class=xl8014602></td>
	</tr>
-->