<!--


#Backs
{
	background : #d6d0b1 ;
}



#MessageSet
{
	position   : absolute ;
	left       : 30px ;
	top        : 30px ;
	z-index    : 3 ;
	background : transparent ;
}

.regist-line
{
	left : 35px ;
	overflow: hidden;
}
.form-line{
	display: inline-block;
    box-sizing: border-box;
    padding: 3px 3px 3px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #798787;
    background-color: #e8f0f1;
}
.Column {
	display: inline-block;
	vertical-align: middle;
	font-weight : bold ;
	width : 157px ;
	line-height: 23px;
}

.VarText {
	font-family : lr oSVbN, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px;
	vertical-align: middle;
}



#ProcessBt
{
	position   : absolute ;
	left       : 78px ;
	top        : 80px ;
	background : transparent ;
}

#RivivalBt
{
	position   : absolute ;
	left       : 0px ;
	top        : 80px ;
	background : transparent ;
}


-->