<!--


#Backs
{
	background : #d6d0b1 ;
}



#MessageSet
{
	position   : absolute ;
	left       : 30px ;
	top        : 30px ;
	z-index    : 3 ;
	background : transparent ;
}



#Column0
{
	position     : absolute ;
	font-weight  : bold ;
	left         : 0px ;
	top          : 0px ;
	width        : 150px ;
	height       : 27px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #798787 #e8f0f1 #798787 #798787 ;
	background   : #e8f0f1 ;
	padding      : 8px 0px 0px 8px ;
}

#Column1
{
	position     : absolute ;
	font-weight  : bold ;
	left         : 0px ;
	top          : 30px ;
	width        : 150px ;
	height       : 27px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #798787 #e8f0f1 #798787 #798787 ;
	background   : #e8f0f1 ;
	padding      : 8px 0px 0px 8px ;
}

#Vars0
{
	position     : absolute ;
	left         : 149px ;
	top          : 0px ;
	height       : 27px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #798787 #798787 #798787 #e8f0f1 ;
	background   : #e8f0f1 ;
	padding      : 3px 0px 0px 8px ;
}

#Vars1
{
	position     : absolute ;
	left         : 149px ;
	top          : 30px ;
	height       : 27px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #798787 #798787 #798787 #e8f0f1 ;
	background   : #e8f0f1 ;
	padding      : 3px 0px 0px 8px ;
}

#ProcessBt
{
	position   : absolute ;
	left       : 78px ;
	top        : 80px ;
	background : transparent ;
}

#RivivalBt
{
	position   : absolute ;
	left       : 0px ;
	top        : 80px ;
	background : transparent ;
}


-->