/* 印刷レイアウトズレ対応 */
body
{
    margin: 0;
}

/* 帳票表示切り替えパネル */
div#report-control-panel
{
    display: none;
}

/* 金型帳票 1ページ相当 */
div#mold-report-page
{
    display: block;
    page-break-after: always;
}

/* COPY オーバーレイ */
div.copy-overlay
{
    display: none;
    position: absolute;;
    width: 100%;
    height: 100%;
    text-align: center;
}

div.copy-overlay img.copy
{
    position: relative;
    top: 20%;
    height: 35%;
    width: 70%;
    opacity: 0.4;
}
