.navigate-box
{
    position: absolute;
    top: 0px;
    left: 18px;

    width: 169px;
    height: 100%;

    background-color: #72828b;

    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #cdcdcd;

    opacity: 0.9;

    display: none;

    /* TODO 要js実装 */
    z-index: 9999;
}

.function-group
{
    margin-top: 20px;
    margin-left: 9px;
}

.OneLine {
    height: 50px;
}

.function-group > button
{
    width:90%;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-bottom: 0px;
    padding-top: 1px;
    height: 20px;
    font-size: 11px;
}
.other-function
{
    position: absolute;
    bottom: 0px;
    height: 130px;
    margin-left: 9px;
    margin-bottom: 50px;
    background:#f5f8fa;
}

.btn{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 150px;
    height: 20px;
    font-size: 11px;
    border: 1px solid transparent;
    /* 文字の太さをboldに指定 */
    font-weight: bold;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:hover {
    color: #212529;
    background-color: #bfc7ce;
    border-color: #bfc7ce;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn:disabled {
    opacity: .65;
    color: gray;
}