<config>
<header1>

</header1>


<header2>
</header2>


<header3>

</header3>
<meta http-equiv="content-type" content="text/html; charset=EUC-JP">
<bodyonload>
GetlngLanguageCode( _%lngLanguageCode%_ );
</bodyonload>
</config>

<center>
登録・修正が終了しました

_%strPreviewButton%_
</center>
</form>



