<!--


#Backs
{
	background-color : #d6d0b1 ;
}



#FinishRegist
{
	font-family : Arial , г═г╙ г╨е┤е╖е├еп, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 330px ;
	top : 250px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #f1f1f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#BackSpace
{
	font-weight : bold ;
	position : absolute ;
	left : 545px ;
	top : 250px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : d6d0b1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#CloseBt
{
	position : absolute ;
	left : 559px ;
	top : 253px ;
	border-width: 0px ;
	border-style: none ;
	background : transparent ;
}


-->