<!--


#ErrInputA { 
	position : absolute ;
	left :4px ;
	top : 15px ;
	z-index : 6 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegA01 {
	position : absolute ;
	left : 119px ;
	top : 45px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA02 {
	position : absolute ;
	left : 119px ;
	top : 75px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA03 {
	position : absolute ;
	left : 119px ;
	top : 115px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA04 {
	position : absolute ;
	left : 168px ;
	top : 149px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA05 {
	position : absolute ;
	left : 168px ;
	top : 175px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA09 {
	position : absolute ;
	left : 801px ;
	top : 135px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA10 {
	position : absolute ;
	left : 801px ;
	top : 165px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA11 {
	position : absolute ;
	left : 161px ;
	top : 209px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA12 {
	position : absolute ;
	left : 119px ;
	top : 253px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA13 {
	position : absolute ;
	left : 119px ;
	top : 283px ;
	border-width: 0px ;
	border-style: none ;
}



/******************************************
*******************************************/
#ErrInputB { 
	position : absolute ;
	left : 4px ;
	top : 15px ;
	z-index : 6 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegB02 {
	position : absolute ;
	left : 119px ;
	top : 45px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB04_2 {
	position : absolute ;
	left : 119px ;
	top : 176px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB04_4 {
	position : absolute ;
	left : 119px ;
	top : 228px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB04_5 {
	position : absolute ;
	left : 119px ;
	top : 254px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB05_2 {
	position : absolute ;
	left : 418px ;
	top : 176px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB05_4 {
	position : absolute ;
	left : 418px ;
	top : 228px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB05_5 {
	position : absolute ;
	left : 418px ;
	top : 254px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB07 {
	position : absolute ;
	left : 119px ;
	top : 291px ;
	border-width: 0px ;
	border-style: none ;
}



-->