<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- COMMON LAYOUT FILES -->
_%header1%_
<!-- COMMON LAYOUT FILES // -->

<!-- EXCLUSIVE USE LAYOUT FILES -->
_%header2%_
<!-- EXCLUSIVE USE LAYOUT FILES // -->

<!-- COMMON FILES -->
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/msw.js"></script>
<!--
<script type="text/javascript" language="javascript" src="/cmn/lng.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/date.js"></script>
-->
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbsclass.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbscript.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/lngcheck.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/masterlib.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/msw.css">

<script type="text/javascript" language="javascript" src="/cmn/clsSubMenu.js"></script>
<!-- COMMON FILES // -->

<!-- EXCLUSIVE USE FILES -->
_%header3%_
<!-- EXCLUSIVE USE FILES // -->
</head>
<body id="BaseBack" onContextmenu="return true;" onload="fncGetDate();fncReferer( strRefererVars ); _%bodyonload%_"  onclick="_%bodyonclick%_">


<!-- BASE -->
<div id="Title">
<p id="Margins" style="visibility:_%strBaseVisibilityName%_;display:_%strBaseDisplayName%_">
	<span id="Header"></span>
	<span id="LogOutBt" onclick="location.href='/login/logout.php?strSessionID=_%strSessionID%_';return false;"></span>
	<span id="Bodys"></span>
	<span id="Footer"></span>
	<span id="MainMenuButton" onclick="location.href='/menu/menu.php?strSessionID=_%strSessionID%_';return false;"></span>
	<span id="PictSpaceBase" style="visibility:_%strBaseVisibilityName%_;"></span>
	<span id="UserPictBase" style="visibility:_%strBaseVisibilityName%_;"><img src="_%strUserImageFileName%_" width="52" height="52" border="0"></span>
	<span id="strLoginUser">
		DATE&nbsp;:&nbsp;<span id="strDateVars"></span><br>
		LOGIN&nbsp;USER&nbsp;:&nbsp;[_%strUserID%_]&nbsp;_%strUserFullName%_<br>
		AUTHORITY&nbsp;GROUP&nbsp;:&nbsp;_%strAuthorityGroupName%_<br>
		GROUP&nbsp;:&nbsp;[_%strGroupDisplayCode%_]&nbsp;_%strGroupDisplayName%_<br>
		HOST&nbsp;:&nbsp;<span id="strRefererVars"></span>
	</span>
	<span id="HelpBt" onclick="fncSetFncCode( _%lngFunctionCode%_ );return false;"></span>

	<span id="TimeLimt"><iframe id="TimeIFrm" name="TimeWin" frameborder="0" scrolling="no" src="/time/index.php?strSessionID=_%strSessionID%_&strProcMode=init"></iframe></span>
</p>
</div>
<!-- BASE // -->

_%BODY%_

</body>
</html>