################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/01_kidsweb/home/kids2/lib/phpspreadsheet/phpoffice/phpspreadsheet/docs/assets/ClassDiagrams/obj
/01_kidsweb/home/kids2/vendor/phpoffice/phpspreadsheet/docs/assets/ClassDiagrams/obj/Debug
/01_kidsweb/home/kids2/vendor/phpoffice/phpspreadsheet/docs/assets/ClassDiagrams/obj/Release
/01_kidsweb/home/kids2/.vscode
