<!--



#DeptDrag {
	position : absolute ;
	left : 0px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#MswCloseBt {
	position : absolute ;
	left : 503px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}



/************************** START TAB **************************/
#TabSet {
	position : absolute ;
	left : 504px ;
	top : 20px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#TabD {
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 18px ;
	height : 181px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#TabI {
	position : absolute ;
	left : 0px ;
	top : 180px ;
	width : 18px ;
	height : 181px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/************************** END TAB **************************/






/************************** START DEPT **************************/
/********************* SEARCH SET *********************/
#InputA
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 524px ;
	height : 381px ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 1px ;
	border-style: solid ;
	background-color: transparent ;
}


/********************* SEARCH HEADER *********************/
#SearchHeader01 {
	position : absolute ;
	left : 5px ;
	top : 22px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}



/********************* SEARCH SEGMENTS *********************/
#SegA01_1 {
	font-weight : bold ;
	position : absolute ;
	left : 17px ;
	top : 57px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #ffffff #798787 #798787 ;
	background-color: #ffffff ;
	padding : 8px 0px 0px 8px ;
}

#SegA01_2 {
	font-weight : bold ;
	position : absolute ;
	left : 17px ;
	top : 87px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #ffffff #798787 #798787 ;
	background-color: #ffffff ;
	padding : 8px 0px 0px 8px ;
}

#SegABottom {
	position : absolute ;
	left : 5px ;
	top : 141px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegABodys {
	position : absolute ;
	left : 5px ;
	top : 46px ;
	width : 493px ;
	height : 100px ;
	border-width: 1px ;
	border-style: solid ;
	border-color : #cdcdcd ;
	background-color: #ffffff ;
}



/********************* SEARCH BUTTON *********************/
#SearchButton01 {
	position : absolute ;
	left : 220px ;
	top : 121px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

/*
.SearchClass
{
	position : absolute ;
	width : 64px ;
	height : 21px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
*/

/********************* SEARCH VARS *********************/
#VarsA01_1 {
	position : absolute ;
	left : 127px ;
	top : 57px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #798787 #798787 #ffffff ;
	background-color: #ffffff ;
	padding : 3px 0px 0px 8px ;
}

#VarsA01_2 {
	position : absolute ;
	left : 127px ;
	top : 87px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #798787 #798787 #ffffff ;
	background-color: #ffffff ;
	padding : 3px 0px 0px 8px ;
}






/********************* RESULT HEADER *********************/
#ResultHeader01 {
	position : absolute ;
	left : 5px ;
	top : 152px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}



/********************* RESULT SEGMENTS *********************/
#SegBBottom {
	position : absolute ;
	left : 5px ;
	top : 364px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegBBodys {
	position : absolute ;
	left : 5px ;
	top : 176px ;
	width : 493px ;
	height : 195px ;
	border-width: 1px ;
	border-style: solid ;
	border-color : #cdcdcd ;
	background-color: #ffffff ;
}




/********************* RESULT VARS *********************/
#VarsB01 {
	position : absolute ;
	left : 17px ;
	top :187px ;
	height : 27px ;
	border-width: 0px ;
	border-style: none ;
	background-color: #ffffff ;
}
/************************** END DEPT **************************/










/************************** START IN CHARGE NAME **************************/
/********************* SEARCH SET *********************/
#InputB
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 524px ;
	height : 381px ;
	z-index : 0 ;
	visibility : hidden ;
	border-width: 1px ;
	border-style: solid ;
	background-color: transparent ;
}



/********************* SEARCH HEADER *********************/
#SearchHeader01b {
	position : absolute ;
	left : 5px ;
	top : 22px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}



/********************* SEARCH SEGMENTS *********************/
#SegC01_1 {
	font-weight : bold ;
	position : absolute ;
	left : 17px ;
	top : 57px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #ffffff #798787 #798787 ;
	background-color: #ffffff ;
	padding : 8px 0px 0px 8px ;
}

#SegC01_2 {
	font-weight : bold ;
	position : absolute ;
	left : 17px ;
	top : 87px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #ffffff #798787 #798787 ;
	background-color: #ffffff ;
	padding : 8px 0px 0px 8px ;
}

#SegCBottom {
	position : absolute ;
	left : 5px ;
	top : 141px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegCBodys {
	position : absolute ;
	left : 5px ;
	top : 46px ;
	width : 493px ;
	height : 100px ;
	border-width: 1px ;
	border-style: solid ;
	border-color : #cdcdcd ;
	background-color: #ffffff ;
}



/********************* SEARCH BUTTON *********************/
#SearchButton02 {
	position : absolute ;
	left : 220px ;
	top : 121px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}




/********************* SEARCH VARS *********************/
#VarsC01_1 {
	position : absolute ;
	left : 127px ;
	top : 57px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #798787 #798787 #ffffff ;
	background-color: #ffffff ;
	padding : 3px 0px 0px 8px ;
}

#VarsC01_2 {
	position : absolute ;
	left : 127px ;
	top : 87px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #798787 #798787 #798787 #ffffff ;
	background-color: #ffffff ;
	padding : 3px 0px 0px 8px ;
}






/********************* RESULT HEADER *********************/
#ResultHeader01b {
	position : absolute ;
	left : 5px ;
	top : 152px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}



/********************* RESULT SEGMENTS *********************/
#SegDBottom {
	position : absolute ;
	left : 5px ;
	top : 364px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegDBodys {
	position : absolute ;
	left : 5px ;
	top : 176px ;
	width : 493px ;
	height : 195px ;
	border-width: 1px ;
	border-style: solid ;
	border-color : #cdcdcd ;
	background-color: #ffffff ;
}






/********************* RESULT VARS *********************/
#VarsD01 {
	position : absolute ;
	left : 17px ;
	top :187px ;
	height : 27px ;
	border-width: 0px ;
	border-style: none ;
	background-color: #ffffff ;
}
/************************** END IN CHARGE NAME **************************/






/********************* RESULT BUTTON *********************/
#ApplyButton {
	position : absolute ;
	left : 263px ;
	top : 342px ;
	z-index : 2 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ClearButton {
	position : absolute ;
	left : 190px ;
	top : 342px ;
	z-index : 2 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#Counter {
	position : absolute ;
	left : 383px ;
	top : 342px ;
	z-index : 2 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SearchResultCount
{
	position : absolute ;
	left : 406px ; /* 382px */
	top : 344px ;
	z-index : 2 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


-->