
<config>
	<header1>
		<!-- 機能選択画面 共通CSS -->
		<link rel="stylesheet"  href="/mold/cmn/select-function/css/select-function-border.css">
	</header1>

	<header2>
	</header2>

	<header3>
		<!-- 言語切り替え処理 -->
		<script src="/mm/select-function/js/switch-language.js" defer></script>
		<!-- ボタン押下時の遷移先の設定 -->
		<script src="/mm/select-function/js/set-location.js" defer></script>
	</header3>

	<bodyonload>
	</bodyonload>
</config>

<!-- ラベル　機能選択 -->
<div class="label-select-function">機能選択</div>
<!-- 機能ボタンを囲む外枠 -->
<div class="menu-back-border">
	<!-- 各種機能ボタン -->
	<div class="function-buttons">
		<!-- 登録 -->
		<img class="function-buttons__regist button" src="" alt="Regist">
		<!-- 検索 -->
		<img class="function-buttons__search button" src="" alt="Search">
	</div>
</div>
