
/* ラベル 機能選択 */
.label-select-function
{
    position: absolute;
    top: 158px;
    left: 0px;

    width: 100%;
    height: 27px;

    background-color: #4b6486;

    border-style: solid;
    border-width: 1px 0px;
    border-color: #cdcdcd;

    line-height: 27px;
    text-align: center;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial , ＭＳ Ｐゴシック, Osaka
}


.menu-back-border
{
    position: absolute;
    top: 185px;
    left: 0px;

    width: 100%;
    height: 170px;

    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #cdcdcd;

    text-align: center;
    line-height: 170px;
}
