<config>
<header1>
	<link rel="stylesheet" href="/search/cmn/form/css/forms.css">
	<link rel="stylesheet" href="/search/cmn/form/css/tabs.css">
	<link rel="stylesheet" href="/search/cmn/navigate/css/navigate.css">
    <link rel="stylesheet" href="/inv/cmn/form/css/forms.css">
	<script src="/search/cmn/form/js/tab-function.js" defer></script>
	<script src="/search/cmn/form/js/util-selectbox.js" defer></script>
    <!-- チェックボックスの切り替え処理 -->
    <script src="/search/cmn/search/js/toggleCheckbox.js" defer></script>
    <!-- 検索画面共通入力補助 -->
    <script src="/search/cmn/search/js/input-assist.js" defer></script>
	<!-- msw 表示 -->
	<script src="/search/cmn/msw/cmn/js/msw.js" defer></script>
    <!-- COOKIE関連の処理(検索画面) -->
    <script src="/search/cmn/search/js/cookie-functions.js" defer></script>
</header1>

<header2>
</header2>

<header3>
	<!-- datepickerの要素指定 -->
	<script src="/search/cmn/js/datepicker.js" defer></script>
	<!-- msw汎用スタイル -->
	<link rel="stylesheet" href="/search/cmn/css/msw.css">
    <!-- フォームボタン css -->
    <link rel="stylesheet" href="/search/cmn/css/form-buttons.css">
    <!-- フォームバリデーション -->
    <script src="/inv/cmn/js/validate-regist-form.js" defer></script>
    <!--  <script src="/search/cmn/js/validate-form.js" defer></script> -->
    <!-- マスタ検索呼び出し -->
	<script src="/search/cmn/js/invoke-master-search.js" defer></script>
    <script src="/mold/lib/js/queryMasterData.js" defer></script>
    <!-- COOKIE 表示チェックボックス 保存/復元 -->
	<script src="/search/cmn/js/cookie-display-items.js" defer></script>
    <!-- キーバインド -->
	<script src="/search/cmn/js/key-bind.js" defer></script>
    <!-- 請求日設定 -->
    <script src="/inv/cmn/js/msw-regist.js" defer></script>
    <!-- tablesorter -->
    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script> -->
    <script src="/cmn/jquery/tablesorter/jquery.tablesorter.js"></script>
    <script src="/cmn/jquery/tablesorter/jquery.tablesorter.widgets.js"></script>
    <!-- フォーム ボタン -->
    <!--   <script src="/inv/cmn/js/form-buttons.js" defer></script> -->
    <!-- TABLE操作 -->
    <script src="/inv/cmn/js/table.js" defer></script>
</header3>

<bodyonload>
</bodyonload>
</config>

<!-- 左サイドバー ナビゲート -->
<!--
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/inv/cmn/navigate/inv_navi.html');
	</script>
</div>
-->

<!-- 入力フォーム -->
<div class="form-box--notabs-for-regists">
	<!-- フォームヘッダ -->
	<div class="form-box__header">
		<p class="form-box__header__title">請求書登録</p>
	</div>
	<!-- フォームコンテンツ -->
	<div class="form-box__contents--with-scroll">
        <form name="Invoice" method="post">
            <input type="submit">
            <div class="regist-box-area">
                <div class="regist-box1">
                    <div class="regist-line regist-float">
                        <span class="regist-label w-465">
                            <span class="regist-label__text50">顧客</span>
                            <input class="TxtStyle05L input-code"  name="lngCustomerCode"  type="text" value="_%strCustomerCode%_" iscustomer="yes" alt="Customer">
                            <input class="disTxt2xL input-name"  name="strCustomerName"  type="text" readonly value="_%strCustomerName%_">
                            <img class="msw-inv-button button" invokeMSWName="msw-customer" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                        </span>
                    </div>
                </div>
                <div class="regist-box2">
                    <span class="regist-label  regist-label-w190"">
                        <span class="regist-label__text50">請求月</span>
                        <select id="invoiceMonth"  class="TxtStyle05L" name="From_strInvoiceMonth"  ></select>
                        <span class="regist-label__bold">月分</span>
                    </span>

                </div>
                <div class="regist-box3">
                    <span class="regist-label">
                        <span class="regist-label__text130">先月請求残額(税込)</span>
                        <input class="disTxt14R" name="curlastmonthbalance" type="text" readonly value="_%curLastMonthBalance%_">
                    </span>
                </div>
                <div class="regist-clear"></div>
            </div>

            <div class="regist-box-area">
                <div class="regist-box1">
                    <div class="regist-line regist-float">
                        <span class="regist-label">
                            <span class="regist-label__text50">起票者</span>
                            <input class="Txt07L" name="lngInputUserCode"  type="text" value="_%strUserCode%_" alt="InputUser">
                            <input class="disTxt120pxL" name="strInputUserName"  type="text" readonly value="_%strUserName%_" >
                            <img class="msw-button button" invokeMSWName="msw-inputuser" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                        </span>
                        <span class="regist-label">
                            <span class="regist-label__text50">請求日</span>
                            <input name="ActionDate" class="TxtStyle05L billing-date" autocomplete="off" value="_%dtmInvoiceDate%_" >
                            <span class="billing-button"><img class="billing-button-img button"  src="/img/type01/date/open_off_bt.gif" alt="msw"></span>
                        </span>
                    </div>
                </div>
                <div class="regist-box2">
                    <span class="regist-label regist-label-w190">
                        <span class="regist-label__text50">自</span>
                        <input class="TxtStyle04L" name="dtmchargeternstart"  type="text"  value="_%dtmChargeternStart%_"  maxlength="10"  onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
                    </span>

                </div>
                <div class="regist-box3">
                    <span class="regist-label">
                        <span class="regist-label__text130">当月請求額</span>
                        <input class="disTxt14R" name="curthismonthamount" type="text" readonly value="_%curThisMonthAmount%_" >
                    </span>
                </div>
                <div class="regist-clear"></div>
            </div>

            <div class="regist-box-area">
                <div class="regist-box1">
                    <div class="regist-line regist-float">
                        <span class="regist-label w-465">
                            <span class="regist-label__text50">備考</span>
                            <input class="disTxt4xL" name="strnote" type="text"  onfocus="chColorOn(this);" onblur="chColorOff(this);" value="_%strNote%_" >
                        </span>
                    </div>
                </div>
                <div class="regist-box2">
                    <span class="regist-label regist-label-w190">
                        <span class="regist-label__text50">至</span>
                        <input class="TxtStyle04L" name="dtmchargeternend"  type="text"  value="_%dtmChargeternEnd%_"  maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
                    </span>

                </div>
                <div class="regist-box3">
                    <span class="regist-label">
                        <span class="regist-label__text130">消費税</span>
                        <input class="disTxt14R" name="curtaxprice" type="text" readonly value="_%curTaxPrice1%_" >
                    </span>
                </div>
                <div class="regist-clear"></div>
            </div>

            <div class="regist-box-area">
                <div class="regist-box1">
                    <div class="regist-line regist-float">
                        <span style="display:none;"></span>
                    </div>
                </div>
                <div class="regist-box2">
                    <span class="regist-label regist-label-w190">
                        <span class="regist-label__text177">
                            再印刷を備考に明記する<input name="strnotecheck" class="is-search" type="checkbox">
                        </span>
                    </span>

                </div>
                <div class="regist-box3">
                    <span class="regist-label">
                        <span class="regist-label__text130">差し引き合計額</span>
                        <input class="disTxt14R" name="notaxcurthismonthamount" type="text" readonly value="_%curSubTotal1%_">
                    </span>
                </div>
                <div class="regist-clear"></div>
            </div>
            <hr />


            <div class="flex-container">
                <div class="flex-item">
                    <div class="flex-inner-container">
                        <div class="flex-inner-item">
                            <table id="tableA" class="tablesorter">
                                <thead>
                                    <tr>
                                        <th class="checkbox"><label for="allChecked">選択</label><input type="checkbox" id="allChecked" /></th>
                                        <th class="serial">No.</th>
                                        <th class="slipcode">納品書NO.<span></span></th>
                                        <th class="customer">納品先<span></span></th>
                                        <th class="deliverydate">納品日<span></span></th>
                                        <th class="price">税抜金額<span></span></th>
                                        <th class="taxclass">課税区分<span></span></th>
                                        <th class="tax">税率<span></span></th>
                                        <th class="taxamount">消費税額<span></span></th>
                                        <th class="remarks">備考<span></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="checkbox center"><input type="checkbox" class="check" /></td>
                                        <td class="serial center"><span></span></td>
                                        <td class="slipcode"></td>
                                        <td class="customer">
                                            <span class="customercode"></span><span class="customername"></span>
                                        </td>
                                        <td class="deliverydate"></td>
                                        <td class="price right"></td>
                                        <td class="taxclass">
                                            <span class="taxclasscode"></span><span class="taxclassname"></span>
                                        </td>
                                        <td class="tax right"></td>
                                        <td class="taxamount right"></td>
                                        <td class="remarks"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="flex-inner-item">
                            <div class="flex-between-column">
                                <button type="button" id="btnSearchCondition" class="btn">
                                    検索条件入力
                                </button>
                                <button type="button" id="btnAdd" class="btn">
                                    追加
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="flex-inner-container">
                        <div class="flex-inner-item">
                            <table id="tableB" class="tablesorter">
                                <thead>
                                    <tr>
                                        <th class="serial">No.</th>
                                        <th class="slipcode">納品書NO.<span></span></th>
                                        <th class="customer">納品先<span></span></th>
                                        <th class="deliverydate">納品日<span></span></th>
                                        <th class="price">税抜金額<span></span></th>
                                        <th class="taxclass">課税区分<span></span></th>
                                        <th class="tax">税率<span></span></th>
                                        <th class="taxamount">消費税額<span></span></th>
                                        <th class="remarks">備考<span></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                            <td class="serial center"><span></span></td>
                                            <td class="slipcode"></td>
                                            <td class="customer">
                                                <span class="customercode"></span><span class="customername"></span>
                                            </td>
                                            <td class="deliverydate"></td>
                                            <td class="price right"></td>
                                            <td class="taxclass">
                                                <span class="taxclasscode"></span><span class="taxclassname"></span>
                                            </td>
                                            <td class="tax right"></td>
                                            <td class="taxamount right"></td>
                                            <td class="remarks"></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="flex-inner-item">
                            <div class="flex-between-column">
                                <button type="button" id="btnDelete" class="btn">
                                    削除
                                </button>
                                <button type="button" id="btnAllDelete" class="btn">
                                    全削除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="ActionScriptName"   value="_%ActionScriptName%_">
            <input type="hidden" name="strSessionID"       value="_%strSessionID%_">
            <input type="hidden" name="invConditionUrl"    value="_%invConditionUrl%_">
            <input type="hidden" name="lngInvoiceNo"       value="_%lngInvoiceNo%_" >
            <input type="hidden" name="strMode"            value="renewPrev" >
		</form>
	</div>
    <!-- previewボタン -->
    <div>
        <img class="preview-button button"  name="inv-customer" src="/img/type01/cmn/querybt/preview_off_ja_bt.gif" alt="preview">
    </div>

    <div class="msw-loadpoints">
		<!-- MSW 顧客マスタ検索 -->
		<iframe class="msw-customer" src="/search/cmn/msw/customer/mswcustomer.html" frameborder="0">
		</iframe>
        <!-- MSW 入力者マスタ検索 -->
        <iframe class="msw-inputuser" src="/search/cmn/msw/inputuser/mswinputuser.html" frameborder="0">
        </iframe>
	</div>
</div>
<script>
// 修正初期状態
var renewInit = function(invoiceNo) {
    // 入力値を取得
    // 顧客
    var params = {
        mode: 'ajaxRenew',
        invoiceNo: invoiceNo,
        strSessionID: $('input[name="strSessionID"]').val(),
    }


    // 検索する
    var search = {
        url: '/inv/regist/condition.php?strSessionID=' + $.cookie('strSessionID'),
        type: 'post',
        dataType: 'json',
        data:params
    };

    $.ajax( search )
        .done(function(response){
            console.log(response);
            $.createTable(response);
        })
        .fail(function(response){
            alert('検索に失敗しました');
            console.log(response);

            return;
        });

     return false;
};
setTimeout(renewInit('_%lngInvoiceNo%_'),900);
</script>
