<!--

#Backs
{
	background-color : #d6d0b1 ;
}



#QuerySet
{ 
	position : absolute ;
	left : 35px ;
	top : 156px ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#label_Tab, #label_Excel
{
	position : absolute ;
	left : 0px ;
	top : -5px ;
	border: 1px solid black;
	width:300px;
	height:30px;
	padding:10px 0 0 10px;
	
}

#label_Excel
{
	top : 45px ;
}

#PreviewBt, #PreviewBt2
{
	position : absolute ;
	left : 130px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ; /* transparent */
}
#PreviewBt2
{
	top : 50px ;
}


#ExportBt, #ExportBt2
{
	position : absolute ;
	left : 208px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ; /* transparent */
}
#ExportBt2
{
	top : 50px ;
}



#DummySpace
{
	position : absolute ;
	left : 0px ;
	top : 357px ;
	width : 10px ;
	height : 20px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ; /* transparent */
}


/* START SEGMENTS */
#Segs { 
	position : absolute ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#Column0 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 140px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#Column1 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 170px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#Column2 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 196px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#Column3 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 226px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA04 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 252px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA0304 {
	position : absolute ;
	left : 601px ;
	top : 296px ;
	width : 33 ;
	height : 58px ;
	border-width: 1px ;
	border-style: solid ;
	border-color : #798787 ;
	background-color : #e8f0f1 ;
}

#SegA02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 282px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA07 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 312px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB08 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 342px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB09 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 372px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB0809 {
	position : absolute ;
	left : 699px ;
	top : 450px ;
	width : 33 ;
	height : 58px ;
	border-width: 1px ;
	border-style: solid ;
	border-color : #798787 ;
	background-color : #e8f0f1 ;
}

#SegA09 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 402px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA08 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 402px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA12 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 432px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA13 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 432px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB06 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 462px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB07 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 462px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA11 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 173px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA14 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 345px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA15 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 375px ;
	width : 157px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}
/* END SEGMENTS */


/* START VARS */
#VarsA01 {
	position : absolute ;
	font-family : ＭＳ Ｐゴシック, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px;
	line-height : 12px ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA05 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA06 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA03 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA04 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}


#VarsA02 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}


#VarsA07 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB08 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}


#VarsB09 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA09 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA08 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA12 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA13 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB06 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB07 {
	position : absolute ;
	left : 166px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}


#VarsA11 {
	position : absolute ;
	left : 129px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA14 {
	position : absolute ;
	left : 129px ;
	top : 345px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsA15 {
	position : absolute ;
	left : 129px ;
	top : 375px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}




/* START SEGMENTS */
#InputB {
	position : absolute ;
	left : 189px ;
	top : 111px ;
	z-index : 0 ;
	visibility : hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegB01 {
	font-weight : bold ;
	position : absolute ;
	left : 237px ;
	top : 143px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB02 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 143px ;
	width : 120px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB03 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 40px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegA17 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 70px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB04 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 100px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB05 {
	font-weight : bold ;
	position : absolute ;
	left : 549px ;
	top : 100px ;
	width : 170px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB11 {
	font-weight : bold ;
	position : absolute ;
	left : 237px ;
	top : 173px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB10 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 214px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB20 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 214px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB16 {
	font-weight : bold ;
	position : absolute ;
	left : 450px ;
	top : 173px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB12 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 244px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB13 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 274px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB17 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 304px ;
	width : 140px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#SegB14 {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}
/* END SEGMENTS */



/* START VARS */
#VarsB01 {
	position : absolute ;
	left : 335px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB02 {
	position : absolute ;
	left : 122px ;
	top : 143px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB03 {
	position : absolute ;
	left : 129px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsA17 {
	position : absolute ;
	left : 129px ;
	top : 70px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsB04 {
	position : absolute ;
	left : 129px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#VarsB05 {
	position : absolute ;
	left : 640px ;
	top : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB10 {
	position : absolute ;
	left : 168px ;
	top : 214px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB20 {
	position : absolute ;
	left : 168px ;
	top : 214px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB11 {
	position : absolute ;
	left : 356px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB16 {
	position : absolute ;
	left : 569px ;
	top : 173px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB12 {
	position : absolute ;
	left : 168px ;
	top : 244px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB13 {
	position : absolute ;
	left : 168px ;
	top : 274px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB17 {
	position : absolute ;
	left : 129px ;
	top : 304px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#VarsB14 {
	position : absolute ;
	left : 129px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 3px 8px ;
}
/* END VARS */



#DetailSegs {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#DetailVars {
	position : absolute ;
	left : 129px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#InputSegs {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}
#InputVars {
	position : absolute ;
	left : 129px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 8px ;
}

#FixSegs {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#FixVars {
	position : absolute ;
	left : 129px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

#DeleteSegs {
	font-weight : bold ;
	position : absolute ;
	left : 10px ;
	top : 405px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#DeleteVars {
	position : absolute ;
	left : 129px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

















/********************* START DATE BUTTON *********************/
#DateBtA {
	position : absolute ;
	left : 728px ;
	top : 104px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/********************** END DATE BUTTON **********************/



/********************* START MSW BUTTON *********************/
/* START [INPUT2] BUTTON  */
#MSWBt09 {
	position : absolute ;
	left : 610px ;
	top : 269px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [INPUT2] BUTTON  */

/* START [CREATION FACTORY] BUTTON 02 */
#MSWBt01_2 {
	position : absolute ;
	left : 704px ;
	top : 733px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [CREATION FACTORY] BUTTON 02 */

/* START [ASSEMBLY FACTORY] BUTTON 03 */
#MSWBt01_3 {
	position : absolute ;
	left : 704px ;
	top : 764px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [ASSEMBLY FACTORY] BUTTON 03 */

/* START [DEPT & IN CHARGE NAME] BUTTON */
#MSWBt02 {
	position : absolute ;
	left : 610px ;
	top : 315px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [DEPT & IN CHARGE NAME] BUTTON */


/* START [LOCATION] BUTTON */
#MSWBt04 {
	position : absolute ;
	left : 704px ;
	top : 795px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [LOCATION] BUTTON */


/* START [VENDOR & IN CHARGE NAME] BUTTON */
#MSWBt07 {
	position : absolute ;
	left : 707px ;
	top : 470px ;
	border-width : 0px ;
	border-style : none ;
	background-color : #ffffff ;
}
/* END [VENDOR & IN CHARGE NAME] BUTTON */
/********************** END MSW BUTTON **********************/










-->