.table-description
{
    border-collapse: collapse;
    width: auto;
    margin-bottom: 0rem;
    table-layout: fixed;
}
.table-description thead
{    
    font-size: 8pt;
    color: white;
    font-weight: normal;
}

.table-description thead > tr
{
    background-color: #799797;
}
.table-description tbody > tr
{
    height: 20px;
    
    background-color: #ffffff;
}
.table-description th{
    height:30px;
    width:120px;
    text-align: center;
}
.table-description td{
    /* height:30px; */
    text-align: left;
}
.table-description th,
.table-description td{
    border: 1px solid #798787;
}