<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutnavi.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/upload2/cmn/images.js"></script>
</header1>

<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/upload2/initlayout.js"></script>
</header2>

<header3>
<script type="text/javascript" language="javascript" src="/upload2/cmn/function.js"></script>
<script type="text/javascript" language="javascript" src="exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="_%strCssName%_">
<link rel="stylesheet" type="text/css" media="screen" href="_%strErrorCssName%_">

<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
</header3>

<bodyonload>
initLayoutBase(); initLayoutUpload(); initLayoutNavi(); GetlngLanguageCode( _%lngLanguageCode%_ ); fncFileUpload( document.all.lngRegistConfirm.value, window.exc_upload ); Loading();
</bodyonload>
</config>



	<input type="hidden" name="lngRegistConfirm"	value="_%lngRegistConfirm%_" />
	<input type="hidden" name="lngLanguageCode"		value="_%lngLanguageCode%_" />



	<p id="Preload">
		<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
	</p>


	<span id="MainTitle"	style="visibility:_%strBaseVisibilityName%_;"></span>
	<span id="NaviButton"	style="visibility:_%strBaseVisibilityName%_;"></span>

	<p id="Navigations" onmouseout="NavigationOFF( Navigations , NaviButton );">
		<span id="Navi">
			<iframe id="NaviIfrm" name="NAVIwin" frameborder="0" scrolling="no" src="/navi/index.php?strSessionID=_%strSessionID%_&strNaviCode=estimate-1111"></iframe>
		</span>
	</p>



	<p id="InputA">
		<span id="SegABodys"></span>
		<span id="SegAHeader"></span>
		<span id="SegABottom"></span>


		<div id="uploadSection">
			<form name="exc_upload" method="post" enctype="multipart/form-data" action="index.php">

				<input type="hidden" name="ActionScriptName"	value="_%strActionScriptName%_" />
				<input type="hidden" name="strSessionID"		value="_%strSessionID%_" />
				<input type="hidden" name="lngFunctionCode"		value="_%lngFunctionCode%_" />

				<input type="hidden" name="style"				value="_%style%_" />
				<input type="hidden" name="exc_name"			value="_%exc_name%_" />
				<input type="hidden" name="exc_type"			value="_%exc_type%_" />
				<input type="hidden" name="exc_tmp_name"		value="_%exc_tmp_name%_" />
				<input type="hidden" name="exc_error"			value="_%exc_error%_" />
				<input type="hidden" name="exc_size"			value="_%exc_size%_" />



			<span id="colExcel">Excel</span>
			<span id="varExcel"><input class="Txt90L" type="file" name="excel_file" />
			</span>
			<span id="btnUpload" onclick="fncCheckField(); return false;"></span>

			</form>
		</div>

	</p>



	<span id="EtoJ" style="visibility:_%strBaseVisibilityName%_;"></span>
