
<config>
<header1>

</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/so/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/so/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/so/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/so/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/initlayoutnavi.js"></script>
</header2>


<header3>
<link rel="stylesheet" type="text/css" media="screen" href="/so/layout.css">
</header3>



<bodyonload>
initLayoutBase();initLayoutSO();initLayoutNavigation();Loading();
</bodyonload>
</config>

<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>

<!-- ヘッダ -->

<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->

<span id="strSelectFunctions">機能選択</span>
<span id="MenuBackBorder"></span>
<span id="MenuBack"></span>


<p id="TopNavi">
<span id="SearchNaviBt1" onclick="javascript:location='_%strSearchURL%_';"></span>
</p>


<span id="OverLayer"></span>