<config>
<bodyonload>
initLayoutBased();initLayoutSO();initLayoutMswBtSO();initLayoutDateBtSO();initLayoutError();autoFocus1();TodayDate();
</bodyonload>
<header>
<link rel="stylesheet" type="text/css" media="screen" href="/so/layout.css">
<script type="text/javascript" language="javascript" src="/so/exstr.js"></script>
<script type="text/javascript" language="javascript" src="/so/functions.js"></script>
</header>
</config>

<bgsound id="BeepSound" src="/error/dummy.aif" loop="1" balance="0" volume="-100">



<form name="HSO" action="" method="post">



<!-- //////////////////////////////////// START BASE //////////////////////////////////// -->
<p id="Margins">
<span id="Header"></span>
<span id="LogOutBt"></span>
<span id="Bodys"></span>
<span id="Menus"></span>
<span id="Footer"></span>
</p>
<!-- ///////////////////////////////////// END BASE ///////////////////////////////////// -->



<!-- //////////////////////////////////// START MAIN TITLE //////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- ///////////////////////////////////// END MAIN TITLE ///////////////////////////////////// -->



<!-- //////////////////////////////////// START NAVIGATION //////////////////////////////////// -->
<!-- START ONLY NAVI -->
<span id="RegistNaviBt"></span>
<span id="SearchNaviBt"></span>
<!-- END ONLY NAVI -->

<!-- START COMMON NAVI -->
<span id="MasterNaviBt"></span>
<span id="MenuNaviBt"></span>
<!-- END COMMON NAVI -->
<!-- ///////////////////////////////////// END NAVIGATION ///////////////////////////////////// -->










<!-- //////////////////////////////////// START INPUT A SEGMENTS //////////////////////////////////// -->
<p id="InputA">


<!-- START BODYS -->
<span id="SegABodys"></span>
<!-- END BODYS -->

<!-- START HEADER -->
<span id="SegAHeader"></span>
<!-- END HEADER -->

<!-- START BOTTOM -->
<span id="SegABottom"></span>
<!-- END BOTTOM -->

<!-- START QUERY BUTTON -->
<span id="SegAClearBt"></span>
<!-- END QUERY BUTTON -->


<!-- START SEGMENTS -->
<span id="SegA01">計上日</span>
<span id="SegA02">受注ＮＯ．</span>
<span id="SegA03">顧客</span>
<span id="SegA04">部門</span>
<span id="SegA05">担当者</span>
<span id="SegA0405"></span>
<span id="SegA06">状態</span>
<span id="SegA07">通貨</span>
<span id="SegA08">レートタイプ</span>
<span id="SegA09">換算レート</span>
<!-- END SEGMENTS -->


<!-- START VARS -->
<span id="VarsA01">
	<input class="TxtStyle05L" type="text" name="demo_date" size="10" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);this.value = ComfncYMDFormat(this.value);" tabindex="">
</span>

<span id="VarsA02_1">
	<input class="TxtStyle05L" type="text" name="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">-
</span>
<span id="VarsA02_2">
	<input class="TxtStyle01L" type="text" name="" maxlength="2" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA03_1">
	<input class="TxtStyle05L" type="text" name="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA03_2">
	<input class="TxtStyle06L" type="text" name="" maxlength="25" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA04_1">
	<input class="TxtStyle02L" type="text" name="" maxlength="2" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA04_2">
	<input class="TxtStyle06L" type="text" name="" maxlength="25" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA05_1">
	<input class="TxtStyle02L" type="text" name="" maxlength="3" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA05_2">
	<input class="TxtStyle06L" type="text" name="" maxlength="25" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsA06">
	<select name="" tabindex="">
		<option value="">受注</option>
		<option value="">納品中</option>
		<option value="">納品済</option>
	</select>
</span>

<span id="VarsA07">
	<select name="" tabindex="">
		<option value="">日本円</option>
		<option value="">ＵＳＤ</option>
		<option value="">ＨＫＤ</option>
	</select>
</span>

<span id="VarsA08">
	<select name="" tabindex="">
		<option value="">TTM</option>
		<option value="">社内レート</option>
	</select>
</span>

<span id="VarsA09">
	<input class="TxtStyle04R" type="text" name="" maxlength="7" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>
<!-- END VARS -->


<!-- START [VENDOR] BUTTON -->
<span id="MSWBt01"></span>
<!-- END [VENDOR] BUTTON -->
<!-- START [DEPT & IN CHARGE NAME] BUTTON -->
<span id="MSWBt02"></span>
<!-- END [DEPT & IN CHARGE NAME] BUTTON -->
<!-- START DATE BUTTON -->
<span id="DateBtA"></span>
<!-- END DATE BUTTON -->


</p>
<!-- ///////////////////////////////////// END INPUT A SEGMENTS ///////////////////////////////////// -->



</form>



<form name="DSO" action="" method="post">



<!-- //////////////////////////////////// START INPUT B SEGMENTS //////////////////////////////////// -->
<p id="InputB">


<!-- START HEADER -->
<span id="SegBHeader"></span>
<!-- END HEADER -->

<!-- START BODYS -->
<span id="SegBBodys"></span>
<!-- END BODYS -->

<!-- START BOTTOM -->
<span id="SegBBottom"></span>
<!-- END BOTTOM -->

<!-- START QUERY BUTTON -->
<span id="AddRowBt"></span>
<span id="DelRowBt"></span>
<span id="CommitBt"></span>
<span id="RegistBt"></span>
<span id="SegBClearBt"></span>
<!-- END QUERY BUTTON -->


<!-- START SEGMENTS 01 -->
<span id="SegB01">売上区分</span>
<span id="SegB02">製品</span>
<span id="SegB03">取引先品番</span>
<span id="SegB04_2">製品単価</span>
<span id="SegB04_3">製品単位</span>
<span id="SegB04_4">製品数量</span>
<span id="SegB04_5">税抜金額</span>
<span id="SegB05_2">荷姿単価</span>
<span id="SegB05_3">荷姿単位</span>
<span id="SegB05_4">荷姿数量</span>
<span id="SegB06">納品日</span>
<span id="SegB07">備考</span>
<span id="SegB08">単価リスト</span>
<!-- END SEGMENTS 01 -->


<!-- START VARS -->
<span id="VarsB01">
	<select class="SlctStyle01" name="gset" tabindex="">
		<option value="401">本荷</option>
		<option value="402">テストロケ</option>
		<option value="403">セットサンプル</option>
		<option value="404">立替運賃</option>
		<option value="405">試作代</option>
		<option value="406">原型</option>
		<option value="407">金型</option>
		<option value="408">マスク</option>
		<option value="409">その他</option>
	</select>
</span>

<span id="VarsB02_1">
	<input class="TxtStyle03L" type="text" name="gcode" maxlength="4" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsB02_2">
	<input class="TxtStyle07L" type="text" name="gname" maxlength="40" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsB03">
	<input class="TxtStyle05L" type="text" name="gcodeco" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsB04_1" id="ExColor4_1">
	<input class="RadioStyle01" type="radio" name="gunit" value="gs" tabindex="">
</span>

<span id="VarsB04_2">
	<input class="TxtStyle08R" type="text" name="price" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);ComfncMoneyFormat(this);" tabindex="">
</span>

<span id="VarsB04_3">
	<input class="TxtStyle08R" type="text" name="unit" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsB04_4">
	<input class="TxtStyle08R" type="text" name="qty" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);ComfncMoneyFormat(this);" tabindex="">
</span>

<span id="VarsB04_5">
	<input class="TxtStyle08R" type="text" name="amttax" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);ComfncMoneyFormat(this);" tabindex="">
</span>

<span id="VarsB05_1" id="ExColor5_1">
	<input class="RadioStyle01" type="radio" name="gunit" value="ps" tabindex="">
</span>

<span id="VarsB05_2">
	<input class="TxtStyle08R" type="text" name="pprice" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);ComfncMoneyFormat(this);" tabindex="">
</span>

<span id="VarsB05_3">
	<input class="TxtStyle08R" type="text" name="punit" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsB05_4">
	<input class="TxtStyle08R" type="text" name="pamttax" value="" maxlength="17" onfocus="chColorOn(this);" onblur="chColorOff(this);ComfncMoneyFormat(this);" tabindex="">
</span>

<span id="VarsB06">
	<input class="TxtStyle05L" tabindex="1" type="text" name="ddate" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);this.value = ComfncYMDFormat(this.value);" tabindex="">
</span>

<span id="VarsB07">
	<input class="TxtStyle09L" type="text" name="remark" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
</span>

<span id="VarsB08">
	<select class="SlctStyle01" name="pricelist" tabindex="">
		<option value="pl01">100,000</option>
		<option value="pl02">120,000</option>
		<option value="pl03">140,000</option>
	</select>
</span>
<!-- END VARS -->


<!-- START SEGMENTS 02 -->
<span id="SegB04_1" id="ExStrD04_1">製品単位計上</span>
<span id="SegB05_1" id="ExStrD05_1">荷姿単位計上</span>
<!-- END SEGMENTS 02 -->


<!-- START [GOODS] BUTTON -->
<span id="MSWBt03"></span>
<!-- END [GOODS] BUTTON -->

<!-- START PACKING UNIT BUTTON -->
<span id="PunitBt"></span>
<!-- END PACKING UNIT BUTTON -->

<!-- START DATE BUTTON -->
<span id="DateBtB"></span>
<!-- END DATE BUTTON -->


</p>
<!-- ///////////////////////////////////// END INPUT B SEGMENTS ///////////////////////////////////// -->










<!-- //////////////////////////////////// START INPUT C SEGMENTS //////////////////////////////////// -->
<p id="InputC">


<!-- START HEADER -->
<span id="SegCHeader"></span>
<!-- END HEADER -->
<!-- START BODYS -->
<span id="SegCBodys"></span>
<!-- END BODYS -->
<!-- START BOTTOM -->
<span id="SegCBottom"></span>
<!-- END BOTTOM -->


<!-- START SEGMENTS -->
<span id="SegC01">
	<iframe id="SegCIFrm" name="DLwin" frameborder="0" src="/dlist/so/index.html"></iframe>
</span>
<!-- END SEGMENTS -->


</p>
<!-- ///////////////////////////////////// END INPUT C SEGMENTS ///////////////////////////////////// -->













<!-- //////////////////////////////////// START MSW //////////////////////////////////// -->
<!-- START [VENDOR] -->
<p id="MiFrame01" onclick="Zchange(this);">
<iframe id="Mdata01" name="MVwin" frameborder="0" scrolling="no" src="/msw/preload.html"></iframe>
<span id="DummyDrag01" onmousedown="pickup01('MiFrame01',event);return false;"></span>
<span id="DummyClose01" onclick="CloseWinM01();DisplayerM01();ExchangeM01();return false;"></span>
</p>
<!-- END [VENDOR] -->


<!-- START [DEPT & IN CHARGE NAME] -->
<span id="MiFrame02" onclick="Zchange(this);">
	<table width="524" cellspacing="0" cellpadding="0" boeder="0" bgcolor="#3885c0" onmousedown="pickup02('MiFrame02',event);return false;">
		<tr>
			<td width="503" height="18"><img src="/img/msw/md_drag.gif" width="503" height="18" border="0"></td>
			<td width="21" height="18"><a href="#" onclick="CloseWinM02();DisplayerM02();ExchangeM02();return false;"><img src="/img/msw/msw_close.gif" width="21" height="18" border="0"></a></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan="2"><iframe id="Mdata02" name="MDwin" frameborder="0" scrolling="no" src="/msw/preload.html"></iframe></td>
		</tr>
	</table>
</span>
<!-- END [DEPT & IN CHARGE NAME] -->


<!-- START [GOODS] -->
<span id="MiFrame03" onclick="Zchange(this);">
	<table width="689" cellspacing="0" cellpadding="0" boeder="0" bgcolor="#3885c0" onmousedown="pickup03('MiFrame03',event);return false;">
		<tr>
			<td width="668" height="18"><img src="/img/msw/mg_drag.gif" width="668" height="18" border="0"></td>
			<td width="21" height="18"><a href="#" onclick="CloseWinM03();DisplayerM03();ExchangeM03();return false;"><img src="/img/msw/msw_close.gif" width="21" height="18" border="0"></a></td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" colspan="2"><iframe id="Mdata03" name="MGwin" frameborder="0" scrolling="no" src="/msw/preload.html"></iframe></td>
		</tr>
	</table>
</span>
<!-- END [GOODS] -->
<!-- ///////////////////////////////////// END MSW ///////////////////////////////////// -->











<!-- //////////////////////////////////// START TAB //////////////////////////////////// -->
<span id="TabA"></span>
<span id="TabB"></span>
<!-- ///////////////////////////////////// END TAB ///////////////////////////////////// -->










<!-- ////////// START E TO J ////////// -->
<span id="EtoJ"></span>
<!-- /////////// END E TO J /////////// -->













<!-- //////////////////////////////////// START ERROR MESSEAGE //////////////////////////////////// -->
<!-- START ERROR WINDOW -->
<span id="MegWin"></span>
<!-- END ERROR WINDOW -->

<!-- START ERROR MESSAGE -->
<span id="ErrMeg"></span>
<!-- END ERROR MESSAGE -->

<!-- START ERROR MARK -->
<span id="ERmark"></span>
<!-- END ERROR MARK -->
<!-- ///////////////////////////////////// END ERROR MESSEAGE ///////////////////////////////////// -->












</form>
