<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-jp"/>
    <title>K.I.D.S.</title>
    <script src="/cmn/jquery/jquery-3.1.0.js"></script>
    <script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
    <script src="/sc/regist2/preview.js"></script>

_%PREVIEW_STYLE%_
<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
		margin: 0 !important;
		overflow-y: scroll;
    }
    .site-header{
        background:#f1f1f1;
        position: fixed;
        width: 100%;
        height:50px;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: black;
        
    }
    .content{
		padding-top: 51px;
    }
    .form-buttons{
        text-align: center;
        padding-top:15px;
    }
    #CancelBt{
        margin-right: 20px;
    }

</style>
</head>
<body>
	<form name="registFrm" method="POST" action="/sc/regist2/preview.php">
		<input type="hidden" name="jsonHeaderData" value="_%HEADER_DATA%_">
	</form>
    <header class="site-header">
        <div class="form-buttons">
            <span id="CancelBt">
                <img src="/img/type01/cmn/seg/close_off_ja_bt.gif" 
                    onmouseover="this.src='/img/type01/cmn/seg/close_on_ja_bt.gif'"
                    onmouseout="this.src='/img/type01/cmn/seg/close_off_ja_bt.gif'">
            </span>
            <span id="OkBt">
                    <img src="/img/type01/cmn/seg/regist_off_ja_bt.gif"
                      onmouseover="this.src='/img/type01/cmn/seg/regist_on_ja_bt.gif'"
                      onmouseout="this.src='/img/type01/cmn/seg/regist_off_ja_bt.gif'">
            </span>
        </div>
	</header>
	<div class="content">
        _%PREVIEW_DATA%_
    </div>
</body>
</html>