<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=euc-jp"/>
    <title>K.I.D.S.</title>
    <script src="/cmn/jquery/jquery-3.1.0.js"></script>
    <script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
    <script src="/sc/regist2/preview.js"></script>

_%PREVIEW_STYLE%_
<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
		margin: 0 !important;
		overflow-y: scroll;
    }
    #ConfirmMsg {
        text-align:center;
    }
    .site-header{
        background:#f1f1f1;
        position: fixed;
        width: 100%;
        height:75px;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-bottom-color: black;
        
    }
    .content{
		padding-top: 100px;
		padding-left: 100px;
    }
    .form-buttons{
        text-align: center;
        padding-top:15px;
    }
    #CancelBt{
        margin-right: 20px;
    }

</style>
</head>
<body>
	<form name="registFrm" method="POST" action="/sc/regist2/preview.php">
        <input type="hidden" name="strMode" value="regist-or-renew">
        <input type="hidden" name="strSessionID" value="_%strSessionID%_">
        <input type="hidden" name="lngRenewTargetSlipNo"" value="_%lngRenewTargetSlipNo%_">
        <input type="hidden" name="strRenewTargetSlipCode"" value="_%strRenewTargetSlipCode%_">
        <input type="hidden" name="lngRenewTargetSalesNo"" value="_%lngRenewTargetSalesNo%_">
        <input type="hidden" name="strRenewTargetSalesCode"" value="_%strRenewTargetSalesCode%_">
        <input type="hidden" name="lngRevisionNo"" value="_%lngRevisionNo%_">
        <input type="hidden" name="aryHeaderJson" value="_%aryHeaderJson%_">
        <input type="hidden" name="aryDetailJson" value="_%aryDetailJson%_">
	</form>
    <header class="site-header">
        <span id="ConfirmMsg"><p>_%strComfirmMessage%_</p></span>
        <div class="form-buttons">
            <span id="CancelBt">
                <img src="/img/type01/cmn/seg/close_off_ja_bt.gif" 
                    onmouseover="this.src='/img/type01/cmn/seg/close_on_ja_bt.gif'"
                    onmouseout="this.src='/img/type01/cmn/seg/close_off_ja_bt.gif'">
            </span>
            <span id="OkBt">
                    <img src="/img/type01/cmn/seg/regist_off_ja_bt.gif"
                      onmouseover="this.src='/img/type01/cmn/seg/regist_on_ja_bt.gif'"
                      onmouseout="this.src='/img/type01/cmn/seg/regist_off_ja_bt.gif'">
            </span>
        </div>
	</header>
	<div class="content">
        _%PREVIEW_DATA%_
    </div>
</body>
</html>