<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/cmn/initlayoutnavi.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/m/cmn/images.js"></script>
</header1>

<header2>
<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/m/search/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/cmn/initlayoutquery.js"></script>
</header2>

<header3>
<!-- jQuery -->
<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<!-- jQuery Cookie -->
<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
<script type="text/javascript" language="javascript" src="functions.js"></script>
<script type="text/javascript" language="javascript" src="exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="/m/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
<script src="/search/cmn/js/form-buttons.js" defer></script>
<script type="text/javascript" language="javascript" src="/navi/cmn/load.js"></script>
</header3>

<bodyonload>
initLayoutBase();initLayoutM();initLayoutNavi();GetlngLanguageCode(1);Loading();
</bodyonload>
</config>


<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>


<!-- //////////////////////////////////// START MAIN TITLE //////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- ///////////////////////////////////// END MAIN TITLE ///////////////////////////////////// -->
<div class="main-area">
	<!-- //////////////////////////////////// START NAVIGATION //////////////////////////////////// -->
	<div class="navigation-loadpoint" style="position: absolute;left: 11px;">
		<script>
			getNaviMenu('_%strSessionID%_', 'm');
		</script>
	</div>
<!-- ///////////////////////////////////// END NAVIGATION ///////////////////////////////////// -->


<!-- //////////////////////////////////// START INPUT A SEGMENTS //////////////////////////////////// -->
	<p id="InputA">

		<!-- START HEADER -->
		<span id="SegAHeader">
		</span>
		<!-- END HEADER -->

		<!-- START SEGMENTS -->
		<span id="SegA01">
			<iframe id="SegAIFrm" name="Pwin" frameborder="0" scrolling="NO" src="/m/search/select.php?strSessionID=_%strSessionID%_&lngFunctionCode=_%lngFunctionCode%_&lngApplicantUserCodeVisible=1&lngInputUserCodeVisible=1&dtmStartDateVisible=1&lngInChargeCodeVisible=1&lngWorkflowStatusCodeVisible=1&lngWorkflowStatusCodeConditions=1&lngSelectFunctionCode=500"></iframe>
		</span>
		<!-- END SEGMENTS -->
		
		<!-- START BOTTOM -->
		<span id="SegABottom"></span>
		<!-- END BOTTOM -->


	</p>
	<!-- ///////////////////////////////////// END INPUT A SEGMENTS ///////////////////////////////////// -->

	<img class="clear button" id="schClrButton" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif">
    <img class="search button" id="schSchButton" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif">
</div>


<span id="OverLayer"></span>