<config>
<header1>

</header1>


<header2>
</header2>


<header3>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>


<bodyonload>
GetlngLanguageCode( _%lngLanguageCode%_ );
</bodyonload>
</config>


<center>
_%updatekey%_ <br><br>
_%strOptionValue%_<br><br>
</center>


<form action="" method="POST" name="form1">
<!-- form1 -->
<input type="hidden" name="back" value="">
<input type="hidden" name="strSessionID" value="_%strSessionID%_">
<input type="hidden" name="strProductCode" value="_%strProductCode%_"><!-- 製品コード -->
<input type="hidden" name="strProductName" value="_%strProductName%_"><!-- 製品名称(日本語) -->
<input type="hidden" name="strProductEnglishName" value="_%strProductEnglishName%_"><!-- 製品名称(英語)  -->
<input type="hidden" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_"><!-- 部門コード  -->
<input type="hidden" name="strInChargeGroupName" value="_%strInChargeGroupName%_"><!-- 部門名 -->
<input type="hidden" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_"><!-- 担当者コード  -->
<input type="hidden" name="strInChargeUserName" value="_%strInChargeUserName%_"><!--  担当者名 -->
<input type="hidden" name="strCustomerDistinctCode" value="_%strCustomerDistinctCode%_"><!-- 顧客識別コード  -->
<input type="hidden" name="strGoodsCode" value="_%strGoodsCode%_"><!-- 顧客品番  -->
<input type="hidden" name="strGoodsName" value="_%strGoodsName%_"><!--  商品名称 -->
<input type="hidden" name="lngCompanyCode" value="_%lngCompanyCode%_"><!-- 顧客 -->
<input type="hidden" name="lngCompanyName" value="_%lngCompanyName%_">
<input type="hidden" name="strCustomerName" value="_%strCustomerName%_"><!-- 顧客の名称  -->
<input type="hidden" name="strCustomerUserCode" value="_%strCustomerUserCode%_"><!--  顧客担当者コード -->
<input type="hidden" name="strCustomerUserName" value="_%strCustomerUserName%_"><!--  顧客担当者 -->
<input type="hidden" name="lngPackingUnitCode" value="_%lngPackingUnitCode%_"><!-- 荷姿単位  -->
<input type="hidden" name="lngProductUnitCode" value="_%lngProductUnitCode%_"><!-- 製品単位  -->
<input type="hidden" name="lngBoxQuantity" value="_%lngBoxQuantity%_"><!-- 内箱（袋）入数  -->
<input type="hidden" name="lngCartonQuantity" value="_%lngCartonQuantity%_"><!--  カートン入数 -->
<input type="hidden" name="lngProductionQuantity" value="_%lngProductionQuantity%_"><!-- 生産予定数  -->
<input type="hidden" name="lngProductionUnitCode" value="_%lngProductionUnitCode%_"><!--  生産予定数の単位 -->
<input type="hidden" name="lngFirstDeliveryQuantity" value="_%lngFirstDeliveryQuantity%_"><!-- 初回納品数  -->
<input type="hidden" name="lngFirstDeliveryUnitCode" value="_%lngFirstDeliveryUnitCode%_"><!-- 初回納品数の単位  -->

<!-- form2 -->
<input type="hidden" name="lngFactoryCode" value="_%lngFactoryCode%_"><!-- 生産工場 -->
<input type="hidden" name="strFactoryName" value="_%strFactoryName%_"><!-- 生産工場の名称 -->
<input type="hidden" name="lngAssemblyFactoryCode" value="_%lngAssemblyFactoryCode%_"><!-- アッセンブリ工場 -->
<input type="hidden" name="strAssemblyFactoryName" value="_%strAssemblyFactoryName%_"><!-- ｱｯｾﾝﾌﾞﾘ工場の名称 -->
<input type="hidden" name="lngDeliveryPlaceCode" value="_%lngDeliveryPlaceCode%_"><!-- 納品場所 -->
<input type="hidden" name="strDeliveryPlaceName" value="_%strDeliveryPlaceName%_"><!-- 納品場所の名称 -->
<input type="hidden" name="dtmDeliveryLimitDate" value="_%dtmDeliveryLimitDate%_"><!-- 納期 -->
<input type="hidden" name="curProductPrice" value="_%curProductPrice%_"><!-- 卸値 -->
<input type="hidden" name="curRetailPrice" value="_%curRetailPrice%_"><!-- 売値 -->
<input type="hidden" name="lngTargetAgeCode" value="_%lngTargetAgeCode%_"><!-- 対象年齢 -->
<input type="hidden" name="lngRoyalty" value="_%lngRoyalty%_"><!-- ロイヤリティ -->
<input type="hidden" name="lngCertificateClassCode" value="_%lngCertificateClassCode%_"><!-- 証紙 -->
<input type="hidden" name="lngCopyrightCode" value="_%lngCopyrightCode%_"><!-- 版権元 -->
<input type="hidden" name="strCopyrightDisplayStamp" value="_%strCopyrightDisplayStamp%_"><!-- 版権表示（刻印） -->
<input type="hidden" name="strCopyrightDisplayPrint" value="_%strCopyrightDisplayPrint%_"><!-- 版権表示（印刷物） -->
<input type="hidden" name="lngProductFormCode" value="_%lngProductFormCode%_"><!-- 商品形態 -->
<input type="hidden" name="strProductComposition" value="_%strProductComposition%_"><!-- 製品構成 -->
<input type="hidden" name="strAssemblyContents" value="_%strAssemblyContents%_"><!-- アッセンブリ内容 -->
<input type="hidden" name="strSpecificationDetails" value="_%strSpecificationDetails%_"><!-- 仕様詳細 -->
<input type="hidden" name="updatekey" value="_%updatekey%_"><!-- アップデートキー -->
<input type="hidden" name="dtmInsertDate" value="_%dtmInsertDate%_"><!-- 作成日 -->
<input type="hidden" name="lngGoodsPlanProgressCode" value="_%lngGoodsPlanProgressCode%_"><!-- 企画進行状況 -->
<input type="hidden" name="lngRevisionNo" value="_%lngRevisionNo%_"><!-- 改訂番号 -->
<input type="hidden" name="dtmRevisionData" value="_%dtmRevisionData%_"><!-- 改訂日時 -->
<input type="hidden" name="lnGgoodsPlanCode" value="_%lnGgoodsPlanCode%_"><!-- -->
<input type="hidden" name="lngProductNo" value="_%lngProductNo%_">

<center>
_%strErrorMessage%_<br>
_%strButton%_<br>

</center>
</form>



