			<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">
				<tr> 
					<td id="RecordNo" class="SegColumn" width="25%">発注書明細番号</td>
					<td class="Segs">_%lngpurchaseorderdetailno%_</td>
				</tr>
				<tr> 
					<td id="StockSubject" class="SegColumn" width="25%">仕入科目</td>
					<td class="Segs">_%lngstocksubjectcode%_</td>
				</tr>
				<tr> 
					<td id="StockItem" class="SegColumn">仕入部品</td>
					<td class="Segs">_%lngstockitemcode%_</td>
				</tr>
				<tr> 
					<td id="DeliveryMethod" class="SegColumn" height="11">運搬方法</td>
					<td class="Segs" height="11">_%lngdeliverymethodcode%_</td>
				</tr>
				<tr> 
					<td id="DeliveryDate" class="SegColumn" height="11">納期</td>
					<td class="Segs" height="11">_%dtmdeliverydate%_</td>
				</tr>
				<tr> 
					<td id="ProductPrice" class="SegColumn">単価</td>
					<td class="Segs">_%curproductprice%_</td>
				</tr>
				<tr> 
					<td id="ProductUnit" class="SegColumn">単位</td>
					<td class="Segs">_%lngproductunitcode%_</td>
				</tr>
				<tr> 
					<td id="ProductQuantity" class="SegColumn">数量</td>
					<td class="Segs">_%lngproductquantity%_</td>
				</tr>
				<tr> 
					<td id="SubTotalPrice" class="SegColumn">小計</td>
					<td class="Segs">_%cursubtotalprice%_</td>
				</tr>
				<tr> 
					<td id="DetailRemark" class="SegColumn">明細備考</td>
					<td class="Segs">_%strDetailNote%_</td>
				</tr>
				<tr> 
					<td id="MoldNo" class="SegColumn">金型No.</td>
					<td class="Segs">_%strMoldNo%_</td>
				</tr>
			</table>
