<!--





/* START SEGMENTS */
#NaviBodys
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 169px ;
	height : 515px ;
	border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #cdcdcd;
	opacity: 0.9;
	background-color: #72828b ;
	box-sizing: border-box;
}


/* END SEGMENTS */
/************************************** END INPUT C **************************************/










/********************* START NAVIGATION *********************/

#RegistNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 20px ;
	z-index : 2 ;
	background-color: transparent ;
}
#RegistNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 20px ;
	z-index : 2 ;
	background-color: transparent ;
}

#SearchNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 60px ;
	z-index : 2 ;
	background-color: transparent ;
}
#SearchNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 60px ;
	z-index : 2 ;
	background-color: transparent ;
}










/* START EXPORT NAVI */
#ListExNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 370px ;
	z-index : 2 ;
	background-color: transparent ;
}
#ListExNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 370px ;
	z-index : 2 ;
	background-color: transparent ;
}

#DataExNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 403px ;
	z-index : 2 ;
	background-color: transparent ;
}
#DataExNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 403px ;
	z-index : 2 ;
	background-color: transparent ;
}
/* END EXPORT NAVI */


/* START COMMON NAVI */
#MasterNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 515px ;
	z-index : 2 ;
	background-color: transparent ;
}
#MasterNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 515px ;
	z-index : 2 ;
	background-color: transparent ;
}
/* END COMMON NAVI */
/********************** END NAVIGATION **********************/





#MessageBt1
{
	position   : absolute ;
	left       : 9px ;
	top        : 20px ;
	z-index    : 2 ;
	background : transparent ;
}

#MessageBt3
{
	position   : absolute ;
	left       : 9px ;
	top        : 20px ;
	z-index    : 2 ;
	background : transparent ;
}



#EmailBt1
{
	position   : absolute ;
	left       : 9px ;
	top        : 60px ;
	z-index    : 2 ;
	background : #transparent ;
}

#EmailBt3
{
	position   : absolute ;
	left       : 9px ;
	top        : 60px ;
	z-index    : 2 ;
	background : #transparent ;
}



#SessionBt1
{
	position   : absolute ;
	left       : 9px ;
	top        : 100px ;
	z-index    : 2 ;
	background : #transparent ;
}

#SessionBt3
{
	position   : absolute ;
	left       : 9px ;
	top        : 100px ;
	z-index    : 2 ;
	background : #transparent ;
}



#ServerBt1
{
	position   : absolute ;
	left       : 9px ;
	top        : 140px ;
	z-index    : 2 ;
	background : #transparent ;
}



#ServerBt3
{
	position   : absolute ;
	left       : 9px ;
	top        : 140px ;
	z-index    : 2 ;
	background : #transparent ;
}


#ClosedBt1
{
	position   : absolute ;
	left       : 9px ;
	top        : 20px ;
	z-index    : 2 ;
	background : transparent ;
}





	/* ?o?^2 */
	#RegistNaviBtA {
		position : absolute ;
		left : 9px ;
		top : 130px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#RegistNaviBtC {
		position : absolute ;
		left : 9px ;
		top : 130px ;
		z-index : 2 ;
		background-color: transparent ;
	}

	/* ????2 */
	#SearchNaviBtA {
		position : absolute ;
		left : 9px ;
		top : 170px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#SearchNaviBtC {
		position : absolute ;
		left : 9px ;
		top : 170px ;
		z-index : 2 ;
		background-color: transparent ;
	}


	/* ?o?^3 */
	#RegistNaviBtAA {
		position : absolute ;
		left : 9px ;
		top : 230px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#RegistNaviBtCC {
		position : absolute ;
		left : 9px ;
		top : 230px ;
		z-index : 2 ;
		background-color: transparent ;
	}

	/* ????3 */
	#SearchNaviBtAA {
		position : absolute ;
		left : 9px ;
		top : 270px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#SearchNaviBtCC {
		position : absolute ;
		left : 9px ;
		top : 270px ;
		z-index : 2 ;
		background-color: transparent ;
	}


	/* ?o?^4 */
	#RegistNaviBtAAA {
		position : absolute ;
		left : 9px ;
		top : 330px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#RegistNaviBtCCC {
		position : absolute ;
		left : 9px ;
		top : 330px ;
		z-index : 2 ;
		background-color: transparent ;
	}

	/* ????4 */
	#SearchNaviBtAAA {
		position : absolute ;
		left : 9px ;
		top : 370px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#SearchNaviBtCCC {
		position : absolute ;
		left : 9px ;
		top : 370px ;
		z-index : 2 ;
		background-color: transparent ;
	}


	/* ?o?^5 */
	#RegistNaviBtAAAA {
		position : absolute ;
		left : 9px ;
		top : 430px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#RegistNaviBtCCCC {
		position : absolute ;
		left : 9px ;
		top : 430px ;
		z-index : 2 ;
		background-color: transparent ;
	}

	/* ????5 */
	#SearchNaviBtAAAA {
		position : absolute ;
		left : 9px ;
		top : 470px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#SearchNaviBtCCCC {
		position : absolute ;
		left : 9px ;
		top : 470px ;
		z-index : 2 ;
		background-color: transparent ;
	}



	/* ???????? */
	#WFRegistNaviBt {
		position : absolute ;
		left : 9px ;
		top : 330px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#WFRegistNaviBt {
		position : absolute ;
		left : 9px ;
		top : 330px ;
		z-index : 2 ;
		background-color: transparent ;
	}

	/* ???????? */
	#WFSearchNaviBt {
		position : absolute ;
		left : 9px ;
		top : 370px ;
		z-index : 2 ;
		background-color: transparent ;
	}
	#WFSearchNaviBt {
		position : absolute ;
		left : 9px ;
		top : 370px ;
		z-index : 2 ;
		background-color: transparent ;
	}


	/* ?A?b?v???[?h */
	#UploadNaviBt1 {
		position : absolute ;
		left : 9px ;
		top : 510px ;
		z-index : 2 ;
		background-color: transparent ;
	}

-->