<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

<script type="text/javascript" language="javascript" src="/result/cmn/functions.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">

<script type="text/javascript" language="javascript" src="/cmn/processing_module.js"></script>
<script type="text/javascript" language="javascript" src="/sc/cmn/result2exstr.js"></script>

</head>
<body onload="fncChgEtoJ( '_%strMode%_' );">

<table cellpadding="5" cellspacing="0" border="0" bgcolor="#6f8180" align="center">
	<tr class="SegColumn">
		<td id="ControlTitle"></td>
	</tr>
</table>


<br>


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>


			<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">
				<tr>
					<td id="SlipNo" class="SegColumn">_%CNlngSlipNo%_</td>
					<td class="Segs">_%lngSlipNo%_</td>
				</tr>
				<tr>
					<td id="RevisionNo" class="SegColumn" width="25%">_%CNlngRevisionNo%_</td>
					<td class="Segs">_%lngRevisionNo%_</td>
				</tr>
				<tr>
					<td id="PSlipCode" class="SegColumn">_%CNstrSlipCode%_</td>
					<td class="Segs">_%strSlipCode%_</td>
				</tr>
				<tr>
					<td id="Customer" class="SegColumn">_%CNstrCustomer%_</td>
					<td class="Segs">_%strCustomer%_</td>
				</tr>
				<tr>
					<td id="DeliveryDate" class="SegColumn">_%CNdtmDeliveryDate%_</td>
					<td class="Segs">_%dtmDeliveryDate%_</td>
				</tr>
				<tr>
					<td id="DeliveryPlaceName" class="SegColumn">_%CNstrDeliveryPlaceName%_</td>
					<td class="Segs">_%strDeliveryPlaceName%_</td>
				</tr>
				<tr>
					<td id="DeliveryPlaceUserName" class="SegColumn">_%CNstrDeliveryPlaceUserName%_</td>
					<td class="Segs">_%strDeliveryPlaceUserName%_</td>
				</tr>
				<tr>
					<td id="TaxClassName" class="SegColumn">_%CNstrTaxClassName%_</td>
					<td class="Segs">_%strTaxClassName%_</td>
				</tr>
				<tr>
					<td id="Drafter" class="SegColumn">_%CNstrDrafter%_</td>
					<td class="Segs">_%strDrafter%_</td>
				</tr>
				<tr>
					<td id="TotalPrice" class="SegColumn">_%CNcurTotalPrice%_</td>
					<td class="Segs">_%curTotalPrice%_</td>
				</tr>
				<tr>
					<td id="MonetaryUnitName" class="SegColumn">_%CNstrMonetaryUnitName%_</td>
					<td class="Segs">_%strMonetaryUnitName%_</td>
				</tr>
				<tr>
					<td id="Note" class="SegColumn">_%CNstrNote%_</td>
					<td class="Segs">_%strNote%_</td>
				</tr>
				<tr>
					<td id="InsertDate" class="SegColumn">_%CNdtmInsertDate%_</td>
					<td class="Segs">_%dtmInsertDate%_</td>
				</tr>
				<tr>
					<td id="InsertUser" class="SegColumn">_%CNstrInsertUser%_</td>
					<td class="Segs">_%strInsertUser%_</td>
				</tr>
				<tr>
					<td id="PrintCount" class="SegColumn">_%CNlngPrintCount%_</td>
					<td class="Segs">_%lngPrintCount%_</td>
				</tr>
				
			</table>
			<br>
_%strDetailTable%_
			<br>
		</td>
	</tr>
</table>

<div class="detail-footer">
	<div id="MessageTitle" class="box-title"></div>
	<div class="box-buttons">
		<!-- 削除ボタン -->
		<span id="DeleteBt" style="padding-right:20px;" onclick="form1.submit();"></span>	
		<!-- 閉じるボタン -->
		<span id="CloseBt" onclick="window.close();window.returnValue=Array( '_%strAction%_', '_%strSessionID%_' );return false;"></span>
	</div>
</div>


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>
			<form name="form1" action="_%strAction%_" method="GET">
				<span id="objQuery"></span>
				<input type="hidden" name="lngSlipNo" value="_%lngSlipNo%_">
				<input type="hidden" name="lngRevisionNo" value="_%lngRevisionNo%_">
				<input type="hidden" name="strSessionID" value="_%strSessionID%_">
				<input type="hidden" name="strSubmit" value="_%strSubmit%_">
			</form>

		</td>
	</tr>
</table>


<br>


</body>

<script language=javascript>
fncShowHidePreload( 1 );
</script>


</html>