			<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">
				<tr> 
					<td id="RecordNo" class="SegColumn" width="25%">_%CNlngRecordNo%_</td>
					<td class="Segs">_%lngRecordNo%_</td>
				</tr>
				<tr>
					<td id="CustomerSalesCode" class="SegColumn" width="25%">_%CNstrCustomerSalesCode%_</td>
					<td class="Segs">_%strCustomerSalesCode%_</td>
				</tr>				
				<tr>
					<td id="SalesClass" class="SegColumn" width="25%">_%CNlngSalesClassCode%_</td>
					<td class="Segs">_%lngSalesClassCode%_</td>
				</tr>				
				<tr>
					<td id="GoodsCode" class="SegColumn" width="25%">_%CNstrGoodsCode%_</td>
					<td class="Segs">_%strGoodsCode%_</td>
				</tr>
				<tr> 
					<td id="ProductCode" class="SegColumn" width="25%">_%CNstrProductCode%_</td>
					<td class="Segs">_%strProductCode%_</td>
				</tr>
				<tr>
					<td id="ProductEnglishName" class="SegColumn" width="25%">_%CNstrProductEnglishName%_</td>
					<td class="Segs">_%strProductEnglishName%_</td>
				</tr>
				<tr>
					<td id="ProductPrice" class="SegColumn" width="25%">_%CNcurProductPrice%_</td>
					<td class="Segs">_%curProductPrice%_</td>
				</tr>
				<tr>
					<td id="ProductQuantity" class="SegColumn">_%CNlngProductQuantity%_</td>
					<td class="Segs">_%lngproductquantity%_</td>
				</tr>
				<tr> 
					<td id="ProductUnitName" class="SegColumn">_%CNstrProductUnitName%_</td>
					<td class="Segs">_%strProductUnitName%_</td>
				</tr>
				<tr> 
					<td id="SubTotalPrice" class="SegColumn">_%CNcurSubTotalPrice%_</td>
					<td class="Segs">_%cursubtotalprice%_</td>
				</tr>
				<tr> 
					<td id="DetailNote" class="SegColumn">_%CNstrDetailNote%_</td>
					<td class="Segs">_%strDetailNote%_</td>
				</tr>

			</table>
