<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">

<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

<script type="text/javascript" language="javascript" src="/result/cmn/functions.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">

<script type="text/javascript" language="javascript" src="/cmn/processing_module.js"></script>
<script type="text/javascript" language="javascript" src="/sc/cmn/resultexstr.js"></script>

</head>
<body onload="fncChgEtoJ( '_%strMode%_' );">

<table cellpadding="5" cellspacing="0" border="0" bgcolor="#6f8180" align="center">
	<tr class="SegColumn">
		<td id="ControlTitle"></td>
	</tr>
</table>


<br>


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>


			<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">
				<tr> 
					<td id="CreationDate" class="SegColumn">_%CNdtmInsertDate%_</td>
					<td class="Segs">_%dtminsertdate%_</td>
				</tr>
				<tr> 
					<td id="SalesAppDate" class="SegColumn" width="25%">_%CNdtmSalesAppDate%_</td>
					<td class="Segs">_%dtmsalesappdate%_</td>
				</tr>
				<tr> 
					<td id="PSalesCode" class="SegColumn">_%CNstrSalesCode%_</td>
					<td class="Segs">_%strsalescode%_</td>
				</tr>
				<tr> 
					<td id="PReceiveCode" class="SegColumn">_%CNstrReceiveCode%_</td>
					<td class="Segs">_%strcustomerreceivecode%_</td>
				</tr>
				<tr> 
					<td id="PSlipCode" class="SegColumn">_%CNstrSlipCode%_</td>
					<td class="Segs">_%strslipcode%_</td>
				</tr>
				<tr> 
					<td id="InputUser" class="SegColumn">_%CNlngInputUserCode%_</td>
					<td class="Segs">_%lnginputusercode%_</td>
				</tr>
				<tr> 
					<td id="Customer" class="SegColumn">_%CNlngCustomerCode%_</td>
					<td class="Segs">_%lngcustomercode%_</td>
				</tr>
<!--
				<tr> 
					<td id="InChargeGroup" class="SegColumn">_%CNlngInChargeGroupCode%_</td>
					<td class="Segs">_%lnginchargegroupcode%_</td>
				</tr>
				<tr> 
					<td id="InChargeUser" class="SegColumn">_%CNlngInChargeUserCode%_</td>
					<td class="Segs">_%lnginchargeusercode%_</td>
				</tr>
-->
				<tr> 
					<td id="MonetaryUnit" class="SegColumn">_%CNlngMonetaryUnitCode%_</td>
					<td class="Segs">_%lngmonetaryunitcode%_</td>
				</tr>
				<tr> 
					<td id="MonetaryRate" class="SegColumn">_%CNlngMonetaryRateCode%_</td>
					<td class="Segs">_%lngmonetaryratecode%_</td>
				</tr>
				<tr> 
					<td id="ConversionRate" class="SegColumn">_%CNcurConversionRate%_</td>
					<td class="Segs">_%curconversionrate%_</td>
				</tr>
				<tr> 
					<td id="SalesStatus" class="SegColumn">_%CNlngSalesStatusCode%_</td>
					<td class="Segs">_%lngsalesstatuscode%_</td>
				</tr>
				<tr> 
					<td id="Remark" class="SegColumn">_%CNstrNote%_</td>
					<td class="Segs">_%strnote%_</td>
				</tr>
				<tr> 
					<td id="TotalPrice" class="SegColumn">_%CNcurTotalPrice%_</td>
					<td class="Segs">_%curtotalprice%_</td>
				</tr>
			</table>


			<br>


_%strDetailTable%_


			<br>


		</td>
	</tr>
</table>


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>

			<form name="form1" action="_%strAction%_" method="GET">
				<span id="objQuery"></span>
				<input type="hidden" name="lngSalesNo" value="_%lngsalesno%_">
				<input type="hidden" name="strSessionID" value="_%strSessionID%_">
				<input type="hidden" name="strSubmit" value="_%strSubmit%_">
			</form>

		</td>
	</tr>
</table>


<br>


</body>

<script language=javascript>
fncShowHidePreload( 1 );
</script>


</html>