<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">

<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

<script type="text/javascript" language="javascript" src="/result/cmn/functions.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">

</head>
<body onScroll="fncStopHeader( SegTitle );">

_%strHtml%_
<form name="form1" action="./index.php" method="POST">
_%strHidden%_


</form>

<!-- バッファ用オブジェクト -->
<input type="hidden" value="" name="copyhidden">
<!-- ソース表示用スクリプト？ -->
<!--<input type="button" value="source" onclick="window.location.href = 'view-source:' + window.location;">-->
</body>

<script language=javascript>
fncShowHidePreload( 1 );
</script>

</html>
