<config>
	<header1>
		<link rel="stylesheet" href="/upload2/cmn/css/layout.css">
		<link rel="stylesheet" href="/search/cmn/form/css/tabs.css">
		<link rel="stylesheet" href="/search/cmn/navigate/css/navigate.css">
		<script src="/search/cmn/form/js/tab-function.js" defer></script>
		<script src="/layout/type01/upload2/cmn/images.js" defer></script>
	</header1>
	
	<header2>
		<script src="/layout/type01/upload2/initlayout.js" defer></script>
	</header2>
	
	<header3>
		<!-- フォームボタン css -->
		<link rel="stylesheet" href="/search/cmn/css/form-buttons.css">
		<!-- フォーム ボタン -->
		<script src="/upload2/cmn/js/function.js" defer></script>
		<!-- キーバインド -->
		<script src="/cmn/functions.js"></script>
	</header3>
	
	<bodyonload>
		initLayoutUpload(); Loading();
	</bodyonload>
	</config>
	
	<!-- 左サイドバー ナビゲート -->
	<div class="navigation-loadpoint">
		<script>
			$('.navigation-loadpoint').load('/upload2/cmn/navigate/upload2_navi.html');
		</script>
	</div>
	
	<!-- 入力フォーム -->
	<div class="form-box--container">
		<!-- フォームヘッダ -->
		<div class="form-box__header">
			<p class="form-box__header__title">アップロード</p>
		</div>
		<!-- フォームコンテンツ -->
		<div class="form-box">
			<form name="exc_upload" method="post" enctype="multipart/form-data">
				<div class="regist-line">
					<span id="varExcel">
						<span class="regist-label__text">Excelファイル</span>
						<input class="Txt90L" type="file" name="excel_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
						<span span id="btnUpload">
							<img class= "upload button" onmouseover="fncUploadButton( 'onJ' , this );" onmouseout="fncUploadButton( 'offJ' , this );fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" src="/img/type01/upload2/upbt_off.gif">
					    </span>
					</span>
				</div>
				
			</form>
		</div>
	</div>
