<!--

.ColumnArea {
	display: inline-block;
	vertical-align: middle;
	font-weight : bold ;
	width : 157px ;
	line-height: 23px;
}

.VarTextArea {
	font-family : ＭＳ Ｐゴシック, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px;
	vertical-align: middle;
}

textarea{
	vertical-align: middle;
}

#MessageSet
{
	position   : absolute ;
	left       : 30px ;
	top        : 45px ;
	z-index    : 3 ;
	background : transparent ;
}

#RegistBt
{
	position   : absolute ;
	left       : 725px ;
	top        : 120px ;
	background : transparent ;
}



#LogBt
{
	position   : absolute ;
	left       : 30px ; /* 768 */
	top        : 15px ;
	background : transparent ;
}


-->