<!--


table
{
	font-family : Arial , ＭＳ　Ｐゴシック ;
	padding: 0;
}


#Backs
{
	background : #d6d0b1 ;
}


#BackBt
{
	position   : absolute ;
	left       : 10px ;
	top        : 30px ;
	background : transparent ;
}


-->