<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutnavi.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/dataex/cmn/images.js"></script>
</header1>

<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/dataex/list/initlayout.js"></script>
</header2>

<header3>
<!-- jQuery -->
<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<!-- jQuery Cookie -->
<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
<script type="text/javascript" language="javascript" src="/dataex/functions.js"></script>
<script type="text/javascript" language="javascript" src="/dataex/exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/dataex/layout.css">
<script type="text/javascript" language="javascript" src="/dataex/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
<script type="text/javascript" language="javascript" src="/navi/cmn/load.js"></script>
</header3>

<bodyonload>
initLayoutBase();initLayout();initLayoutNavi();Loading();
</bodyonload>
</config>


<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>


<!-- //////////////////////////////////// START MAIN TITLE //////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- ///////////////////////////////////// END MAIN TITLE ///////////////////////////////////// -->


<div class="main-area">
	<!-- //////////////////////////////////// START NAVIGATION //////////////////////////////////// -->
	<div class="navigation-loadpoint" style="position: absolute;left: 11px;">
		<script>
			getNaviMenu('_%strSessionID%_', 'dataex');
		</script>
	</div>
	<!-- ///////////////////////////////////// END NAVIGATION ///////////////////////////////////// -->


	<!-- //////////////////////////////////// START INPUT A SEGMENTS //////////////////////////////////// -->
	<p id="InputA">
		<!-- START HEADER -->
		<span id="SegAHeader"></span>
		<!-- END HEADER -->
	
		<!-- START BOTTOM -->
		<span id="SegABottom"></span>
		<!-- END BOTTOM -->
	
		<!-- START SEGMENTS -->
		<span id="SegA01">
			<iframe id="SegAIFrm" name="Pwin" frameborder="0" scrolling="no" src="/dataex/select.php?strSessionID=_%strSessionID%_"></iframe>
		</span>
		<!-- END SEGMENTS -->
	</p>
	<!-- ///////////////////////////////////// END INPUT A SEGMENTS ///////////////////////////////////// -->
</div>













<!-- ERROR MESSAGE -->
<span id="ErrorMessageFrame">
	<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
</span>


<span id="OverLayer"></span>