<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- START COMMON LAYOUT FILES -->

<!-- END COMMON LAYOUT FILES -->


<!-- START COMMON FILES -->
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbsclass.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbscript.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/lngcheck.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
<!-- END COMMON FILES -->


<!-- START EXCLUSIVE USE LAYOUT FILES -->
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<!-- END EXCLUSIVE USE LAYOUT FILES -->


<!-- START EXCLUSIVE USE FILES -->
<script type="text/javascript" language="javascript" src="/po/wf/exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<!-- END EXCLUSIVE USE FILES -->

</head>
<body id="Backs">

<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>


			<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f8180" align="center">

				<tr class="SegColumn"> 
_%strColumnHtml%_
				</tr>

_%strResultHtml%_

			</table>



		</td>
	</tr>
</table>


</body>
</html>