<config>
<header1>

</header1>


<header2>
</header2>


<header3>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>


<bodyonload>
GetlngLanguageCode( _%lngLanguageCode%_ );
</bodyonload>
</config>


登録完了


_%strPreviewButton%_<br>

</center>




