<config>
<header1>

</header1>


<header2>
</header2>


<header3>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>


<bodyonload>
GetlngLanguageCode( _%lngLanguageCode%_ );
</bodyonload>
</config>


<center>
_%updatekey%_ <br><br>
_%strOptionValue%_<br><br>
</center>


<form name="form1" method="POST" action="index2.php">

<input type="hidden" name="dtmOrderAppDate" value="_%dtmOrderAppDate%_"><!-- 計上日 -->
<input type="hidden" name="strOrderCode" value="_%strOrderCode%_"><!-- 発注ＮＯ．  -->
<input type="hidden" name="strReviseCode" value="_%strReviseCode%_"><!-- リビジョン番号 -->
<input type="hidden" name="lngRevisionNo" value="_%lngRevisionNo%_"><!-- リバイス番号 -->
<input type="hidden" name="lngCustomerCode" value="_%lngCustomerCode%_"><!-- 仕入先  -->
<input type="hidden" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_"><!-- 部門コード -->
<input type="hidden" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_"><!-- 担当者 -->
<input type="hidden" name="lngLocationCode" value="_%lngLocationCode%_"><!-- 納品場所 -->
<input type="hidden" name="dtmExpirationDate" value="_%dtmExpirationDate%_"><!-- 発注有効期限日 -->
<input type="hidden" name="lngOrderStatusCode" value="_%lngOrderStatusCode%_"><!-- 状態 -->
<input type="hidden" name="lngMonetaryUnitCode" value="_%lngMonetaryUnitCode%_"><!-- 通貨 -->
<input type="hidden" name="lngMonetaryRateCode" value="_%lngMonetaryRateCode%_"><!-- レートタイプ -->
<input type="hidden" name="curConversionRate" value="_%curConversionRate%_"><!-- 換算レート -->
<input type="hidden"  name="lngPayConditionCode" value="_%lngPayConditionCode%_"><!-- 支払条件 -->
<input type="hidden"  name="strNote" value="_%strNote%_"><!-- 備考 -->
<input type="hidden"  name="curAllTotalPrice" value="_%curAllTotalPrice%_"><!-- 合計金額 -->
<input type="hidden"  name="lngWorkflowOrderCode" value="_%lngWorkflowOrderCode%_"><!-- 承認ルート -->

<input type="hidden"  name="strSessionID" value="_%strSessionID%_">
<input type="hidden"  name="lngOrderNo" value="_%lngOrderNo%_">
<input type="hidden"  name="strMode" value="_%strMode%_">
<input type="hidden"  name="strProcMode" value="_%strProcMode%_">

_%strHidden%_



<center>
_%strErrorMessage%_<br>
_%strButton%_<br>

</center>
</form>



