<config>
<header1>
<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<script src="/cmn/jquery/ui/jquery-ui.min-1.12.0.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayouterror.js"></script>
</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/po/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/po/regist/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutmsw.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutpunit.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutdate.js"></script>
</header2>


<header3>
<script type="text/javascript" language="javascript" src="/po/cmn/subloadmastersettings.js"></script>
<script type="text/javascript" language="javascript" src="/po/regist/functions.js"></script>
<script type="text/javascript" language="javascript" src="/po/regist/exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="_%strCssName%_">
<link rel="stylesheet" type="text/css" media="screen" href="_%strErrorCssName%_">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
<script type="text/javascript" language="javascript" src="/po/regist/regist2.js"></script>
</header3>


<bodyonload>
initLayoutBase(); initLayoutPO(); initLayoutQuery(); initLayoutMsw(); initLayoutPunit(); initLayoutDate(); autoFocus1(); initLayoutError1( ErrInputA ); initLayoutError2( ErrInputB ); GetlngLanguageCode( _%lngLanguageCode%_ ); fncDetailErrorOpen( '_%strErrorMessage%_' ); Loading();
</bodyonload>
</config>

<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>

<!-- /////////////////////////////////// START MAIN TITLE /////////////////////////////////// -->
<span id="MainTitle" style="visibility:_%strBaseVisibilityName%_;"></span>
<!-- //////////////////////////////////// END MAIN TITLE //////////////////////////////////// -->
<!-- /////////////////////////////////// START NAVIGATION /////////////////////////////////// -->
<span id="NaviButton" style="left:10px;top:96px;visibility:_%strBaseVisibilityName%_;"></span>

<form name="HSO" action="_%strActionUrl%_" method="post">
    <div id="InputA">
        <!-- START HEADER -->
        <span id="SegAHeader"></span>
        <!-- END HEADER -->
        <!-- START BODYS -->
        <span id="SegABodys"></span>
        <!-- END BODYS -->
        <!-- START BOTTOM -->
        <span id="SegABottom"></span>
        <!-- END BOTTOM -->

        <!-- 明細行替えボタン -->
        <!-- 最上行へ移動 -->
        <span id="selectup">
            <img onclick="" src="/img/type01/cmn/querybt/select_changeup.gif"  alt="" style="width: 25px; height: 50px;">
        </span>
        <!-- 上の行へ移動 -->
        <span id="selectup1">
            <img onclick="" src="/img/type01/cmn/querybt/select_changeup1.gif" alt="" style="width: 41px; height: 50px;">
        </span>
        <!-- 下の行へ移動 -->
        <span id="selectdown1">
            <img onclick="" src="/img/type01/cmn/querybt/select_changedown1.gif" alt="" style="width: 41px; height: 50px;">
        </span>
        <!-- 最下行へ移動 -->
        <span id="selectdown">
            <img onclick="" src="/img/type01/cmn/querybt/select_changedown.gif" alt="" style="width: 25px; height: 50px;">
        </span>
        <!-- 確定登録ボタン -->
        <span id="FixEntryBtn">
            <a href="#">
                <img src="/img/type01/cmn/querybt/regist_blown_off_ja_bt.gif" alt="" style="width: 78px; height: 20px;">
            </a>
        </span>

        <!-- 発注NO -->
        <span id="SegA01">発注NO</span>
        <span id="VarsA01">
            <input style="ime-mode:disabled;" class="disTxt07L" type="text" name="strOrderCode" value="_%strOrderCode%_" maxlength="8" contenteditable="false" readonly>_
            <input style="ime-mode:disabled;" class="disTxt02L" type="text" name="lngRevisionNo" value="_%lngRevisionNo%_" maxlength="2" contenteditable="false" readonly>
        </span>
        <!-- 発注有効期限日 -->
        <span id="SegA02">発注有効期限日</span>
        <span id="VarsA02">
            <input style="ime-mode:disabled;" class="TxtStyle05L" type="text" name="dtmExpirationDate" value="_%dtmExpirationDate%_" maxlength="10" 
                onfocus="chColorOn(this);" 
                onblur="chColorOff(this);fncCheckDate( this );" 
                tabindex="1">
        </span>
        <span id="DateBtB" onclick="window.MDateBwin.fncCalendar( window.HSO.dtmExpirationDate, 'DateB' );DisplayerM10_2( '' , document.all.Mdata10_2 );ExchangeM10_2( 0 , window.self );return false;">
        </span>
        <!-- 製品コード -->
        <span id="SegA03">製品コード</span>
        <span id="VarsA03">
        	<input style="ime-mode:disabled;" class="disTxt07L" type="text" name="strProductCode" value="_%strProductCode%_" maxlength="5" contenteditable="false" readonly>
        </span>
        <!-- 支払条件 -->
        <span id="SegA04">支払条件</span>
        <span id="VarsA04">
            <select name="lngPayConditionCode"_%PayConditionDisabled%_>
                _%lngPayConditionCode%_
            </select>
        </span>
        <!-- 通貨 -->
        <span id="SegA05">通貨</span>
        <span id="VarsA05">
            <select name="lngMonetaryUnitCode" _%MonetaryUnitDisabled%_>
                _%lngMonetaryUnitCode%_
            </select>
        </span>
        <!-- 仕入先 -->
        <span id="SegA11">仕入先</span>
        <span id="VarsA11">
        	<input style="ime-mode:disabled;" class="disTxt05L" type="text" name="strCustomerCode" value="_%strCustomerCode%_" contenteditable="false" readonly>&nbsp;
            <input style="ime-mode:disabled;" class="disTxt40L" tyepe="text" name="strCustomerName" value="_%strCustomerName%_" contenteditable="false" readonly>
        </span>
        <!-- 営業部署 -->
        <span id="SegA12">営業部署</span>
        <span id="VarsA12">
        	<input style="ime-mode:disabled;" class="disTxt03L" type="text" name="strGroupDisplayCode" value="_%strGroupDisplayCode%_" maxlength="2" contenteditable="false">&nbsp;
            <input style="ime-mode:disabled;" class="disTxt46L" tyepe="text" name="strGroupDisplayName" value="_%strGroupDisplayName%_" contenteditable="false">
        </span>
        <!-- 製品名 -->
        <span id="SegA13">製品名</span>
        <span id="VarsA13">
        	<input style="ime-mode:disabled;" class="disTxt46L" type="text" name="strProductName" value="_%strProductName%_" contenteditable="false">
        </span>
        <!-- 製品名(英語) -->
        <span id="SegA14">製品名（英語）</span>
        <span id="VarsA14">
        	<input style="ime-mode:disabled;" class="disTxt46L" type="text" name="strProductEnglishName" value="_%strProductEnglishName%_" contenteditable="false">
        </span>
        <!-- 納品場所 -->
        <span id="SegA15">納品場所</span>
        <span id="VarsA15">
        	<input style="ime-mode:disabled;" class="TxtStyle05L" type="text" name="strLocationCode" value="_%strLocationCode%_">&nbsp;
            <input style="ime-mode:disabled;" class="disTxt40L" type="text" name="strLocationName" value="_%strLocationName%_" contenteditable="false">
        </span>
        <!-- 備考 -->
        <span id="SegA16">備考</span>
        <span id="VarsA16">
        	<input style="ime-mode:enabled" class="Txt100L" type="text" name="strNote" value="_%strNote%_" maxlength="160" tabindex="16">
        </span>
        <!-- hidden values -->
        <input type="hidden" name="strSessionID" value="_%strSessionID%_"> 
        <input type="hidden" name="lngPurchaseOrderNo" value="_%lngPurchaseOrderNo%_">
        <input type="hidden" name="lngRevisionNo" value="_%lngRevisionNo%_">
        <input type="hidden" name="lngPayConditionCodeOrign" value="_%lngPayConditionCodeOrign%_">
    </div>

    <div id="InputDetail">
        <table id="DetailTable" cellpadding="0" cellspacing="1" border="0">
            <thead id="DetailTableHead">
                <tr class="TrSegs">
                    <th>No.</th>
                    <th>発注No.</th>
                    <th>明細行番号</th>
                    <th>仕入科目</th>
                    <th>仕入部品</th>
                    <th>運搬方法</th>
                    <th>単価</th>
                    <th>数量</th>
                    <th>税抜価格</th>
                    <th>納期</th>
                    <th>備考</th>
                </tr>
            </thead>
        	<tbody id="DetailTableBody">_%strPurchaseOrderDetail%_</tbody>
        </table>
    </div>
</form>




<p id="ErrInputA"></p>
<p id="ErrInputB" style="display: none;"></p>
<!-- START TAX BUTTON -->
<span id="TaxBt" onclick="ShowTaxStatus(this);" style="display: none;"></span>
<!-- END TAX BUTTON -->
<!-- START BODYS -->
<span id="SegBBodys" style="display: none;"></span>
<!-- END BODYS -->
<!-- START HEADER -->
<span id="SegBHeader" style="display: none;"></span>
<!-- END HEADER -->
<!-- START BOTTOM -->
<span id="SegBBottom" style="display: none;"></span>
<!-- END BOTTOM -->
<!-- START BODYS -->
<span id="SegCBodys" style="display: none;"></span>
<!-- END BODYS -->
<!-- START HEADER -->
<span id="SegCHeader" style="display: none;"></span>
<!-- END HEADER -->
<!-- START BOTTOM -->
<span id="SegCBottom" style="display: none;"></span>
<!-- END BOTTOM -->
<!-- ////////// START GOODS PLAN WINDOW ////////// -->
<p id="TaxStatus" style="display: none;">
<span id="TaxBodys" style="display: none;"></span>
<span id="TaxHeader" style="display: none;"></span>
<span id="TaxBottom" style="display: none;"></span>
<span id="Tax" style="display: none;">税額</span>
<span id="TotalStdAmt" style="display: none;">合計金額</span>
<!--  -->
<span id="TaxVars" style="display: none;">
	<input class="disTxt17R" type="text" name="curSubTaxPrice" value="" readonly style="display: none;">
</span>
<!--  -->
<span id="TotalStdAmtVars" style="display: none;">
	<input class="disTxt17R" type="text" name="curTotalStdAmt" value="" readonly style="display: none;">
</span>
</p>
<!-- ////////// END GOODS PLAN WINDOW ////////// -->
<span id="SegDetailINBtn" onclick="fncSetDINBtn( this ); fncViewDIN( 'SegDetailIN' ); return false;" style="display: none;"></span>
<span id="SegDept" style="display: none;">部門</span>
<span id="SegIncharge" style="display: none;">担当者</span>
<span id="VarsDept" style="display: none;">
	<input style="ime-mode:disabled;" class="disTxt02L" type="text" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_" maxlength="2" contenteditable="false">&nbsp;<input class="disTxt46L" type="text" name="strInChargeGroupName" value="_%strInChargeGroupName%_" contenteditable="false" style="display: none;">
</span>
<span id="VarsIncharge" style="display: none;">
	<input style="ime-mode:disabled;" class="disTxt02L" type="text" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_" maxlength="3" contenteditable="false">&nbsp;<input class="disTxt46L" type="text" name="strInChargeUserName" value="_%strInChargeUserName%_" contenteditable="false" style="display: none;">
</span>
<!-- START QUERY BUTTON -->
<span id="AddRowBt" onclick="window.DLwin.fncDtAddRecord();   subLoadMasterHidden('caMonetaryUnitStockSubject', 0, document.all.check_alert, Array ( document.all.HSO.lngMonetaryUnitCode.value, strStockSubjectCode.value ), objDataSourceSettingCheckAlert, 20);return false;" style="display: none;"></span>
<span id="DelRowBt" onclick="window.DLwin.fncDtDelRecord();return false;" style="display: none;"></span>
<span id="CommitBt" onclick="window.DLwin.fncDtCommitRecord();subLoadMasterHidden('caMonetaryUnitStockSubject', 0, document.all.check_alert, Array ( document.all.HSO.lngMonetaryUnitCode.value, strStockSubjectCode.value ), objDataSourceSettingCheckAlert, 20);return false;" style="display: none;"></span>
<span id="RegistBt" onclick="fncPOSubmit( document.DSO.lngWorkflowOrderCode ); return false;" style="display: none;"></span>
<span id="SegBClearBt" onclick="fncResetFrm( window.DSO );window.DLwin.fncDtClearRecord();return false;" style="display: none;"></span>
<!-- END QUERY BUTTON -->
<!-- START [DATEB] -->
<p id="MiFrame10_2" onclick="Zchange(this);">
<iframe id="Mdata10_2" name="MDateBwin" frameborder="0" scrolling="no" src="/msw/date/indexb.html"></iframe>
<span id="DummyDrag10_2" onmousedown="pickup10_2('MiFrame10_2',event);return false;" 
    onmouseup="fncMswPositionCheck(document.all.Mdata10_2,document.all.MiFrame10_2);" 
    ondblclick="fncTitlebar( document.all.Mdata10_2 , document.all.MiFrame10_2 );"></span>
<span id="DummyClose10_2" onclick="DisplayerM10_2( '' , document.all.Mdata10_2 );ExchangeM10_2( 0 , window.Pwin );return false;"></span>
</p>
