<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
</header1>

<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sc/search/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutmsw.js"></script>
</header2>

<header3>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="/sc/search/exstr.js"></script>
<script type="text/javascript" language="javascript" src="/sc/search/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
</header3>


<bodyonload>
initLayoutBase();initLayoutSC();initLayoutMsw();GetlngLanguageCode( _%lngLanguageCode%_ );Loading();
</bodyonload>
</config>



<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>







<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->









<!-- /////////////////////////////////// START NAVIGAION /////////////////////////////////// -->
<span id="NaviButton"></span>

<p id="Navigations" onmouseout="NavigationOFF( Navigations , NaviButton );">
<span id="Navi">
	<iframe id="NaviIfrm" name="NAVIwin" frameborder="0" scrolling="no" src="/navi/index.php?strSessionID=_%strSessionID%_&strNaviCode=sc-1311"></iframe>
</span>
</p>
<!-- //////////////////////////////////// END NAVIGAION //////////////////////////////////// -->







<!-- /////////////////////////////////// START INPUT A SEGMENTS /////////////////////////////////// -->
<p id="InputA">


<!-- START BODYS -->
<span id="SegABodys"></span>
<!-- END BODYS -->

<!-- START HEADER -->
<span id="SegAHeader"></span>
<!-- END HEADER -->

<!-- START BOTTOM -->
<span id="SegABottom"></span>
<!-- END BOTTOM -->



<span id="SegA01">
	<iframe id="SegAIFrm" name="Pwin" frameborder="0" src="/sc/search_ifrm/index.php?strSessionID=_%strSessionID%_"></iframe>
</span>



</p>
<!-- //////////////////////////////////// END INPUT A SEGMENTS //////////////////////////////////// -->



<span id="schSchButton" onclick="GoResult( window.Pwin.PS , '/result/index.html' , '/result/ifrm.html' , 'ResultIframe' , 'YES' );setCookie( 'SalesSearch', window.Pwin.PS );"></span>
<span id="schClrButton" onclick="fncClearIfrm( Pwin , Pwin.PS );CheckResetCnt();"></span>







<!-- /////////////////////////////////// START E TO J /////////////////////////////////// -->
<span id="EtoJ"></span>
<!-- //////////////////////////////////// END E TO J //////////////////////////////////// -->











<!-- //////////////////////////////////// START MSW //////////////////////////////////// -->
<!-- START [VENDOR] -->
<p id="MiFrame01" onclick="Zchange(this);">
<iframe id="Mdata01" name="MVwin" frameborder="0" scrolling="no" src="/msw/vendor/index.html"></iframe>
<span id="DummyDrag01" onmousedown="pickup01('MiFrame01',event);return false;" 
	onmouseup="ShowValue( window.MVwin );fncMswPositionCheck( document.all.Mdata01 , document.all.MiFrame01 );" 
	ondblclick="fncTitlebar( document.all.Mdata01 , document.all.MiFrame01 );"></span>
<span id="DummyClose01" onclick="DisplayerM01( '' , document.all.Mdata01 );ExchangeM01( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [VENDOR] -->


<!-- START [DEPT & IN CHARGE NAME] -->
<p id="MiFrame02" onclick="Zchange(this);">
<iframe id="Mdata02" name="MDwin" frameborder="0" scrolling="no" src="/msw/dept/index.html"></iframe>
<span id="DummyDrag02" onmousedown="pickup02('MiFrame02',event);return false;" 
	onmouseup="ShowHideValueDept( window.MDwin );fncMswPositionCheck( document.all.Mdata02 , document.all.MiFrame02 );" 
	ondblclick="fncTitlebar( document.all.Mdata02 , document.all.MiFrame02 );"></span>
<span id="DummyClose02" onclick="DisplayerM02( '' , document.all.Mdata02 );ExchangeM02( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [DEPT & IN CHARGE NAME] -->


<!-- START [PRODUCTS] -->
<p id="MiFrame03" onclick="Zchange(this);">
<iframe id="Mdata03" name="MGwin" frameborder="0" scrolling="no" src="/msw/products/index.html"></iframe>
<span id="DummyDrag03" onmousedown="pickup03('MiFrame03',event);return false;" 
	onmouseup="ShowValue( window.MGwin );fncMswPositionCheck( document.all.Mdata03 , document.all.MiFrame03 );" 
	ondblclick="fncTitlebar( document.all.Mdata03 , document.all.MiFrame03 );"></span>
<span id="DummyClose03" onclick="DisplayerM03( '' , document.all.Mdata03 );ExchangeM03( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [PRODUCTS] -->


<!-- START [INPUT] -->
<p id="MiFrame09" onclick="Zchange(this);">
<iframe id="Mdata09" name="INPUT2win" frameborder="0" scrolling="no" src="/msw/input/index.html"></iframe>
<span id="DummyDrag09" onmousedown="pickup09('MiFrame09',event);return false;" 
	onmouseup="ShowValue( window.INPUT2win );fncMswPositionCheck( document.all.Mdata09 , document.all.MiFrame09 );" 
	ondblclick="fncTitlebar( document.all.Mdata09 ,  document.all.MiFrame09 );"></span>
<span id="DummyClose09" onclick="DisplayerM09( '' , document.all.Mdata09 );ExchangeM09( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [INPUT] -->
<!-- ///////////////////////////////////// END MSW ///////////////////////////////////// -->





<!-- DUMMY MSW BUUTON -->
<!-- START [VENDOR] BUTTON -->
<span id="MSWBt01" style="visibility:hidden;"></span>
<!-- END [VENDOR] BUTTON -->
<!-- START [DEPT & IN CHARGE NAME] BUTTON -->
<span id="MSWBt02" style="visibility:hidden;"></span>
<!-- END [DEPT & IN CHARGE NAME] BUTTON -->
<span id="MSWBt03" style="visibility:hidden;"></span>
<!-- START [INPUT] BUTTON -->
<span id="MSWBt09" style="visibility:hidden;"></span>
<!-- END [INPUT] BUTTON -->
<!-- DUMMY MSW BUUTON -->


<!-- ERROR MESSAGE -->
<span id="ErrorMessageFrame">
	<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
</span>



<span id="OverLayer"></span>