<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
</header1>

<header2>
<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/uc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/uc/search/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
</header2>

<header3>
<script type="text/javascript" language="javascript" src="functions.js"></script>
<script type="text/javascript" language="javascript" src="exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
<script src="/search/cmn/js/form-buttons.js" defer></script>
<link rel="stylesheet" href="/search/cmn/button/css/button-behaivior.css">
</header3>

<bodyonload>
initLayoutBase();initLayoutUC();Loading();
</bodyonload>
</config>


<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>


<!-- //////////////////////////////////// START MAIN TITLE //////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- ///////////////////////////////////// END MAIN TITLE ///////////////////////////////////// -->
<div class="main-area">
	<!-- //////////////////////////////////// START NAVIGATION //////////////////////////////////// -->
	<div class="navi-area">
		<span id="NaviButton"></span>
		<p id="Navigations" onmouseout="NavigationOFF( Navigations , NaviButton );">
			<span id="Navi">
				<iframe id="NaviIfrm" name="NAVIwin" frameborder="0" scrolling="no" src="/navi/index.php?strSessionID=_%strSessionID%_&strNaviCode=m-11"></iframe>
			</span>
		</p>
	</div>
<!-- ///////////////////////////////////// END NAVIGATION ///////////////////////////////////// -->


<!-- //////////////////////////////////// START INPUT A SEGMENTS //////////////////////////////////// -->
	<p id="InputA">

		<!-- START HEADER -->
		<span id="SegAHeader">
		</span>
		<!-- END HEADER -->

		<!-- START SEGMENTS -->
		<span id="SegA01">
			<iframe id="SegAIFrm" name="Pwin" frameborder="0" src="_%Pwin%_"></iframe>
		</span>
		<!-- END SEGMENTS -->
		
		<!-- START BOTTOM -->
		<span id="SegABottom"></span>
		<!-- END BOTTOM -->


	</p>
	<!-- ///////////////////////////////////// END INPUT A SEGMENTS ///////////////////////////////////// -->

	<img class="clear button" id="schClrButton" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif">
    <img class="search button" id="schSchButton" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif">
</div>

<!-- ERROR MESSAGE -->
<span id="ErrorMessageFrame">
	<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
</span>



<span id="OverLayer"></span>