<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">


<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/cmn/initlayoutcommon.js"></script>

<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbsclass.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbscript.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/lngcheck.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/masterlib.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">



<link rel="stylesheet" type="text/css" media="screen" href="/uc/search_ifrm/layout.css">
<script type="text/javascript" language="javascript" src="/uc/search_ifrm/exstr.js"></script>
<script type="text/javascript" language="javascript" src="/uc/search_ifrm/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
<script src="/search/cmn/search/js/toggleCheckbox.js" defer></script>




</head>
<body id="Backs" oncontextmenu="return false;" onload="fncAutoFocus( document.all.bytInvalidFlag );">


<span id="UCSearchObject"></span>


<!-- データバインド用オブジェクト -->
<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSetting" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSetting" event="ondatasetcomplete">subLoadMasterSetting(this.recordset,0);
</script>



<!-- oncontextmenu="return false;" -->
<form action="javascript:void(0);" name="PS" method="POST">
<input type="hidden" name="ActionScriptName" value="/uc/result/index.php">
<input type="hidden" name="strSessionID" value="_%strSessionID%_">
<input type="hidden" name="lngFunctionCode" value="_%lngFunctionCode%_">

<div class="form-box__contents">
	<div class="toggle-line">
		<img class="toggle-search button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle search">
		<img class="toggle-display button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle display">
	</div>
	<div class="regist-line">
		<span id="ViewSearch1"><img src="/img/type01/cmn/seg/view_search_ja.gif" width="90" height="25" border="0"></span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_detailConditions" disabled>
			<input class="is-display" type="checkbox" name="IsDisplay_detailVisible" _%detailVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="DetailSegs">詳細</span>
			<span class="VarText" id="DetailVars"></span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_bytInvalidFlagConditions" _%bytInvalidFlagConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_bytInvalidFlagVisible" _%bytInvalidFlagVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="LoginPermissionSegs">ログイン許可</span>
			<span class="VarText" id="LoginPermissionVars">
				<input class="CheckBox14" type="checkbox" name="bytInvalidFlag" value="FALSE">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_lngUserCodeConditions" _%lngUserCodeConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_lngUserCodeVisible" _%lngUserCodeVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="UserCodeSegs">ユーザーコード</span>
			<span class="VarText" id="UserCodeVars">
				<input style="ime-mode:disabled;" class="Txt10L" type="text" name="lngUserCode" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_strUserIDConditions" _%strUserIDConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_strUserIDVisible" checked disabled>
		</span>
		<span class="form-line">
			<span class="Column" id="UserIDSegs">ユーザーID</span>
			<span class="VarText" id="UserIDVars">
				<input style="ime-mode:disabled;" class="Txt20L" type="text" name="strUserID" value="" maxlength="20" onfocus="chColorOn(this);" onblur="chColorOff(this);">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_bytMailTransmitFlagConditions" _%bytMailTransmitFlagConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_bytMailTransmitFlagVisible" _%bytMailTransmitFlagVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="EmailPermissionSegs">メール配信許可</span>
			<span class="VarText" id="EmailPermissionVars">
				<input class="CheckBox14" type="checkbox" name="bytMailTransmitFlag" value="TRUE">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_strMailAddressConditions" _%strMailAddressConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_strMailAddressVisible" _%strMailAddressVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="EmailSegs">メールアドレス</span>
			<span class="VarText" id="EmailVars">
				<input style="ime-mode:disabled;" class="Txt52L" type="text" name="strMailAddress" value="" maxlength="40" onfocus="chColorOn(this);" onblur="chColorOff(this);">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_bytUserDisplayFlagConditions" _%bytUserDisplayFlagConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_bytUserDisplayFlagVisible" _%bytUserDisplayFlagVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="DisplayUserSegs">ユーザー表示</span>
			<span class="VarText" id="DisplayUserVars">
				<input class="CheckBox14" type="checkbox" name="bytUserDisplayFlag" value="TRUE">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_strUserDisplayCodeConditions" _%strUserDisplayCodeConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_strUserDisplayCodeVisible" _%strUserDisplayCodeVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="DisplayUserCodeSegs">表示ユーザーコード</span>
			<span class="VarText" id="DisplayUserCodeVars">
				<input style="ime-mode:disabled;" class="Txt03L" type="text" name="strUserDisplayCode" value="" maxlength="3" onfocus="chColorOn(this);" onblur="chColorOff(this);">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_strUserDisplayNameConditions" _%strUserDisplayNameConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_strUserDisplayNameVisible" checked disabled>
		</span>
		<span class="form-line">
			<span class="Column" id="DisplayUserNameSegs">表示ユーザー名</span>
			<span class="VarText" id="DisplayUserNameVars">
				<input class="Txt52L" type="text" name="strUserDisplayName" value="" maxlength="20" onfocus="chColorOn(this);" onblur="chColorOff(this);">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_strUserFullNameConditions" _%strUserFullNameConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_strUserFullNameVisible"_%strUserFullNameVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="UserFullNameSegs">フルネーム</span>
			<span class="VarText" id="UserFullNameVars">
				<input class="Txt52L" type="text" name="strUserFullName" value="" maxlength="40" onfocus="chColorOn(this);" onblur="chColorOff(this);">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_lngCompanyCodeConditions" _%lngCompanyCodeConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_lngCompanyCodeVisible"_%lngCompanyCodeVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="CompanySegs">会社</span>
			<span class="VarText" id="CompanyVars">
				<select class="Slt51" name="lngCompanyCode" onChange="subLoadMasterOption( 15, this, lngGroupCode, Array(this.value), objDataSourceSetting, 0 );">
					<option value="0"></option>
					_%lngCompanyCode%_
				</select>
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_lngGroupCodeConditions" _%lngGroupCodeConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_lngGroupCodeVisible" _%lngGroupCodeVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="GroupSegs">グループ</span>
			<span class="VarText" id="GroupVars">
				<select class="Slt51" name="lngGroupCode">
					<option value="0"></option>
					_%lngGroupCode%_
				</select>
			</span>	
		</span>
	</div>	
	<div class="regist-line">
		<span class="search-label--checkbox">		
			<input class="is-search" type="checkbox" name="IsSearch_lngAuthorityGroupCodeConditions" _%lngAuthorityGroupCodeConditions%_>
			<input class="is-display" type="checkbox" name="IsDisplay_lngAuthorityGroupCodeVisible" _%lngAuthorityGroupCodeVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="AuthorityGroupSegs">権限グループ</span> 
			<span class="VarText" id="AuthorityGroupVars">
				<select class="Slt15" name="lngAuthorityGroupCode">
					<option value=""></option>
					_%lngAuthorityGroupCode%_
				</select>
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_lngAccessIPAddressCodeConditions" _%lngAccessIPAddressCodeConditions%_>	
			<input class="is-display" type="checkbox" name="IsDisplay_lngAccessIPAddressCodeVisible" _%lngAccessIPAddressCodeVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="AccessIPAddressSegs">アクセスIPアドレス</span>
			<span class="VarText" id="AccessIPAddressVars">
				<select class="Slt51" name="lngAccessIPAddressCode" tabindex="" onblur="fncDefaultTabindex( document.all.bytInvalidFlag );">
					<option value=""></option>
					_%lngAccessIPAddressCode%_
				</select>
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_strNoteConditions" _%strNoteConditions%_ disabled>
			<input class="is-display" type="checkbox" name="IsDisplay_strNoteVisible"_%strNoteVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="RemarkSegs">備考</span>
			<span class="VarText" id="RemarkVars"></span>
		</span>
	</div>	
	<div class="regist-line">
		<span class="search-label--checkbox">
			<input class="is-search" type="checkbox" name="IsSearch_updateConditions" disabled>
			<input class="is-display" type="checkbox" name="IsDisplay_updateVisible" _%updateVisible%_>
		</span>
		<span class="form-line">
			<span class="Column" id="FixSegs">修正</span>
			<span class="VarText" id="FixVars"></span>
		</span>
	</div>
</div>
</form>
</body>
</html>