
/* フォーム ボタン */
.form-buttons
{
    position: relative;
    top: -35px;
    left: 21px;

    width: 927px;
}

/* クリアボタン */
.form-buttons__clear
{
    margin-left: 20px;
}

/* 登録ボタン */
.form-buttons__regist
{
    float: right;
}
