<config>
<header1>
	<link rel="stylesheet" href="/mold/cmn/form/css/forms.css">
    <link rel="stylesheet" href="/mold/cmn/form/css/forms-validation.css">
	<link rel="stylesheet" href="/mold/cmn/form/css/tabs.css">
	<link rel="stylesheet" href="/mold/cmn/navigate/css/navigate.css">


    <!-- confirm iframe スタイル -->
    <link rel="stylesheet" href="/mold/cmn/confirm/css/confirm-in-iframe.css">
    <!-- タブ切り替え共通処理 -->
	<script src="/mold/cmn/form/js/tab-function.js" defer></script>
    <!-- セレクトボックス共通処理 -->
	<script src="/mold/cmn/form/js/util-selectbox.js" defer></script>
	<!-- msw表示切替 -->
	<script src="/mold/cmn/msw/cmn/js/msw.js" defer></script>
</header1>

<header2>
</header2>

<header3>
	<!-- msw汎用スタイル -->
	<link rel="stylesheet" href="/mr/regist/css/msw.css">
    <!-- 金型説明テーブル -->
	<link rel="stylesheet" href="/mr/regist/css/table-description.css">
    <!-- フォーム ボタン -->
    <link rel="stylesheet" href="/mr/regist/css/form-buttons.css">
	<!-- 言語切り替え処理 -->
	<script src="/mr/regist/js/switch-language.js" defer></script>
	<!-- タブ切り替え時の処理 -->
	<script src="/mr/regist/js/switch-tab.js" defer></script>
	<!-- datepickerの要素指定 -->
	<script src="/mr/regist/js/datepicker.js" defer></script>
	<!-- マスタデータ検索 -->
	<script src="/mr/regist/js/invoke-master-search.js" defer></script>
	<!-- セレクトボックス操作 -->
	<script src="/mr/regist/js/bind-selectbox-action.js" defer></script>
    <!-- フォーム ボタン -->
	<script src="/mr/regist/js/form-buttons.js" defer></script>
	<!-- 要素フォーカス時の挙動 -->
	<script src="/mr/regist/js/focus-elements.js" defer></script>
    <!-- フォーム検証 -->
    <script src="/mr/regist/js/validate-form.js" defer></script>
    <!-- フォーム操作 -->
    <script src="/mr/regist/js/form-change-action.js" defer></script>
	<!-- msw表示切替 -->
	<script src="/mr/regist/js/msw.js" defer></script>
</header3>

<bodyonload>
</bodyonload>
</config>

<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/mold/cmn/navigate/mold_navi.html');
	</script>
</div>

<!-- 入力フォーム -->
<div class="form-box">
	<!-- フォームヘッダ -->
	<div class="form-box__header">
		<p class="form-box__header__title">金型帳票登録</p>
	</div>
	<!-- フォームコンテンツ -->
	<div class="form-box__contents">
		<form name="RegistMoldReport" action="javascript:void(0);" method="post">
            <input type="submit">
			<div class="regist-tab-header">
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">製品コード</span>
						<input class="TxtStyle05L" name="ProductCode" autofocus>
						<input class="disTxt46L" name="ProductName" readonly>
						<img class="msw-button button" invokeMSWName="msw-product" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">顧客品番</span>
						<input class="TxtStyle05L" name="GoodsCode" readonly>
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">帳票区分</span>
						<select name="ReportCategory" class="Slt13">
							<option value="">−</option>
							<option value="10">移動版</option>
							<option value="20">返却版</option>
							<option value="30">廃棄版</option>
						</select>
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">依頼日</span>
						<input name="RequestDate" class="TxtStyle05L">
					</span>
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">依頼区分</span>
						<select name="RequestCategory" class="Slt25">
							<option value="">−</option>
							<option value="10">KUWAGATA JAPAN REQUEST</option>
							<option value="20">KUWAGATA H.K. REQUEST</option>
						</select>
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">希望日</span>
						<input name="ActionRequestDate" class="TxtStyle05L">
					</span>
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">移動方法</span>
						<select name="TransferMethod" class="Slt47">
							<option value="">−</option>
							<option value="10">DELIVER TO RECEIVER(移動先に届ける)</option>
							<option value="20">PICK-UP BY RECEIVER(移動先が引き取りに来る)</option>
							<option value="30">VIA HONG KONG(香港経由)</option>
						</select>
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">指示区分</span>
						<select name="InstructionCategory" class="Slt13">
							<option value="">−</option>
							<option value="10">顧客指示</option>
							<option value="20">KWG指示</option>
						</select>
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">事業部(顧客)</span>
						<input class="TxtStyle05L" name="CustomerCode">
						<input class="disTxt46L" name="CustomerName" readonly>
						<img class="msw-button button" invokeMSWName="msw-customer" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">KWG担当部署</span>
						<input class="TxtStyle05L" name="KuwagataGroupCode">
						<input class="disTxt46L" name="KuwagataGroupName" readonly>
						<img class="msw-button button" invokeMSWName="msw-group" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
				</div>
				<div class="regist-line--remora">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">KWG担当者</span>
						<input class="TxtStyle05L" name="KuwagataUserCode">
						<input class="disTxt46L" name="KuwagataUserName" readonly>
						<img class="msw-button button" invokeMSWName="msw-inchargeuser" msw-before="pickupGroupCode" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">生産後の処理</span>
						<select name="FinalKeep" class="Slt39">
                            <option value="">−</option>
                            <option value="10">KEEP BY RECEIVER(移動先工場で保管する)</option>
                            <option value="20">RETURN TO ORIGINAL(保管工場に返却する)</option>
                        </select>
					</span>
					<span class="regist-label">
						<span class="regist-label__required-mark"></span>
						<span class="regist-label__text">返却予定日</span>
						<input name="ReturnSchedule" class="TxtStyle05L">
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark"></span>
						<span class="regist-label__text">その他</span>
						<input name="Note" class="note">
					</span>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark"></span>
						<span class="regist-label__text">欄外備考</span>
						<textarea name="MarginalNote" rows="9"></textarea>
					</span>
				</div>
			</div>
			<div class="regist-tab-detail">
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">製品コード</span>
						<input class="TxtStyle05L" name="ProductCode" readonly>
						<input class="disTxt46L" name="ProductName" readonly>
						<img class="msw-button button" invokeMSWName="msw-product" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">顧客品番</span>
						<input class="TxtStyle05L" name="GoodsCode" readonly>
					</span>
				</div>
				<div class="regist-line">
					<table class="mold-selection">
		                <tr>
		                    <th class="mold-selection__label">金型リスト</th>
		                    <th></th>
							<th class="mold-selection__label">選択中の金型リスト</th>
		                    <th></th>
		                </tr>
						<tr>
		                	<td>
		                    	<select class="mold-selection__list Slt60" size="10" multiple="multiple"></select>
		                	</td>
		                	<td class="mold-selection__backimage-add-del">
								<img class="list-add button" src="/img/type01/cg/del_off_bt.gif" alt="list add">
								<img class="list-sort button" src="/img/type01/mr/sort_off_bt.gif" alt="list sort">
								<img class="list-del button" src="/img/type01/cg/add_off_bt.gif" alt="list del">
							</td>
							<td>
								<select name="ChoosenMoldList" class="mold-selection__choosen-list Slt60" size="10" multiple="multiple"></select>
							</td>
							<td class="mold-selection__backimage-up-down">
								<img class="list-up button" src="/img/type01/cg/up_off_bt.gif" alt="list up">
								<img class="list-sort button" src="/img/type01/mr/sort_off_bt.gif" alt="list sort">
								<img class="list-down button" src="/img/type01/cg/down_off_bt.gif" alt="list down">
							</td>
						</tr>
		            </table>
				</div>
				<div class="regist-line">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">保管工場</span>
						<input class="TxtStyle05L" name="SourceFactory" readonly>
						<input class="disTxt46L" name="SourceFactoryName" readonly>
						<img class="msw-button button" invokeMSWName="msw-factory" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
				</div>
				<div class="regist-line--remora">
					<span class="regist-label">
						<span class="regist-label__required-mark">◎</span>
						<span class="regist-label__text">移動先工場</span>
						<input class="TxtStyle05L" name="DestinationFactory">
						<input class="disTxt46L" name="DestinationFactoryName" readonly>
						<img class="msw-button button" invokeMSWName="msw-factory" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
					</span>
				</div>
				<div class="regist-line">
					<table class="table-description">
						<thead>
							<tr>
								<th>項番</th>
								<th>金型NO</th>
								<th>金型説明</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
						<tfoot>
						</tfoot>
					</table>
				</div>
				<div class="regist-line">
				</div>
			</div>
		</form>
	</div>
	<div class="msw-loadpoints">
		<!-- MSW 製品マスタ検索 -->
		<iframe class="msw-product" src="/mold/cmn/msw/product/mswproduct.html" frameborder="0">
		</iframe>
		<!-- MSW 工場マスタ検索 -->
		<iframe class="msw-factory" src="/mold/cmn/msw/factory/mswfactory.html" frameborder="0">
		</iframe>
		<!-- MSW 顧客マスタ検索 -->
		<iframe class="msw-customer" src="/search/cmn/msw/customer/mswcustomer.html" frameborder="0">
		</iframe>
		<!-- MSW 担当部署マスタ検索 -->
		<iframe class="msw-group" src="/mold/cmn/msw/group/mswgroup.html" frameborder="0">
		</iframe>
		<!-- MSW 担当者マスタ検索 -->
		<iframe class="msw-inchargeuser" src="/search/cmn/msw/inchargeuser/mswinchargeuser.html" frameborder="0">
		</iframe>
	</div>
</div>

<!-- フォーム ボタン -->
<div class="form-buttons">
    <img class="form-buttons__clear button" src="/img/type01/cmn/querybt/clear_off_ja_bt.gif" alt="form clear">
    <img class="form-buttons__regist button" src="/img/type01/cmn/querybt/reg_off_ja_bt.gif" alt="form regist">
</div>

<!-- 右サイドバー タブ -->
<div class="tabs">
	<img class="tabs__header" src="/img/type01/cmn/seg/h_tab_off.gif" alt="tab header" disabled>
	<img class="tabs__detail" src="/img/type01/cmn/seg/d_tab_on.gif" alt="tab footer">
</div>
