<!--

#Message
{
	font-family : Arial , ＭＳ Ｐゴシック ;
	font-weight : normal ;
	font-size : 12px ;
	color : #000000 ;
	line-height : 14px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #000000 ;
	background-color: #FFD700 ;
	padding : 10px 5px 8px 10px ;
}

-->