<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/p/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/p/search/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutmsw.js"></script>
</header2>


<header3>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="exstr.js"></script>
<script type="text/javascript" language="javascript" src="functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
</header3>


<bodyonload>
initLayoutBase();initLayoutP();initLayoutMsw();GetlngLanguageCode( _%lngLanguageCode%_ );Loading();
</bodyonload>
</config>



<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>



<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->



<!-- /////////////////////////////////// START NAVIGAION /////////////////////////////////// -->
<span id="NaviButton"></span>

<p id="Navigations" onmouseout="NavigationOFF( Navigations , NaviButton );">
<span id="Navi">
	<iframe id="NaviIfrm" name="NAVIwin" frameborder="0" scrolling="no" src="/navi/index.php?strSessionID=_%strSessionID%_&strNaviCode=p-13111"></iframe>
</span>
</p>
<!-- //////////////////////////////////// END NAVIGAION //////////////////////////////////// -->



<!-- /////////////////////////////////// START INPUT A SEGMENTS /////////////////////////////////// -->
<p id="InputA">


<!-- START BODYS -->
<span id="SegABodys"></span>
<!-- END BODYS -->

<!-- START HEADER -->
<span id="SegAHeader"></span>
<!-- END HEADER -->

<!-- START BOTTOM -->
<span id="SegABottom"></span>
<!-- END BOTTOM -->

<!-- START QUERY BUTTON -->
<span id="SegAClearBt"></span>
<!-- END QUERY BUTTON -->



<span id="SegA01">
	<iframe id="SegAIFrm" name="Pwin" frameborder="0" src="/p/search_ifrm/index.php?strSessionID=_%strSessionID%_"></iframe>
</span>




</p>
<!-- //////////////////////////////////// END INPUT A SEGMENTS //////////////////////////////////// -->



<span id="schSchButton" onclick="GoResult( window.Pwin.PS , '/result/index.html' , '/result/ifrm.html' , 'ResultIframe' , 'YES' );setCookie( 'ProductSearch', window.Pwin.PS );"></span>
<span id="schClrButton" onclick="fncClearIfrm( Pwin , Pwin.PS );CheckResetCnt();"></span>







<!-- /////////////////////////////////// START E TO J /////////////////////////////////// -->
<span id="EtoJ"></span>
<!-- //////////////////////////////////// END E TO J //////////////////////////////////// -->









<!-- /////////////////////////////////// START MSW /////////////////////////////////// -->
<!-- START [CREATION FACTORY] -->

<!-- START [CREATION FACTORY] -->
<p id="MiFrame01_2" onclick="Zchange(this);">
<iframe id="Mdata01_2" name="MVwin_2" frameborder="0" scrolling="no" src="/msw/creation/index.html"></iframe>
<span id="DummyDrag01_2" onmousedown="pickup01_2('MiFrame01_2',event);return false;" 
	onmouseup="ShowValue( window.MVwin_2 );fncMswPositionCheck( document.all.Mdata01_2 , document.all.MiFrame01_2 );" 
	ondblclick="fncTitlebar( document.all.Mdata01_2 , document.all.MiFrame01_2 );"></span>
<span id="DummyClose01_2" onclick="DisplayerM01_2( '' , document.all.Mdata01_2 );ExchangeM01_2( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [CREATION FACTORY] -->


<!-- START [ASSEMBLY FACTORY] -->
<p id="MiFrame01_3" onclick="Zchange(this);">
<iframe id="Mdata01_3" name="MVwin_3" frameborder="0" scrolling="no" src="/msw/assembly/index.html"></iframe>
<span id="DummyDrag01_3" onmousedown="pickup01_3('MiFrame01_3',event);return false;" 
	onmouseup="ShowValue( window.MVwin_3 );fncMswPositionCheck( document.all.Mdata01_3 , document.all.MiFrame01_3 );" 
	ondblclick="fncTitlebar( document.all.Mdata01_3 , document.all.MiFrame01_3 );"></span>
<span id="DummyClose01_3" onclick="DisplayerM01_3( '' , document.all.Mdata01_3 );ExchangeM01_3( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [ASSEMBLY FACTORY] -->


<!-- START [DEPT & IN CHARGE NAME] -->
<p id="MiFrame02" onclick="Zchange(this);">
<iframe id="Mdata02" name="MDwin" frameborder="0" scrolling="no" src="/msw/dept/index.html"></iframe>
<span id="DummyDrag02" onmousedown="pickup02('MiFrame02',event);return false;" 
	onmouseup="ShowHideValueDept( window.MDwin );fncMswPositionCheck( document.all.Mdata02 , document.all.MiFrame02 );" 
	ondblclick="fncTitlebar( document.all.Mdata02 , document.all.MiFrame02 );"></span>
<span id="DummyClose02" onclick="DisplayerM02( '' , document.all.Mdata02 );ExchangeM02( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [DEPT & IN CHARGE NAME] -->


<!-- START [LOCATION] -->
<p id="MiFrame04" onclick="Zchange(this);">
<iframe id="Mdata04" name="MLwin" frameborder="0" scrolling="no" src="/msw/location/index.html"></iframe>
<span id="DummyDrag04" onmousedown="pickup04('MiFrame04',event);return false;" 
	onmouseup="ShowValue( window.MLwin );fncMswPositionCheck( document.all.Mdata04 , document.all.MiFrame04 );" 
	ondblclick="fncTitlebar( document.all.Mdata04 , document.all.MiFrame04 );"></span>
<span id="DummyClose04" onclick="DisplayerM04( '' , document.all.Mdata04 );ExchangeM04( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [LOCATION] -->


<!-- START [VENDOR & IN CHARGE NAME] -->
<p id="MiFrame07" onclick="Zchange(this);">
<iframe id="Mdata07" name="VIwin" frameborder="0" scrolling="no" src="/msw/vi/index.html"></iframe>
<span id="DummyDrag07" onmousedown="pickup07('MiFrame07',event);return false;" 
	onmouseup="ShowHideValueVi( window.VIwin );fncMswPositionCheck( document.all.Mdata07 , document.all.MiFrame07 );" 
	ondblclick="fncTitlebar( document.all.Mdata07 , document.all.MiFrame07 );"></span>
<span id="DummyClose07" onclick="DisplayerM07( '' , document.all.Mdata07 );ExchangeM07( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [VENDOR & IN CHARGE NAME] -->


<!-- START [INPUT] -->
<p id="MiFrame09" onclick="Zchange(this);">
<iframe id="Mdata09" name="INPUT2win" frameborder="0" scrolling="no" src="/msw/input/index.html"></iframe>
<span id="DummyDrag09" onmousedown="pickup09('MiFrame09',event);return false;" 
	onmouseup="ShowValue( window.INPUT2win );fncMswPositionCheck( document.all.Mdata09 , document.all.MiFrame09 );" 
	ondblclick="fncTitlebar( document.all.Mdata09 ,  document.all.MiFrame09 );"></span>
<span id="DummyClose09" onclick="DisplayerM09( '' , document.all.Mdata09 );ExchangeM09( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [INPUT] -->
<!-- //////////////////////////////////// END MSW //////////////////////////////////// -->








<!-- DUMMY MSW BUTTON -->
<!-- START [DEPT & IN CHARGE NAME] BUTTON -->
<span id="MSWBt02" style="visibility:hidden;"></span>
<!-- END [DEPT & IN CHARGE NAME] BUTTON -->

<!-- START [VENDOR & IN CHARGE NAME] BUTTON -->
<span id="MSWBt07" style="visibility:hidden;"></span>
<!-- END [VENDOR & IN CHARGE NAME] BUTTON -->

<!-- START [CREATION FACTORY] BUTTON -->
<span id="MSWBt01_2" style="visibility:hidden;"></span>
<!-- END [CREATION FACTORY] BUTTON -->

<!-- START [ASSEMBLY FACTORY] BUTTON -->
<span id="MSWBt01_3" style="visibility:hidden;"></span>
<!-- END [ASSEMBLY FACTORY] BUTTON -->

<!-- START [LOCATION] BUTTON -->
<span id="MSWBt04" style="visibility:hidden;"></span>
<!-- END [LOCATION] BUTTON -->
<!-- DUMMY MSW BUTTON -->

<!-- START [INPUT] BUTTON -->
<span id="MSWBt09" style="visibility:hidden;"></span>
<!-- END [INPUT] BUTTON -->
<!-- DUMMY MSW BUTTON -->




<!-- ERROR MESSAGE -->
<span id="ErrorMessageFrame">
	<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
</span>


<span id="OverLayer"></span>