<!--
.main-area{
	position : absolute ;
	top : 95px ;
}

.navi-area {
    position: absolute;
    top: 1px;
    left: 11px;
    width: 186px;
    height: 520px;
    z-index : 4 ;
    pointer-events: none;
}

.clear {
	position : absolute ;
	left : 875px ;
	top : 14px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

.search {
	position : absolute ;
	left : 790px ;
	top : 14px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

/************************************* START INPUT A *************************************/
/* START INPUT A SEGMENTS */
#InputA { 
	position : absolute ;
	left : 34px ;
	top : 0px ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	height: 492px;
	width: 949px;
	background-color: #d6d0b1 ;
	margin-top: 12px;
	margin-bottom: 0px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* END INPUT A SEGMENTS */


/* START HEADER */
#SegAHeader {
	position : absolute ;
	left : 0px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END HEADER */

/* END BODYS */


/* START BOTTOM */
#SegABottom {
	position : absolute ;
	left : 0px ;
	top : 488px ;
	border-width: 0px ;
	border-style: none ;
	background-color: #ffffff ;
}
/* END BOTTOM */


/* START SEGMENTS */
#SegA01 {
	position : absolute ;
	left : 8px ;
	top : 39px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegAIFrm {
	width : 931px ;
	height : 447px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #799797 ;
}
/* END SEGMENTS */
/************************************** END INPUT C **************************************/





#MasterTitle
{
	position : absolute ;
	top : 20px ;
	left : 235px ;
	border-width : 0px ;
	border-style : none ;
}




#SelectMaster
{
	position : absolute ;
	top : 60px ;
	left : 235px ;
	border-width : 0px ;
	border-style : none ;
}




#SelectBt
{
	position : absolute ;
	top : 375px ;
	left : 427px ;
	border-width : 0px ;
	border-style : none ;
}


-->