<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">

<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>


<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutresult.js"></script>


<script type="text/javascript" language="javascript" src="/wf/result/exstr.js"></script>
<script type="text/javascript" language="javascript" src="/wf/cmn/functions.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/wf/cmn/styles.css">


<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>

</head>
<body oncontextmenu="return false;" onload="initLayoutResult();GetIfrmlngLanguageCode( window.top.lngLanguageCode , window.lngCode );">


<table width="100%" cellpadding="0" cellspacing="1" border="0" bgcolor="#6f818">
	<tr id="SegTitle">
		<td>&nbsp;</td>
		<td id="WF01" nowrap>詳細</td>
		_%column1%_
		_%column2%_
		_%column3%_
		_%column4%_
		_%column5%_
		_%column6%_
		_%column8%_
		_%column7%_
		<td id="WF09" nowrap>処理</td>
	</tr>
_%tabledata%_
</table>
_%strErrorMessage%_
<p id="PrevNext">
<span id="PrevButton">
	<a href="_%prev%_" style="visibility:_%prev_visibility%_;"><img onmouseover="PrevOn(this);" onmouseout="PrevOff(this);" src="/img/_%lngLayoutCode%_/wf/result/prev_off_bt.gif" width="58" height="16" border="0" alt="PREV"></a>
</span>
&nbsp;
<span id="PageCount"></span>
<span id="PageCountNum">_%page%_</span>
&nbsp;
<span id="NextButton">
	<a href="_%next%_" style="visibility:_%next_visibility%_;"><img onmouseover="NextOn(this);" onmouseout="NextOff(this);" src="/img/_%lngLayoutCode%_/wf/result/next_off_bt.gif" width="58" height="16" border="0" alt="NEXT"></a>
</span>
</p>

<input type="hidden" name="lngCode" value="_%lngLanguageCode%_">

</body>
</html>