
/* 全体背景 */
.confirm-background
{
    background-color: #f1f1f1;

    overflow-y: scroll;
}

/* タイトル */
.confirm-title
{
    height: 22px;

    color: #ffffff;
    line-height: 22px;
    text-align: center;

    background-color: #799797;
}

/* 閉じる/登録 選択BOX */
.confirm-box
{
    margin: 20px 5px;

    border: 1px solid black;
}

/* 閉じる/登録 選択BOX div */
.confirm-box div
{
    margin-bottom: 5px;
}

/* 閉じる/登録 選択BOX ラベル */
.confirm-box__header
{
    color: #ffffff;
    line-height: 22px;
    text-align: center;

    background-color: #799797;
}

/* 閉じる/登録 選択BOX ボタン */
.confirm-box__buttons
{
    text-align: center;
}

/* データ部 */
.confirm-data
{
    margin: 20px 5px;
}

/* データ部 セクション */
.confirm-data__section
{
    margin: 15px 0px;
    font-size:0;
}

/* データ部 レコード */
.confirm-data__section__record
{
    height: 18px;

    border: 1px solid #999999;
}

/* データ部 レコード ラベル/値　共通 */
.confirm-data__section__record div
{
    height: 100%;
    line-height: 18px;
    display: inline-block;
    font-size:9pt;
}

/* データ部 レコード ボーダー重なり対応 */
.confirm-data__section__record~.confirm-data__section__record
{
    border-top-style: none;
}

/* データ部 ラベル */
.confirm-data__section__record div:nth-child(1),
.confirm-data__section__record div:nth-child(3)
{
    width: 19.8%;

    color: #ffffff;
    text-align: center;

    border-right: 1px solid #999999;

    background-color: #799797;
}

/* データ部 値 */
.confirm-data__section__record div:nth-child(2),
.confirm-data__section__record div:nth-child(4)
{
    width: 30%;
    white-space: pre;
    background-color: #ffffff;
}

.confirm-data__section__record_spec
{
    width: 80%;

}
