<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">


<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sysc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>


<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbsclass.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbscript.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/lngcheck.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/masterlib.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">


<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sysc/message/initlayoutifrm.js"></script>
<script type="text/javascript" language="javascript" src="/sysc/inf/finish_exstr.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/sysc/cmn/form.css">
<link rel="stylesheet" type="text/css" media="screen" href="/sysc/inf/finish_layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>


</head>
<body id="Backs" oncontextmenu="return false;" onload="GetIfrmlngLanguageCode( window.top.lngLanguageCode );">



<div id="CompleteSet">
	<div class="regist-line">
		<span class="form-line">
			<span id="FinishRegist">登録完了</span>
			<span id="BackSpace"></span>
			<!-- 戻るボタン -->
			<span id="BackBt" onclick="location.href='inf.php?strSessionID=_%strSessionID%_';return false;"></span>
		</span>
	</div>
</div>



<div id="MessageSet">
	<div class="regist-line">
		<span class="form-line">
			<span class="Column" id="Column0">タイトル</span>
			<span class="VarText" id="Vars0">
				<input class="Txt90L" type="text" name="strSystemInformationTitle" contenteditable="false" value="_%strSystemInformationTitle%_">
			</span>
		</span>
	</div>
	<div class="regist-line">
		<span class="form-line">
			<span class="ColumnArea" id="Column1">メッセージ</span>
			<span class="VarTextArea" id="Vars1">
				<textarea rows="3" name="strSystemInformationBody" wrap="hard" tabindex="2" maxlength="200" contenteditable="false">
		_%strSystemInformationBody%_
				</textarea>
			</span>
		</span>
	</div>
</div>



</body>
</html>