<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">

<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/m/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/type01/cmn/initlayoutcommon.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

<script type="text/javascript" language="javascript" src="/m/cmn/functions.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/m/cmn/styles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/m/cmn/layout.css">

<link rel="stylesheet" type="text/css" media="screen" href="/m/list/c/cmn/layout.css">
<script type="text/javascript" language="javascript" src="/m/cmn/m_querytable.js"></script>

<script type="text/javascript" language="javascript" src="/m/list/c/m_TemporaryRate_exstr.js"></script>
<style type="text/css">
#objTable
{
	position:relative;
	top:160px;
	left:60px;
	width:300px;
}
.SegColumn
{
	
	height : 27px ;
	color : #ffffff ;
	background-color : #799797 ;
	word-break : keep-all ;
}

.Segs
{
	
	height : 25px ;
	background-color : #ffffff ;
	word-break : keep-all ;
}
.Seg
{
	width : 100px ;
}
#objButton
{
	position:relative;
	top:150;
}
</style>
</head>

<body id="Backs" onload="fncConfirmObjectOnload( '_%lngActionCode%_' , 1);">


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#6f8180" align="center">
<tr class="SegColumn">
	<td id="ControlTitle"></td>
</tr>
</table>


<form name="PS" action="action.php" method="GET">

<br>


<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
	<tr>
		<td>
			<table width="100%" cellpadding="0" cellspacing="1" border="1" bgcolor="#6f8180" align="center">
				<tr>
					<td id="Column0" class="SegColumn" width="25%">通貨単位コード</td>
					<td class="Segs">_%lngmonetaryunitname%_</td>
				</tr>
				<tr>
					<td id="Column1" class="SegColumn" width="25%">換算レート</td>
					<td class="Segs">_%curconversionrate%_</td>
				</tr>
				<tr>
					<td id="Column2" class="SegColumn" width="25%">適用開始月</td>
					<td class="Segs">_%dtmapplystartdate%_</td>
				</tr>
				<tr>
					<td id="Column3" class="SegColumn" width="25%">適用終了月</td>
					<td class="Segs">_%dtmapplyenddate%_</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<p id="objButton">
	<table cellpadding="5" cellspacing="0" border="0" bgcolor="#f1f1f1" align="center">
		<tr>
			<td>
				<span id="objQuery"></span>					
				<input type="hidden" name="lngmonetaryunitcode" value="_%lngmonetaryunitcode%_">
				<input type="hidden" name="curconversionrate" value="_%curconversionrate%_">
				<input type="hidden" name="dtmapplystartdate" value="_%dtmapplystartdate%_">
				<input type="hidden" name="dtmapplyenddate" value="_%dtmapplyenddate%_">
				<input type="hidden" name="strSessionID" value="_%strSessionID%_">
				<input type="hidden" name="lngActionCode" value="_%lngActionCode%_">
				<input type="hidden" name="strSubmit" value="true">
			</td>
		</tr>
	</table>
</p>


<br>


</form>

</body>
</html>