<!--


#ErrInputA { 
	position : absolute ;
	left : 33px ;
	top : 111px ;
	z-index : 6 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegA01 {
	position : absolute ;
	left : 119px ;
	top : 45px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA02 {
	position : absolute ;
	left : 119px ;
	top : 75px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA03 {
	position : absolute ;
	left : 119px ;
	top : 135px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA04 {
	position : absolute ;
	left : 168px ;
	top : 149px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA05 {
	position : absolute ;
	left : 168px ;
	top : 175px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA06 {
	position : absolute ;
	left : 119px ;
	top : 221px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegA12 {
	position : absolute ;
	left : 366px ;
	top : 106px ;
	border-width: 0px ;
	border-style: none ;
}


/******************************************
*******************************************/
#ErrInputB { 
	position : absolute ;
	left : 33px ;
	top : 111px ;
	z-index : 6 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegB02 {
	position : absolute ;
	left : 119px ;
	top : 45px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB04_2 {
	position : absolute ;
	left : 119px ;
	top : 146px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB04_4 {
	position : absolute ;
	left : 119px ;
	top : 198px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB04_5 {
	position : absolute ;
	left : 119px ;
	top : 224px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB05_2 {
	position : absolute ;
	left : 418px ;
	top : 146px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB05_4 {
	position : absolute ;
	left : 418px ;
	top : 198px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB05_5 {
	position : absolute ;
	left : 374px ;
	top : 254px ;
	border-width: 0px ;
	border-style: none ;
}

#ErrSegB07 {
	position : absolute ;
	left : 119px ;
	top : 280px ;
	border-width: 0px ;
	border-style: none ;
}



-->