<config>
	<header1>
	</header1>
	<header2>
	</header2>
	<header3>
	</header3>
	<bodyonload>
		Loading();
	</bodyonload>
</config>
<script src="/cmn/jquery/tablesorter/jquery.tablesorter.js"></script>
<script src="/cmn/jquery/tablesorter/jquery.tablesorter.widgets.js"></script>
<link rel="stylesheet" href="/cmn/jquery/tablesorter/themes/blue/style.css">
<link rel="stylesheet" href="/lc/info/css/forms.css">
<script type="text/javascript" language="javascript" src="/lc/info/functions.js"></script>
<script type="text/javascript" language="javascript" src="/lc/info/table.js"></script>
<script type="text/javascript" language="javascript" src="/lc/info/datepicker.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/js/functions.js"></script>
<!-- msw表示切替 -->
<link rel="stylesheet" href="/lc/info/css/msw.css">
<script src="/lc/cmn/msw/cmn/js/msw.js" defer></script>
<script src="/cmn/querydata.js" defer></script>
<script src="/lc/cmn/js/invoke-master-search.js" defer></script>
<style>
	.modal1-button {
		height: 19px;
		width: 20px;
	}
</style>
<!-- 各画面毎の表示内容 -->
<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/lc/cmn/navigate/lc_navi.html');
	</script>
</div>
<div class="form-box">
	<div class="form-box__main">
		<!-- フォームヘッダ -->
		<div class="form-box__header">
			<p class="form-box__header__title">L/C情報</p>
		</div>
		<!-- フォームコンテンツ -->
		<div class="form-box__contents">
			<div class="condition">
				<div class="input-group">
					<div class="col-8 block input-group">
						<div class="col-1">
							<label>条件</label>
						</div>
						<div class="col-4 input-group">
							<div>
								<label>FROM</label>
							</div>
							<div class="col-3 p-0">
								<input type="text" class="form-control txt-kids" id="startYm">
							</div>
							<div>
								<label>TO</label>
							</div>
							<div class="col-3 p-0">
								<input type="text" class="form-control txt-kids" id="endYm">
							</div>
						</div>
						<div class="col-6 input-group">
							<div>
								<label for="payfCode">仕入先名称 </label>
							</div>
							<div class="col-2 p-0">
								<input type="text" class="form-control txt-kids" style="font-size:" id="payfCode" name="payfCode" aria-label="..." aria-describedby="basic-addon4">
							</div>
							<div class="col-6 p-0">
								<input type="text" class="form-control txt-kids" id="payfName" name="payfName" aria-label="..." aria-describedby="basic-addon4">
							</div>
							<div class="input-group-append pl-1 p-0">
								<img class="msw-button button modal1-button" invokeMSWName="msw-payf" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
							</div>
						</div>
					</div>
					<div class="col-4 input-group">
						<div class="col-4 mt-1">
							<label>取得日時： </label>
						</div>
						<div class="col-8 mt-1">
							<label>_%lc_info_date%_</label>
						</div>
					</div>
				</div>
			</div>
			<div class="condition">
				<div class="input-group">
					<div class="col-8 block input-group">
						<div class="col-10 simulate-labels pr-0 pl-0 pt-0">
							<label style="background-color: rgb(192,192,192);">有効</label>
							<label style="background-color: rgb(255,200,50);">リバイズ</label>
							<label style="background-color: rgb(255,128,128);">削除</label>
							<label style="background-color: rgb(50,255,50);">過去日調査要</label>
							<label style="background-color: rgb(100,100,255);">アメンド要</label>
							<label style="background-color: rgb(255,180,180);">T／T（無効）</label>
						</div>
					</div>
					
					<div class="col-3 input-group">
						<div class="col-6 mt-1">
							<!-- 条件クリアボタン -->
							<button type="button" class="btn btn-light btn-xs btn-kids-sm" id="clearBtn" onclick="formClear()">条件クリア</button>
						</div>
						<div class="col-6 mt-1">
							<!-- 抽出ボタン -->
							<button type="button" class="btn btn-light btn-xs btn-kids-sm" id="getBtn" onclick="getLcInfo(1)">抽出</button>
						</div>
					</div>
				</div>

				<div class="msw-loadpoints">
					<!-- MSW 支払先マスタ検索 -->
					<iframe class="msw-payf" src="/lc/cmn/msw/payf/mswpayf.html" frameborder="0">
					</iframe>
				</div>
			</div>
			<div class="result">
				<div style="position:relative;width:99.5%;height:368px;background-color:#f0f0f6;border:1px solid #798787">
					<table class="tablesorter" style="width:30px;position:absolute;left:0px;top:0px;">
						<thead>
							<tr>
								<th>選択</th>
							</tr>
						</thead>
						<!-- 固定ヘッダ -->
					</table>

					<div id="header_h">
						<table class="tablesorter table" name="T" id="lc_head">
							<thead id="lc_table_head">
								<!-- 水平ヘッダ -->
								<tr>
									<th>仕入先名</th>
									<th>発行月</th>
									<th>荷揚地</th>
									<th>PONo.</th>
									<th>行No.</th>
									<th>REV.No.</th>
									<th>状態</th>
									<th>仕入先CD</th>
									<th>商品CD</th>
									<th>再販No.</th>
									<th>商品名</th>
									<th>数量</th>
									<th>単位</th>
									<th>単価</th>
									<th>金額</th>
									<th>通貨</th>
									<th>船積開始</th>
									<th>船積終了</th>
									<th>計上</th>
									<th>更新</th>
									<th>納入P</th>
									<th>備考</th>
									<th>船積期限</th>
									<th>有効期限</th>
									<th>発行銀行</th>
									<th>依頼日</th>
									<th>L/Cno</th>
									<th>発行日</th>
									<th>有効日</th>
									<th>決済額</th>
									<th>決済1日付</th>
									<th>決済1金額</th>
									<th>決済2日付</th>
									<th>決済2金額</th>
									<th>決済3日付</th>
									<th>決済3金額</th>
									<th style="display:none">状態</th>
								</tr>
							</thead>
						</table>
					</div>

					<div id="header_v">
						<table class="tablesorter" name="TV">
							<tbody id="lc_table_radio">
							</tbody>
						</table>
					</div>

					<div id="data">
						<table class="tablesorter" name="T" id="lc_table">						
							<thead style="display:none;">
								<!-- 水平ヘッダ -->
								<tr>
									<th>仕入先名</th>
									<th>発行月</th>
									<th>荷揚地</th>
									<th>PONo.</th>
									<th>行No.</th>
									<th>REV.No.</th>
									<th>状態</th>
									<th>仕入先CD</th>
									<th>商品CD</th>
									<th>再販No.</th>
									<th>商品名</th>
									<th>数量</th>
									<th>単位</th>
									<th>単価</th>
									<th>金額</th>
									<th>通貨</th>
									<th>船積開始</th>
									<th>船積終了</th>
									<th>計上</th>
									<th>更新</th>
									<th>納入P</th>
									<th>備考</th>
									<th>船積期限</th>
									<th>有効期限</th>
									<th>発行銀行</th>
									<th>依頼日</th>
									<th>L/Cno</th>
									<th>発行日</th>
									<th>有効日</th>
									<th>決済額</th>
									<th>決済1日付</th>
									<th>決済1金額</th>
									<th>決済2日付</th>
									<th>決済2金額</th>
									<th>決済3日付</th>
									<th>決済3金額</th>
									<th style="display:none">状態</th>
								</tr>
							</thead>
							<tbody id="lc_table_body">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="input-group" style="height: 20px;">
		<div class="col-3" style="margin-top: 3px;">
			<!-- 有効データ -->
			<button type="button" class="btn btn-light btn-xs btn-kids" id="validBtn" onclick="switchGetModeBtn(1, true)">有効データ</button>
			<!-- 無効データ -->
			<button type="button" class="btn btn-light btn-xs btn-kids selected-btn" id="allBtn" onclick="switchGetModeBtn(0, true)">全データ</button>

		</div>
		<div class="col-9" style="margin-top: 3px;" align="right">
			<!-- 編集 -->
			<button type="button" class="btn btn-light btn-xs btn-kids" id="editBtn" onclick="openEdit()">編集</button>
			<!-- 帳票出力 -->
			<button type="button" class="btn btn-light btn-xs btn-kids" id="reportOutputBtn" onclick="reportOutputBtn();">帳票出力</button>
			<!-- 反映 -->
			<button type="button" class="btn btn-light btn-xs btn-kids" id="reflectionBtn" onclick="reflectLcInfo()">反映</button>
		</div>
	</div>
</div>

<script type="text/javascript">
        function $E(name) { return document.getElementById(name); }
        function scroll() {
            $E("header_h").scrollLeft = $E("data").scrollLeft;// データ部のスクロールをヘッダに反映
            $E("header_v").scrollTop = $E("data").scrollTop;// データ部のスクロールをヘッダに反映
        }
        $E("data").onscroll = scroll;
    </script>