<config>
	<header1>
	</header1>
	<header2>
	</header2>
	<header3>
<script type="text/javascript" language="javascript" src="/lc/select-function/functions.js"></script>
<script type="text/javascript">
initLcinfo('_%strSessionID%_');
</script>
	</header3>
</config>
<link rel="stylesheet" href="/lc/info/css/forms.css">
<script type="text/javascript" language="javascript" src="/lc/info/datepicker.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/js/functions.js"></script>
<!-- msw表示切替 -->
<link rel="stylesheet" href="/lc/info/css/msw.css">
<script src="/lc/cmn/msw/cmn/js/msw.js" defer></script>
<script src="/cmn/querydata.js" defer></script>
<script src="/lc/cmn/js/invoke-master-search.js" defer></script>
<style>
	.modal1-button {
		height: 19px;
		width: 20px;
	}
</style>
<!-- 各画面毎の表示内容 -->
