<!--


/************************************* START INPUT A *************************************/

table.estimate_search
{
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	padding: 0;
	border: 0;
	background-color: #6f8180;
	text-align: center
}

th
{
	background: #798787;
	color: #ffffff;
	z-index: 1000;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	left: 0px;
}


















/********************* START QUERY BUTTON *********************/
/* REGIST BUTTON */
#RegistBt
{
	position : absolute ;
	top : 505px ;
	left : 830px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}



/* CLEAR BUTTON - INPUT A */
#SegAClearBt
{
	position : absolute ;
	top : 505px ;
	left : 745px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/********************** END QUERY BUTTON **********************/





/********** Company & Group **********/
#CompanyGroup
{
	position : absolute ;
	left : 44px ;
	top : 180px ;
	visibility : hidden ;
	z-index : 6 ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
}


#CompanyGroupFrm
{
	position : absolute ;
	width : 794px ;
	height : 257px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}





/* PICTURE SPACE */
#PictSpace
{
	position : absolute ;
	left : 840px ;
	top : 40px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#UserPict
{
	position : absolute ;
	left : 852px ;
	top : 52px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#DisplayPictUploadSegs
{
	font-weight : bold ;
	position : absolute ;
	left : 318px ;
	top : 40px ;
	width : 160px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#DisplayPictUploadVars
{
	position : absolute ;
	left : 468px ;
	top : 40px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 32px 0px 0px 
}

#DisplayBrowseBt
{
	position : absolute ;
	width : 19px ;
	height : 19px ;
	left : 764px ;
	top : 44px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}





/* ͽ PRICE WINDOW */
#PriceBt
{
	position : absolute ;
	left : 451px ;
	top : 44px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#PriceWin
{
	position : absolute ;
	left : 404px ;
	top : 43px ;
	border-width: 0px ;
	border-style: none ;
	visibility : hidden ;
	z-index : 7 ;
	background-color : transparent ;
}

#PriceBodys
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 263px ;
	height : 107px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #798787 ;
	background-color : #a3bbe0 ;
	filter : alpha(opacity=80) ;
}

#PriceHeader
{
	position : absolute ;
	left : 1px ;
	top : 0px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#SelectAreas
{
	position : absolute ;
	left : 24px ;
	top : 18px ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #cdcdcd ;
	padding : 3px 0px 3px 4px ;
	background-color : transparent ;
}

#TextAreas
{
	position : absolute ;
	left : 143px ;
	top : 18px ;
	border-width : 0px ;
	border-style : none ;
	border-width : 1px ;
	border-style : solid ;
	border-color : #cdcdcd ;
	padding : 3px 0px 3px 4px ;
	background-color : transparent ;
}

#AddPriceBt
{
	position : absolute ;
	left : 168px ;
	top : 56px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#DelPriceBt
{
	position : absolute ;
	left : 168px ;
	top : 85px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#UpBt
{
	position : absolute ;
	left : 9px ;
	top : 27px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}

#DownBt
{
	position : absolute ;
	left : 9px ;
	top : 78px ;
	border-width : 0px ;
	border-style : none ;
	background-color : transparent ;
	filter : alpha(opacity=80) ;
}




-->