<!--


/* START SEGMENTS */
#NaviBodys
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 169px ;
	height : 515px ;
	border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #cdcdcd;
	opacity: 0.9;
	background-color: #72828b ;
	box-sizing: border-box;
}


/* END SEGMENTS */
/************************************** END INPUT C **************************************/










/********************* START NAVIGATION *********************/

#UserInfoNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 20px ;
	z-index : 2 ;
	border-width: 1px ;
	background-color: #ffffff ;
}
#UserInfoNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 20px ;
	z-index : 2 ;
	border-width: 1px ;
	background-color: #ffffff ;
}


#RegistNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 60px ;
	z-index : 2 ;
	border-width: 1px ;
	background-color: #ffffff ;
}
#RegistNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 60px ;
	z-index : 2 ;
	border-width: 1px ;
	background-color: #ffffff ;
}

#SearchNaviBt1 {
	position : absolute ;
	left : 9px ;
	top : 100px ;
	z-index : 2 ;
	border-width: 1px ;
	background-color: #ffffff ;
}
#SearchNaviBt3 {
	position : absolute ;
	left : 9px ;
	top : 100px ;
	z-index : 2 ;
	border-width: 1px ;
	background-color: #ffffff ;
}


-->