<config>
<header1>
</header1>

<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/uc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/uc/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/uc/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/uc/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/initlayoutnavi.js"></script>
</header2>

<header3>
<script type="text/javascript" language="javascript" src="exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
</header3>

<bodyonload>
initLayoutBase();initLayoutUC();initLayoutNavigation();GetlngLanguageCode( _%lngLanguageCode%_ );Loading();
</bodyonload>
</config>



<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>






<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->

<span id="strSelectFunctions"></span>
<span id="MenuBackBorder"></span>
<span id="MenuBack"></span>


<p id="TopNavi">
<span id="UserInfoNaviBt1" onclick="window.location='regist/edit.php?strSessionID=_%strSessionID%_&lngFunctionCode=_%lngFunctionCode1%_';" style="visibility:_%visibility1%_"></span>
<span id="RegistNaviBt1" onclick="window.location='regist/edit.php?strSessionID=_%strSessionID%_&lngFunctionCode=_%lngFunctionCode2%_';" style="visibility:_%visibility2%_"></span>
<span id="SearchNaviBt1" onclick="window.location='search/index.php?strSessionID=_%strSessionID%_&lngFunctionCode=_%lngFunctionCode3%_';" style="visibility:_%visibility3%_"></span>
</p>


<!-- /////////////////////////////////// START E TO J /////////////////////////////////// -->
<span id="EtoJ"></span>
<!-- //////////////////////////////////// END E TO J //////////////////////////////////// -->



<span id="OverLayer"></span>