
<config>
<header1>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/po/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/po/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/po/images.js"></script>
<script type="text/javascript" language="javascipt" src="/layout/_%lngLayoutCode%_/navi/cmn/images.js"></script>
</header2>


<header3>
<link rel="stylesheet" type="text/css" media="screen" href="/po/layout.css">
</header3>

<bodyonload>
initLayoutBase();initLayoutPO();Loading();
</bodyonload>
</config>


<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>



<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->

<span id="strSelectFunctions">機能選択</span>
<span id="MenuBackBorder"></span>
<span id="MenuBack"></span>

<p id="TopNavi">
<span id="DocSearchNaviBt1" onClick="javascript:location='_%strDocSearchURL%_';">
	<a href="#">
		<img width="151" height="25" onmouseover="DocSchJOn(this);" onmouseout="DocSchJOff(this);fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" alt="発注書検索" src="/img/type01/po/doc_search_off_ja_bt.gif" border="0">
	</a>
</span>
<span id="SearchNaviBt1" onClick="javascript:location='_%strSearchURL%_';">
	<a href="#">
		<img width="151" height="25" style="filter: none;" onmouseover="SchJOn(this);" onmouseout="SchJOff(this);fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" alt="発注検索" src="/img/type01/po/search_off_ja_bt.gif" border="0">
	</a>
</span>
</p>

<span id="OverLayer"></span>