<!--

#Backs
{
	background-color : #d6d0b1 ;
}


#ProductInfo
{
	position : absolute ;
	left : 180px ;
	top : 300px ;
	border-width: 0px ;
	border-style: none ;
	z-index : 3 ;
	background : transparent ;

}

#ColumnProductsNo
{
	font-family : Arial , 礿 苭揖極疇, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 0px ;
	top : 40px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #e8f0f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}


#strPONo
{
	font-family : Arial ;
	font-size : 12px ;
	position : absolute ;
	font-weight : normal ;
	color : #555555 ;
	left : 215px ;
	top : 40px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : e8f0f1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 0px ;
	text-align : center ;
}






#CompleteSetList
{
	position : absolute ;
	left : 320px ;
	top : 340px ;
	border-width: 0px ;
	border-style: none ;
	z-index : 3 ;
	background : transparent ;

}

#ColumnListout
{
	font-family : Arial , 礿 苭揖極疇, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #f1f1f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#BackSpaceList
{
	font-weight : bold ;
	position : absolute ;
	left : 215px ;
	top : 0px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : d6d0b1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#ListOutputBt
{
	position : absolute ;
	left : 229px ;
	top : 3px ;
	border-width: 0px ;
	border-style: none ;
	background : transparent ;
}





#CompleteSet
{
	position : absolute ;
	left : 180px ;
	top : 290px ;
	border-width: 0px ;
	border-style: none ;
	z-index : 3 ;
	background : transparent ;

}

#FinishRegist
{
	font-family : Arial , 礿 苭揖極疇, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #f1f1f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#BackSpace
{
	font-weight : bold ;
	position : absolute ;
	left : 215px ;
	top : 0px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : d6d0b1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#CloseBt
{
	position : absolute ;
	left : 229px ;
	top : 3px ;
	border-width: 0px ;
	border-style: none ;
	background : transparent ;
}


table.ordercode{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 120%;
	border-collapse: collapse;
}
 td.ordercodetd {
	 border: 1px solid;
	 background-color: #f5f5f5;
	 padding-top: 5px;
	 padding-bottom: 5px;
 }
 td.orderbuttontd{
	border: 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.orderdetail {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	margin-top: 0;
	margin-bottom: 0;
}

p.caption {
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.SegColumn
{
	font-family : Arial , 礿荂﹝苭揖極疇 ;
	color : #ffffff ;
	background-color : #799797 ;
	word-break : keep-all ;
	padding: 2px;
	border: 1px solid #808080;
}
.Segs
{
	font-family : monospace ;
	color : #555555 ;
	background : #ffffff ;
	padding : 4px 6px 3px 6px ;
	text-align : left ;
	border: 1px solid #808080;
}


-->