<config>
	<header1>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayouterror.js"></script>
	</header1>


	<header2>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/uc/cmn/images.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/uc/regist/initlayout.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutdate.js"></script>
		<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutpunit.js"></script>
	</header2>


	<header3>
		<!-- jQuery -->
		<script src="/cmn/jquery/jquery-3.1.0.js"></script>
		<!-- jQuery Cookie -->
		<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="_%strCssName%_">
		<link rel="stylesheet" type="text/css" media="screen" href="_%strErrorCssName%_">
		<script type="text/javascript" language="javascript" src="exstr.js"></script>
		<script type="text/javascript" language="javascript" src="functions.js"></script>
		<script type="text/javascript" language="javascript" src="/uc/cmn/functions.js"></script>
		<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
		<script type="text/javascript" language="javascript" src="/navi/cmn/load.js"></script>

		<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
		<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

		<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/uc/regist/layout.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/uc/finish/layout1.css">
	</header3>


	<bodyonload>
		initLayoutBase();initLayoutUC();initLayoutQuery();initLayoutPunit();initLayoutError1( ErrInputA );Loading();
	</bodyonload>
</config>


<bgsound id="BeepSound" src="/error/dummy.aif" loop="1" balance="0" volume="-100">


	<p id="Preload">
		<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
	</p>


	<div>
		<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
		<span id="MainTitle" style="visibility:_%strBaseVisibilityName%_;"></span>
		<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->
	</div>


	<div class="main-area">
		<!-- /////////////////////////////////// START NAVIGAION /////////////////////////////////// -->
		<div class="navigation-loadpoint" style="position: absolute;left: 11px;">
			<script>
				getNaviMenu('_%strSessionID%_', 'uc-regist');
			</script>
		</div>
		<!-- //////////////////////////////////// END NAVIGAION //////////////////////////////////// -->
		<!-- /////////////////////////////////// START INPUT A SEGMENTS /////////////////////////////////// -->
		<div id="InputA">
			<!-- HEADER -->
			<span id="SegAHeader"></span>
			<!-- BOTTOM -->
			<span id="SegABottom"></span>
			<!-- フォーム -->
			<div class="form-box__contents">
				<p id="CompleteSet">
					<span id="FinishRegist">登録完了</span>
					<span id="BackSpace"></span>

					<!-- 戻るボタン -->
					<span id="CloseBt" onclick="location.href='_%strAction%_';return false;">
						<a href="#">
							<img onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" onmouseover="BlownBackJOn(this);" onmouseout="BlownBackJOff(this);"
							 src="/img/type01/cmn/querybt/back_blown_off_ja_bt.gif" width="72" height="20" border="0" alt="戻る">
						</a>
					</span>

				</p>
			</div>
		</div>
	</div>
	<!-- //////////////////////////////////// END INPUT A SEGMENTS //////////////////////////////////// -->


	<!-- ///////// Company & Group Select Window ////////// -->
	<p id="CompanyGroup">
		<iframe id="CompanyGroupFrm" name="CGWin" frameborder="0" scrolling="NO" src="/cg/index.php?lngFunctionCode=_%lngFunctionCode%_&lngCompanyCode=_%lngCompanyCode%_"></iframe>
	</p>
	<p id="ErrInputA"></p>
	<span id="Comments"></span>
	<!-- ERROR MESSAGE -->
	<span id="ErrorMessageFrame">
		<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
	</span>
	<span id="OverLayer"></span>