<html>
<head>
<title>チェックリスト - K.I.D.S.</title>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
</head>
<body bgcolor="#FFFFFF" text="#000000">
<a href="/lo/">TOP</a>
<hr size="1">
