<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutnavi.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/list/cmn/images.js"></script>
</header1>

<header2>
<script src="/cmn/jquery/jquery-3.1.0.js"></script>
<script src="/cmn/jquery/jquery-cookie-1.4.1.js"></script>
<script src="/cmn/jquery/ui/jquery-ui-1.12.0.js"></script>
<link rel="stylesheet" href="/cmn/jquery/ui/jquery-ui-1.12.0.css">
<link rel="stylesheet" href="/cmn/jquery/ui/jquery-ui.theme.css">
<script src="/cmn/jquery/ui/datepicker-ja.js"></script>
<script src="/cmn/jquery/validation/jquery.validate.js"></script>
<script src="/cmn/jquery/tooltipster/js/tooltipster.bundle.js"></script>
<link rel="stylesheet" href="/cmn/jquery/tooltipster/css/tooltipster.bundle.css">
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/list/list/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutmsw.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
</header2>

<header3>
<script type="text/javascript" language="javascript" src="/list/list/functions.js"></script>
<script type="text/javascript" language="javascript" src="/list/list/exstr.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/list/list/layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
<script src="/search/cmn/js/form-buttons.js" defer></script>
<script src="/search/cmn/js/validate-form.js" defer></script>
</header3>

<bodyonload>
initLayoutBase();initLayout();initLayoutNavi();initLayoutMsw();GetlngLanguageCode( _%lngLanguageCode%_ );Loading();
</bodyonload>
</config>


<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>


<!-- //////////////////////////////////// START MAIN TITLE //////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- ///////////////////////////////////// END MAIN TITLE ///////////////////////////////////// -->


<div class="main-area">
	<!-- //////////////////////////////////// START NAVIGATION //////////////////////////////////// -->
	<div class="navi-area">
		<span id="NaviButton"></span>
		<p id="Navigations" onmouseout="NavigationOFF( Navigations , NaviButton );">
			<span id="Navi">
				<iframe id="NaviIfrm" name="NAVIwin" frameborder="0" scrolling="no" src="/navi/index.php?strSessionID=_%strSessionID%_&strNaviCode=list-1"></iframe>
			</span>
		</p>
	</div>
<!-- ///////////////////////////////////// END NAVIGATION ///////////////////////////////////// -->


	<!-- //////////////////////////////////// START INPUT A SEGMENTS //////////////////////////////////// -->
	<p id="InputA">

		<!-- START HEADER -->
		<span id="SegAHeader"></span>
		<!-- END HEADER -->

		<!-- START SEGMENTS -->
		<span id="SegA01">
			<iframe id="SegAIFrm" name="Pwin" frameborder="0" scrolling="no" src="_%strListUrl%_"></iframe>
		</span>

		<!--
		<span id="SegA01">
			<iframe id="SegAIFrm" name="Pwin" frameborder="0" scrolling="no" src="/list/select.php?strSessionID=_%strSessionID%_&lngFunctionCode=_%lngFunctionCode%_&lngApplicantUserCodeVisible=1&lngInputUserCodeVisible=1&dtmStartDateVisible=1&lngInChargeCodeVisible=1&lngWorkflowStatusCodeVisible=1&lngWorkflowStatusCodeConditions=1&lngSelectFunctionCode=500"></iframe>
		</span>
		-->
		
		<!-- START BOTTOM -->
		<span id="SegABottom"></span>
		<!-- END BOTTOM -->
		
		<!-- END SEGMENTS -->


	</p>
<!-- ///////////////////////////////////// END INPUT A SEGMENTS ///////////////////////////////////// -->

    <img class="clear button" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif">
    <img class="search button" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif">
</div>

<!-- ERROR MESSAGE -->
<span id="ErrorMessageFrame">
	<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
</span>



<span id="OverLayer"></span>