<config>
<header1>
	<script src="/lc/cmn/form/js/tab-function.js" defer></script>
	<script src="/lc/cmn/form/js/util-selectbox.js" defer></script>
    <!-- チェックボックスの切り替え処理 -->
    <script src="/lc/cmn/search/js/toggleCheckbox.js" defer></script>
    <!-- 検索画面共通入力補助 -->
    <script src="/lc/cmn/search/js/input-assist.js" defer></script>
    <!-- COOKIE関連の処理(検索画面) -->
    <script src="/lc/cmn/search/js/cookie-functions.js" defer></script>
</header1>
<header2>
</header2>
<header3>
	<!-- datepickerの要素指定 -->
	<script src="/lc/cmn/js/datepicker.js" defer></script>
    <!-- フォームボタン css -->
    <link rel="stylesheet" href="/lc/cmn/css/form-buttons.css">
    <!-- フォーム ボタン -->
	<script src="/lc/cmn/js/form-buttons.js" defer></script>
    <!-- フォームバリデーション -->
    <script src="/lc/cmn/js/validate-form.js" defer></script>
    <!-- マスタ検索呼び出し -->
	<script src="/lc/cmn/js/invoke-master-search.js" defer></script>
    <!-- COOKIE 表示チェックボックス 保存/復元 -->
	<script src="/lc/cmn/js/cookie-display-items.js" defer></script>
    <!-- キーバインド -->
	<script src="/lc/cmn/js/key-bind.js" defer></script>
	<!-- キーバインド -->
	<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>
<bodyonload>
Loading();
</bodyonload>
</config>
<!-- 個別スクリプト -->
<link rel="stylesheet" href="css/forms.css">
<script type="text/javascript" language="javascript" src="/lc/set/functions.js"></script>

<!-- 各画面毎の表示内容 -->
<!-- 各画面毎の表示内容 -->
<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/lc/cmn/navigate/lc_set_navi.html');
	</script>
</div>
<div class="form-box-warp">
<form name="" action="" method="get">
<div class="form-box--notabs-for-bank">
<div class="form-box__header"><!-- フォームヘッダ -->
<p class="form-box__header__title">取引先銀行情報</p>
</div>
<!-- フォームコンテンツ -->
<div class="form-box__contents">
<div class="row form-group">
<div class="col-1 form-box__checkbox" style="padding-top: 60px;">
<input type="checkbox" value="" id="bankInfoChk" style="width: 11px;">
</div>
<div class="col-9">
<div class="container">
<table class="table table-condensed_for-bank">
<thead style="background-color: #799797;font-size: 10.5px;color: white;">
<tr>
<th>銀行コード</th>
<th>銀行名省略名称</th>
<th>銀行名正式名称</th>
<th>割振率</th>
<th>無効フラグ</th>
</tr>
</thead>
<tbody id="bank_body" class="bankinfos scroll_bank" style="background-color: #e8f0f1;">
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<div class="form-box--notabs-for-null">
</div>
<div class="form-box--notabs-for-payf">
<div class="form-box__header"><!-- フォームヘッダ -->
<p class="form-box__header__title">仕入先情報</p>
</div>
<!-- フォームコンテンツ -->
<div class="form-box__contents">
<div class="row form-group">
<div class="col-1 form-box__checkbox" style="padding-top: 90px;">
<input type="checkbox" value="" id="payfInfoChk" style="width: 11px;">
</div>
<div class="col-9">
<div class="container">
<table class="table table-condensed_for-payf">
<thead style="background-color: #799797;font-size: 10.5px;color: white;">
<tr>
<th>支払先コード</th>
<th>支払先省略名</th>
<th>支払先正式名</th>
<th>信用状送付先</th>
<th>送付先FAX</th>
<th>無効フラグ</th>
</tr>
</thead>
<tbody id="payf_body" class="payfinfo scroll" style="background-color: #e8f0f1;">
</tbody>
</table>
</div>
</div>
<div class="col-2 form-sub-box__contents-for-payf">
<div>
<label>支払先コード</label>
</div>
<div>
<input type="text" class="form-control txt-kids" style="width: 80px" id="payfcdTxt">
</div>
<div>
<button type="button" class="btn btn-light" id="addBtn" onClick="addPayfInfo();">追加</button>
</div>
<div>
<button type="button" class="btn btn-light" id="delBtn" onClick="delPayfInfo();">削除</button>
</div>
</div>
</div>
</div>
</div>
<div class="form-box--notabs-for-null">
</div>
<div class="form-box--notabs-for-openday">
<div class="row form-group">
<div class="col-1 form-box__checkbox pt-1">
<input type="checkbox" value="" id="baseOpenDateChk" style="width: 11px;">
</div>
<div class="col-11 input-group">
<div class="col-2"><label>基準日</label></div>
<div class="col-1">
<input type="text" class="form-control txt-kids" id="baseOpenDateTxt"></div>
<div class="col-1"><label>日</label></div>
<div class="col-8"></div>
</div>
</div>
</div>
<div class="form-box--notabs-for-null">
</div>
<div class="form-box--notabs-for-button">
<!-- 再読込ボタン -->
<button type="button" class="btn btn-light" onclick="reloadInfo();">再読込</button>
<!-- 反映ボタン -->
<button type="button" class="btn btn-light" id="reflectionBtn" onClick="reflection();">反映</button>
</div>
</form>
</div>
