<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">

<script type="text/javascript" language="javascript" src="/special/functions.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/special/layout.css">

</head>
<body id="Backs" onContextmenu="return false;">



<table cellpadding="0" cellspacing="1" border="0" bgcolor="#cdcdcd" align="right">
	<tr>

_%strKeyWords%_

	</tr>
</table>

<input type="hidden" name="objSpecialBuffer">


</body>
</html>
