<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">


<script type="text/javascript" language="javascript" src="/layout/type01/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/result/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/estimate/finish/layout.css">

<script type="text/javascript" language="javascript" src="/cmn/processing_module.js"></script>
<script type="text/javascript" language="javascript" src="/estimate/finish/functions.js"></script>
<script type="text/javascript" language="javascript" src="/estimate/finish/exstr.js"></script>


</head>

<body id="Backs" oncontextmenu="return false;" onload="fncChgEtoJ( _%lngLanguageCode%_ );" onunload="window.returnValue=Array( '_%strAction%_', '_%strSessionID%_', '_%RENEW%_' );return false;">


<input type="hidden" name="lngSaveType" value="_%lngSaveType%_">

<p id="CompleteSet">
<span id="FinishRegist"></span>
<span id="BackSpace"></span>

<!-- 閉じるボタン -->
<span id="CloseBt" onclick="window.close();window.returnValue=Array( '_%strAction%_', '_%strSessionID%_' );return false;"></span>
</p>


<p id="CompleteSetList" style="visibility:_%PreviewVisible%_;">
<span id="ColumnListout"></span>
<span id="BackSpaceList"></span>

<!-- 帳票出力ボタン -->
<span id="ListOutputBt" onclick="fncListOutput( '_%strPreviewAction%_' );return false;"></span>
</p>


</body>
</html>