<!--


#ErrInputA { 
	position : absolute ;
	left : 33px ;
	top : 95px;
	z-index : 5 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegA01 {
	position : absolute ;
	left : 143px ;
	top : 40px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA02 {
	position : absolute ;
	left : 143px ;
	top : 72px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA03 {
	position : absolute ;
	left : 143px ;
	top : 103px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA04 {
	position : absolute ;
	left: 460px;
    top: 72px;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA05 {
	position : absolute ;
	left: 460px;
    top: 103px;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA07 {
	position : absolute ;
	left : 143px ;
	top : 175px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA09 {
	position : absolute ;
	left: 143px;
    top: 242px;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA10 {
	position : absolute ;
	left: 143px;
    top: 274px;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA11 {
	position : absolute ;
	left: 460px;
    top: 274px;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA12 {
	position : absolute ;
	left : 143px ;
	top: 310px; ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA13 {
	position : absolute ;
	left : 143px ;
	top : 340px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA15 {
	position : absolute ;
	left : 143px ;
	top : 411px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA16 {
	position : absolute ;
	left : 143px ;
	top : 455px ;
	border-width: 0px ;
	border-style: none ;

}





-->