<!--


#ErrInputA { 
	position : absolute ;
	left : 4px ;
	top : 15px ;
	z-index : 5 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegA01 {
	position : absolute ;
	left : 143px ;
	top : 46px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA02 {
	position : absolute ;
	left : 143px ;
	top : 76px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA03 {
	position : absolute ;
	left : 143px ;
	top : 106px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA04 {
	position : absolute ;
	left : 451px ;
	top : 76px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA05 {
	position : absolute ;
	left : 451px ;
	top : 106px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA07 {
	position : absolute ;
	left : 143px ;
	top : 181px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA09 {
	position : absolute ;
	left : 143px ;
	top : 256px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA10 {
	position : absolute ;
	left : 143px ;
	top : 286px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA11 {
	position : absolute ;
	left : 451px ;
	top : 286px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA12 {
	position : absolute ;
	left : 143px ;
	top : 331px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA13 {
	position : absolute ;
	left : 143px ;
	top : 357px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA15 {
	position : absolute ;
	left : 143px ;
	top : 417px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA16 {
	position : absolute ;
	left : 143px ;
	top : 461px ;
	border-width: 0px ;
	border-style: none ;

}





-->