<!--


#ErrInputA { 
	position : absolute ;
	left : 4px ;
	top : 15px ;
	z-index : 5 ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrSegA01 {
	position : absolute ;
	left : 143px ;
	top : 32px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA02 {
	position : absolute ;
	left : 143px ;
	top : 42px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA03 {
	position : absolute ;
	left : 143px ;
	top : 92px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA04 {
	position : absolute ;
	left : 451px ;
	top : 62px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA05 {
	position : absolute ;
	left : 451px ;
	top : 92px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA07 {
	position : absolute ;
	left : 143px ;
	top : 160px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA09 {
	position : absolute ;
	left : 143px ;
	top : 230px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA10 {
	position : absolute ;
	left : 143px ;
	top : 262px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA11 {
	position : absolute ;
	left : 451px ;
	top : 262px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA12 {
	position : absolute ;
	left : 143px ;
	top : 317px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA13 {
	position : absolute ;
	left : 143px ;
	top : 343px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA15 {
	position : absolute ;
	left : 143px ;
	top : 403px ;
	border-width: 0px ;
	border-style: none ;

}

#ErrSegA16 {
	position : absolute ;
	left : 143px ;
	top : 447px ;
	border-width: 0px ;
	border-style: none ;

}





-->