<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">


<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/dataex/estimate/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>


<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbsclass.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbscript.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/lngcheck.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/masterlib.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">

<link rel="stylesheet" type="text/css" media="screen" href="/dataex/search/cmn/layout.css">
<script type="text/javascript" language="javascript" src="/dataex/search/estimate/exstr.js"></script>
<script type="text/javascript" language="javascript" src="/dataex/search/estimate/functions.js"></script>
<script type="text/javascript" language="javascript" src="/dataex/search/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>

</head>
<body id="Backs" oncontextmenu="return true;" onload="ChgEtoJ( parent.lngLanguageCode );fncAutoFocus( document.all.strProductCode );">



<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSetting" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSetting" event="ondatasetcomplete">subLoadMasterSetting(this.recordset,0);
</Script>



<form name="PS" method="post" action="/dataex/result/index.php">
<input type="hidden" name="ActionScriptName" value="">
<input type="hidden" name="strSessionID" value="_%strSessionID%_">
<input type="hidden" name="lngExportData" value="_%lngExportData%_">
<input type="hidden" name="lngActionCode" value="1">




<!-- フォーム -->
<div class="form-box__contents">
	<div class="regist-line">
		<span class="form-line">
			<span class="Column">製品コード</span>
			<span class="VarText" id="VarsA01">
					<input style="ime-mode:disabled;" class="Txt10L" type="text" name="strProductCode" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
			</span>
		</span>
	</div>
	<div class="Spacer">
	</div>
	<div class="QuerySet-none">	
		<!-- プレビューボタン -->
		<span class="QueryBt" id="PreviewBt" onclick="document.PS.lngActionCode.value=1;fncDataFormPreview( window.PS , '/dataex/result/index.html' );return false;"></span>
		<!-- エクスポートボタン -->
		<span class="QueryBt" id="ExportBt"  onclick="document.PS.lngActionCode.value=2;PS.submit();"></span>
	</div>
</div>
</form>
</body>
</html>
