/* オプションボックス */
.option-box
{
    position: absolute;
    right: 30px;
}

.option-box input[type="checkbox"]
{
    background-color: #e8f0f1;
    width: 30px;
}

/* テキストボックス プレースホルダ */
input:-ms-input-placeholder {
    color: #cccccc;
    text-align: center;
}

/* 入力フォーム その他 */
input.note
{
    width: 38em;
}

/* サブミットボタン 非表示　*/
input[type="submit"]{
    display: none;
}

/* テキスト入力 共通 */
input:focus, textarea:focus
{
    background-color: #c7d0cb;
}

/* テキスト入力 共通 readonlyの場合は背景色を変えない */
input[readonly]:focus
{
    background-color: #ffffff;
}

/* 検索/表示 全切り替えボタン */
img.toggle-search
{
    margin: 0px 17px 0px 17px;
}

img.toggle-display
{
    margin: 0px 17px 0px 8px;
}

/* 入力フォーム共通背景枠 右サイドバータブ有り */
.form-box
{
    position: absolute;
    top: 10px;
    left: 21px;

    width: 927px;
    height: 470px;

    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    border-radius: 15px;

    background-color: #d6d0b1;
}

/* 入力フォーム共通背景枠 右サイドバータブ無し */
.form-box--notabs-for-search
{
    position: absolute;
    top: 10px;
    left: 21px;

    width: 950px;
    height: 498px;

    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    border-radius: 15px;

    background-color: #d6d0b1;
}

/* 入力フォーム共通背景枠 右サイドバータブ無し */
.form-box--notabs-for-regist
{
    position: absolute;
    top: 10px;
    left: 21px;

    width: 950px;
    height: 470px;

    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    border-radius: 15px;

    background-color: #d6d0b1;
}

/* 入力フォーム共通背景枠 右サイドバータブ無し */
.form-box--notabs-for-modify
{
    position: absolute;
    width: 950px;
    height: 500px;

    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    border-radius: 15px;

    background-color: #d6d0b1;
}

/* 入力フォーム ヘッダ */
.form-box__header
{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 30px;

    background-color: #6c8cac;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* 入力フォーム ヘッダタイトル */
.form-box__header__title
{
    margin: 8px 12px;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

/* 入力フォーム コンテンツ */
.form-box__contents
{
    margin: 40px 10px 20px;

    height: auto;
}

/**
 * 入力フォーム コンテンツ スクロール付
 * 検索画面向け
 */
.form-box__contents--with-scroll
{
    height: 89%;
    margin: 40px 10px 20px;
    padding: 3px 10px;
    border: 1px solid #788787;
    overflow-y: scroll;
}

/* 入力フォーム ヘッダタブ */
.regist-tab-header
{
}

/* 入力フォーム 詳細タブ */
.regist-tab-detail
{
    display: none;
}

/* 入力フォーム 行 */
.regist-line
{
    margin: 1px 3px 4px 0px;
}

/* 入力フォーム 行 */
.regist-line--stage
{
    margin: 8px 3px 4px 0px;
}

/* 検索フォーム 行 */
.search-line
{
    margin: 1px 3px 4px 0px;
}

/* 入力フォーム 行 negative-margin-top */
.regist-line--remora
{
    margin: -6px 3px 4px 0px;
}

/* 入力フォーム ラベル */
.regist-label
{
    display: inline-block;

    box-sizing: border-box;
    padding: 3px 3px 3px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #798787;

    background-color: #e8f0f1;
}

/* 検索フォーム チェックボックス input */
.search-label--checkbox
{
    display: inline-block;

    box-sizing: border-box;
    padding: 3px 10px 3px 10px;

    border-style: solid;
    border-width: 1px;
    border-color: #798787;

    background-color: #e8f0f1;
}

/* 検索フォーム チェックボックス input */
.search-label--checkbox input[type="checkbox"]
{
    width: 30px;
    margin: 3px 0px 2px 0px;
    background-color: #e8f0f1;
}

/* 検索フォーム チェックボックス 位置調整 */
.search-label--checkbox input[type="checkbox"].is-search
{
    margin-right: 15px;
}

/* ラベルの子要素を縦中央に揃える */
.regist-label *,
.search-label--checkbox *,
.search-label--textonly *
{
    vertical-align: middle;
}

/* 入力フォーム テーブル 金型選択 */
.mold-selection
{
    padding: 3px;

    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;

    background-color: #6f8180;
}

/* 入力フォーム 必須項目マーク */
.regist-label__required-mark
{
    position: relative;
    top: 1px;

    width: 10px;

    color: #7f7cff;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
}

/* 入力フォーム ラベルテキスト */
.regist-label__required-text
{
    display: inline-block;
    width: 107px;
    font-weight: bold;
    background-color: #e8f0f1;
}
/* 入力フォーム ラベルテキスト */
.regist-label__text
{
    display: inline-block;
    width: 120px;
    font-weight: bold;
    background-color: #e8f0f1;
}
/* 入力フォーム ラベルテキスト */
.regist-label__spec-text
{
    display: inline-block;
    width: 150px;
    font-weight: bold;
    background-color: #e8f0f1;
}

/* 入力フォーム ラベルテキストのみ */
.regist-label--text-only
{
    display: inline-block;
    width: 120px;
    line-height: 18px;
    font-weight: bold;
    background-color: #e8f0f1;
}

/* 入力フォーム */
.msw-button
{
    display: inline;
    position: relative;;

    width: 18px;
    height: 18px;
}

/* 入力フォーム 金型選択BOX ラベル */
.mold-selection__label
{
    text-align: left;

    color: #ffffff;
    font-weight: bold;
}

/* 入力フォーム 金型選択BOX 追加/削除 背景 */
.mold-selection__backimage-add-del
{
    width: 20px;
    height: 120px;

    margin-right: 3px;

    background-size: cover;
    background-color: #c8c8c8;
    border-radius: 12px;
    text-align: center;
}

/* 入力フォーム 金型選択BOX 上移動/下移動 背景 */
.mold-selection__backimage-up-down
{
    width: 15px;
    height: 120px;

    margin-right: 3px;

    background-size: cover;
    background-color: #c8c8c8;
    border-radius: 12px;
    text-align: center;
}

/* 入力フォーム 金型選択BOX バック画像 */
.mold-selection__back-image
{
    position: relative;
    left: -1px;
}

/* 入力フォーム 金型選択BOX 追加ボタン */
.list-add
{
    position: relative;
    top: -25px;
}

/* 入力フォーム 金型選択BOX 削除ボタン */
.list-del
{
    position: relative;
    top: 25px;
}

/* 入力フォーム 金型選択BOX UPボタン */
.list-up
{
    position: relative;
    top: -25px;
}

/* 入力フォーム 金型選択BOX downボタン */
.list-down
{
    position: relative;
    top: 25px;
}
