table#result th
{
    white-space: nowrap;
}
table#result td
{
    text-align: center;
    white-space: nowrap;
}

.wrapper {
  position: relative;
  top: 50px;
  height: 250px;
  overflow-x: auto;
}
