<config>
<header1>

</header1>

<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sc/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/sc/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/sc/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/initlayoutnavi.js"></script>
</header2>

<header3>
<link rel="stylesheet" type="text/css" media="screen" href="/sc/layout.css">
</header3>

<bodyonload>
initLayoutBase();initLayoutSC();initLayoutNavigation();Loading();
</bodyonload>
</config>



<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>





<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->

<span id="strSelectFunctions">µ¡Ç½ÁªÂò</span>
<span id="MenuBackBorder"></span>
<span id="MenuBack"></span>

<p id="TopNavi">
<!-- Çä¾å¡ÊÇ¼ÉÊ½ñ¡ËÅÐÏ¿	 -->
<span id="RegistNaviBt1" onClick="javascript:location='_%strRegistURL%_';" style="visibility:_%registview%_"></span>
<!-- Ç¼ÉÊ½ñ¸¡º÷ -->
<span id="hogeNaviBt1" onclick="javascript:location='_%strSearchURL%_';"></span>
<!-- Çä¾å¸¡º÷ -->
<span id="SearchNaviBt1" onClick="javascript:location='_%strSearchURL%_';"></span>
</p>


<span id="OverLayer"></span>