<config>
<header1>
	<link rel="stylesheet" href="/search/cmn/form/css/forms.css">
	<link rel="stylesheet" href="/search/cmn/form/css/tabs.css">
	<link rel="stylesheet" href="/search/cmn/navigate/css/navigate.css">
	<script src="/search/cmn/form/js/tab-function.js" defer></script>
	<script src="/search/cmn/form/js/util-selectbox.js" defer></script>
    <!-- チェックボックスの切り替え処理 -->
    <script src="/search/cmn/search/js/toggleCheckbox.js" defer></script>
    <!-- 検索画面共通入力補助 -->
    <script src="/search/cmn/search/js/input-assist.js" defer></script>
	<!-- msw 表示 -->
	<script src="/search/cmn/msw/cmn/js/msw.js" defer></script>
    <!-- COOKIE関連の処理(検索画面) -->
    <script src="/search/cmn/search/js/cookie-functions.js" defer></script>
</header1>

<header2>
</header2>

<header3>
	<!-- datepickerの要素指定 -->
	<script src="/search/cmn/js/datepicker.js" defer></script>
	<!-- msw汎用スタイル -->
	<link rel="stylesheet" href="/search/cmn/css/msw.css">
    <!-- フォームボタン css -->
    <link rel="stylesheet" href="/search/cmn/css/form-buttons.css">
    <!-- フォーム ボタン -->
	<script src="/search/cmn/js/form-buttons.js" defer></script>
    <!-- フォームバリデーション -->
    <script src="/search/cmn/js/validate-form.js" defer></script>
    <!-- マスタ検索呼び出し -->
	<script src="/search/cmn/js/invoke-master-search.js" defer></script>
    <!-- COOKIE 表示チェックボックス 保存/復元 -->
	<script src="/search/cmn/js/cookie-display-items.js" defer></script>
    <!-- キーバインド -->
	<script src="/search/cmn/js/key-bind.js" defer></script>
	<!-- キーバインド -->
	<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>

<bodyonload>
Loading();
</bodyonload>
</config>

<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/search/cmn/navigate/es_navi.html');
	</script>
</div>

<!-- 入力フォーム -->
<div class="form-box--notabs-for-search">
	<!-- フォームヘッダ -->
	<div class="form-box__header">
		<p class="form-box__header__title">見積原価検索</p>
        <span class="form-box__header__buttons">
            <img class="clear button" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif">
            <img class="search button" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif">
        </span>
	</div>
	<!-- フォームコンテンツ -->
	<div class="form-box__contents--with-scroll">
		<form name="SearchMoldHistory" method="post">
            <input type="submit">
            <div class="regist-line">
                <img class="toggle-search button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle search">
                <img class="toggle-display button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle display">
            </div>
            <div class="regist-line">
                <img src="/img/type01/cmn/seg/view_search_ja.gif" alt="view search">
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_detail" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_detail" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">詳細</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_record" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_record" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">履歴</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmInsertDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmInsertDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">作成日</span>
                    FROM <input class="TxtStyle05L" name="From_dtmInsertDate" type="text" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this); fncCheckDate(this); fncCopyValue( this, document.all.To_dtmCreationDate );" tabindex="">
                    TO <input class="TxtStyle05L" name="To_dtmInsertDate" type="text" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this); fncCheckDate(this);" tabindex="">
                </span>
            </div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strProductCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品コード</span>
                    FROM <input class="TxtStyle05L" name="From_strProductCode"  type="text" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCopyValue( this , document.all.To_strProductCode );" tabindex="">
					TO <input class="TxtStyle05L" name="To_strProductCode"  type="text" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductName" class="is-search" type="checkbox">
                    <input name="IsDisplay_strProductName" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品名</span>
                    <input class="Txt46L" name="strProductName" type="text" value="" maxlength="80" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckString( this );" tabindex="">
				</span>
			</div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strInchargeGroupDisplayCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strInchargeGroupDisplayCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">営業部署</span>
                    <input class="TxtStyle05L" name="strInchargeGroupDisplayCode" type="text">
                    <input class="disTxt46L" name="strInChargeGroupDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-group" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strInchargeUserDisplayCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strInchargeUserDisplayCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">担当</span>
                    <input class="TxtStyle05L" name="strInchargeUserDisplayCode" type="text">
                    <input class="disTxt46L" name="strInchargeUserDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-user" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strDevelopUserDisplayCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strDevelopUserDisplayCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">開発担当者</span>
                    <input class="TxtStyle05L" name="strDevelopUserDisplayCode" type="text">
                    <input class="disTxt46L" name="strDevelopUserDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-user" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmDeliveryLimitDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmDeliveryLimitDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">客先納品日</span>
                    FROM <input name="From_dtmDeliveryLimitDate" class="TxtStyle05L" type="text" value="" maxlength="7" onfocus="chColorOn(this);" onblur="chColorOff(this); fncCheckDate(this,1); fncCopyValue( this, document.all.To_dtmDeliveryLimitDate );" tabindex="">
                    TO <input name="To_dtmDeliveryLimitDate" class="TxtStyle05L" type="text" value="" maxlength="7" onfocus="chColorOn(this);" onblur="chColorOff(this); fncCheckDate(this,1);" tabindex="">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curRetailPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curRetailPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">上代</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngCartonQuantity" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngCartonQuantity" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">カートン入数</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngProductionQuantity" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngProductionQuantity" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">償却数（pcs）</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curSalesAmount" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curSalesAmount" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">製品売上高</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curSalesProfit" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curSalesProfit" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">製品利益</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curSalesProfitRate" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curSalesProfitRate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">製品利益率</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curFixedCostSales" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curFixedCostSales" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">固定費売上高</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curFixedCostSalesProfit" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curFixedCostSalesProfit" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">固定費利益</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curFixedCostSalesProfitRate" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curFixedCostSalesProfitRate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">固定費利益率</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTotalSales" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTotalSales" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">総売上高</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTotalPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTotalPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">売上総利益</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTotalPriceRate" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTotalPriceRate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">売上総利益率</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curIndirectManufacturingCost" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curIndirectManufacturingCost" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">間接製造経費</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curStandardRate" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curStandardRate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">間接製造経費率</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curProfit" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curProfit" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">営業利益</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curProfitRate" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curProfitRate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">営業利益率</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curMemberCostPieces" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curMemberCostPieces" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">pcs部材費用</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curMemberCost" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curMemberCost" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">部材費合計</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curFixedCostPieces" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curFixedCostPieces" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">pcs償却費用</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curFixedCost" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curFixedCost" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">償却費合計</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curManufacturingCostPieces" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curManufacturingCostPieces" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">pcsコスト</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curManufacturingCost" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curManufacturingCost" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">製造費用合計</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_delete" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_delete" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">削除</span>
                </span>
            </div>
            <input type="hidden" name="ActionScriptName" value="/so/result/index.php">
            <input type="hidden" name="strSessionID" value="_%strSessionID%_">
		</form>
	</div>
    <div class="msw-loadpoints">
		<!-- MSW 担当部署マスタ検索 -->
		<iframe class="msw-group" src="/search/cmn/msw/group/mswgroup.html" frameborder="0">
		</iframe>
		<!-- MSW 担当者マスタ検索 -->
		<iframe class="msw-user" src="/search/cmn/msw/user/mswuser.html" frameborder="0">
		</iframe>
	</div>
</div>
