<table border>
	<tr>
		<td>_%strProductCode%_</td>
		<td>_%strProductName%_</td>
		<td>_%strInchargeGroup%_</td>
		<td>_%strInchargeUser%_</td>
	</tr>
	<tr>
		<td>_%strInputUser%_</td>
		<td>_%dtmCreationDate%_</td>
		<td>_%dtmDeliveryLimitDate%_</td>
		<td>_%curProductPrice%_</td>
	</tr>
	<tr>
		<td>_%curRetailPrice%_</td>
		<td>_%lngCartonQuantity%_</td>
		<td>_%lngPlanCartonProduction%_</td>
		<td>_%lngProductionoQuantity%_</td>
	</tr>
	<tr>
		<td>_%curFixedCostEstimate%_</td>
		<td>_%curFixedCost%_</td>
		<td>_%curMemberCostEstimate%_</td>
		<td>_%curMemberCost%_</td>
	</tr>
	<tr>
		<td>_%curManufacturingCost%_</td>
		<td>_%curAmountOfSales%_</td>
		<td>_%curTargetProfit%_</td>
		<td>_%curAchievementRatio%_</td>
	</tr>
	<tr>
		<td>_%curStandardRate%_</td>
		<td>_%curProfitOnSales%_</td>
		<td>_%update%_</td>
		<td>_%delete%_</td>
	</tr>
</table>
