<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=_%CHAR_SET%_" />

	<title>Excel Uploader - ワークシート確認画面</title>

	<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/estimate/cmn/css/layout.css">
	<script src="/cmn/jquery/jquery-3.1.0.js"></script>
	<link rel="stylesheet" href="/cmn/handsontable/css/handsontable.full.min.css"/>
	<script src="/cmn/handsontable/js/handsontable.full.min.js"></script>
	<script src="/estimate/regist/js/confirm/function.js"></script>

	<!-- キーバインド -->
	<script src="/cmn/functions.js"></script>


</head>
<body id="Backs" oncontextmenu="return false;">

_%DEBUG%_

	<input type="hidden" name="lngLanguageCode"	value="_%lngLanguageCode%_" />
    
	<table class="confirm_header" width="100%">
		<tr class="title">
			<td>
				<span>登録確認</span>
			</td>
		</tr>
        <tr></tr>
		<tr class="title">
			<td>
				<span>下記の内容で登録しますか</span>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#">
					<span id="btnClose" onclick="fncWindowClose();">
						<img class= "window_close button" onmouseover="fncCloseButton( 'onJ' , this );" onmouseout="fncCloseButton( 'offJ' , this );fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" src="/img/type01/estimate/regist/close/close_off_ja_bt.gif">
					</span>
				</a>
				<a href="#">
					<span id="btnFileProcess" onclick="fncFileProcess();">
						<img class= "file_process button" onmouseover="fncRegistButton( 'onJ' , this );" onmouseout="fncRegistButton( 'offJ' , this );fncAlphaOff( this );" onmousedown="fncAlphaOn( this );" onmouseup="fncAlphaOff( this );" src="/img/type01/estimate/regist/regist/regist_off_ja_bt.gif">
					</span>
			    </a>
			</td>
		</tr>
	</table>

<form method="post" name="formAction" action = "/estimate/regist/result.php">
	_%FORM%_

<br>


_%EXCEL%_

    <script id="script" type="text/javascript" src="/estimate/regist/js/confirm/handsontableRenderer.js" data-param='_%TABLEDATA%_'></script>

	<br /><br />
</form>


	<!-- プリロード画面の非表示 -->
	<!--
	<script type="text/javascript" language="javascript">parent.Preload.style.visibility = 'hidden';</script>
	-->

</body>
</html>
