	<tr style='mso-height-source:userset'>
		<td class=xl16114602 style='border-bottom:.5pt solid black ;border-top:none'>_%lngStockSubjectCode%_¡¡_%strStockSubjectName%_</td>
		<td class=xl4614602 style='border-top:none;border-left:none'>_%lngStockItemCode%_¡¡_%strStockItemName%_</td>
		<td class=xl4614602 style='border-top:none;border-left:none'>_%strCompanyDisplayCode%_ _%strCompanyDisplayName%_</td>
		<td class=xl2514602 style='border-top:none;border-left:none'>_%bytPayOffTargetFlag%_</td>
		<td class=xl6714602 align=right style='border-top:none;border-left:none' x:num>_%lngProductQuantity%_</td>
		<td class=xl8014602 align=right style='border-top:none;border-left:none' x:num="250000">_%strPlanPrice%_</td>
		<td class=xl8014602 align=right style='border-top:none;border-left:none' x:num="2500000" x:fmla="=F7*E7">\ _%curSubTotalPriceJP%_</td>
		<td colspan=3 class=xl14614602 style='border-right:.5pt solid black;border-left:none'>_%strNote%_</td>
	</tr>
