	<tr style='mso-height-source:userset' height='2'>
		<td colspan=2 class=xl16114602 style='border-bottom:.5pt solid black'></td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td colspan=3 class=xl8014602></td>
	</tr>
<!--
	<tr style='mso-height-source:userset'>
		<td colspan=2 class=xl16114602 style='border-bottom:.5pt solid black'>_%lngStockSubjectCode%_　_%strStockSubjectName%_ 合計</td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'>\ _%curSubjectTotalCost%_</td>
		<td colspan=3 class=xl8014602></td>
	</tr>
-->
	<tr style='mso-height-source:userset'>
		<td colspan=2 class=xl15514602 style='border-bottom:.5pt solid black'>_%lngStockSubjectCode%_　_%strStockSubjectName%_ 合計</td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl15514602 align=right style='border-left:none'>\ _%curSubjectTotalCost%_</td>
		<td colspan=3 class=xl8014602></td>
	</tr>

	<tr style='mso-height-source:userset' height='1'>
		<td colspan=2 class=xl16114602 style='border-bottom:.5pt solid black'></td>
		<td class=xl4614602 style='border-left:none'></td>
		<td class=xl2514602 style='border-left:none'></td>
		<td class=xl6714602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td class=xl8014602 align=right style='border-left:none'></td>
		<td colspan=3 class=xl8014602></td>
	</tr>
