<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=_%CHAR_SET%_" />
	<!-- <script type="text/javascript" language="javascript" src="/upload2/parse/cmn/function.js" charset="euc-jp"></script> -->

	<title>Excel Uploader - ワークシート一覧表示・選択画面</title>

	<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/estimate/cmn/css/layout.css">
	<script src="/cmn/jquery/jquery-3.1.0.js"></script>
	<script src="/estimate/regist/js/select/function.js"></script>
	<link rel="stylesheet" href="/cmn/handsontable/css/handsontable.full.min.css" />
	<script src="/cmn/handsontable/js/handsontable.full.min.js"></script>
	
	<!-- キーバインド -->
	<script src="/cmn/functions.js"></script>

<script type="text/javascript">
<!--
document.getElementsByClassName = function (className) {
var i, j, eltClass;
var objAll = document.getElementsByTagName ? document.getElementsByTagName("*") : document.all;
var objCN = new Array();
for (i = 0; i < objAll.length; i++) {
eltClass = objAll[i].className.split(/\s+/);
for (j = 0; j < eltClass.length; j++) {
if (eltClass[j] == className) {
objCN.push(objAll[i]);
break;
}
}
}
return objCN;
}

function classshow(clsname) {
var i=0;
CLASS = document.getElementsByClassName(clsname);

if(CLASS[i].style.display == "inline")
{
	clsshow="none";
}else
{clsshow="inline";}
for(i=0;i<CLASS.length;i++) {
CLASS[i].style.display = clsshow;
}
}

//-->
</script>


	<style type="text/css">
		<!--

			#parse_header
			{
				margin		: 0;
				font-family	: Arial;
				font-size	: 12px;
				background	: #ffffff;
			}

			#excHref
			{
				color			: #006699;
				text-decoration	: underline;
			}

			#parse_header table			{ border: 1px solid #716f64; border-collapse:collapse; }
			#parse_header td			{ border: 1px solid #0c0c0c; border-collapse:collapse; font-family:Arial; font-size: 12px; }
			#parse_header th			{ border: 1px solid #7e7d68; background-color:#efebde; font-family:Arial; font-size: 12px; }
			#parse_header td.index		{ font-size: 10px; color: #000000; font-weight: bold; }
			#parse_header td.empty		{ font-size: 10px; color: #000000; font-weight: bold; }
			#parse_header td.dt_string	{ font-size: 10px; color: #000090; font-weight: bold; }
			#parse_header td.dt_int		{ font-size: 10px; color: #909000; font-weight: bold; }
			#parse_header td.dt_float		{ font-size: 10px; color: #007000; font-weight: bold; }
			#parse_header td.dt_date 		{ font-size: 10px; color: #008080; font-weight: bold; }
			#parse_header td.dt_hlink		{ font-size: 10px; color: #000090; font-weight: bold;text-decoration: underline; }
			#parse_header td.dt_unknown	{ font-size: 10px; background-color: #f0d0d0; font-weight: bold; }
			#parse_header td.empty		{ font-size: 10px; background-color: #f0f0f0; font-weight: bold; }
			#parse_header .border			{ border: thin solid #666666; }


			#parse_header .column
			{
				border		: 1px solid #7e7d68;
				background	: #efebde;
				font-family	: Arial;
				font-size	: 12px;
				font-weight	: bold;
				text-align	: center;
			}
		-->
	</style>

</head>
<body id="Backs" oncontextmenu="return false;">

_%DEBUG%_

	<input type="hidden" name="lngLanguageCode"	value="_%lngLanguageCode%_" />



	<a name="top"></a>
	<table width="100%" bgcolor="#006699">
		<tr>
			<td style="color:white;"><h4>ワークシート選択</h4></td>
		</tr>
	</table>
	<br />
	<hr size=1>


<form method="post" action = "/estimate/regist/confirm.php">
	_%FORM%_

<br>
&nbsp;&nbsp;Worksheet : 
<select id="transition" name="worksheetname" onchange="fncSheetSelector(); return false;">
_%WORKSHEET%_
</select>



_%EXCEL%_

    <script id="script" type="text/javascript" src="/estimate/regist/js/select/handsontableRenderer.js" data-param='_%TABLEDATA%_'></script>

	<br /><br />
</form>


	<!-- プリロード画面の非表示 -->
	<!--
	<script type="text/javascript" language="javascript">parent.Preload.style.visibility = 'hidden';</script>
	-->

</body>
</html>
