<!--


a:active, a:link, a:visited  { text-decoration: none ;}


a:link     { color: #ffffff ;  background-color: transparent ; }
a:visited  { color: #ffffff ;  background-color: transparent ; }
a:active   { color: #ffffff ;  background-color: transparent ; }
/* a:hover    { color: #ffffff ;  text-decoration:underline ; } */


a:link.Cells     { color: #666666 ;  background-color: transparent ; }
a:visited.Cells  { color: #666666 ;  background-color: transparent ; }
a:active.Cells   { color: #666666 ;  background-color: transparent ; }
/* a:hover.Cells    { color: #666666 ;  text-decoration:underline ; } */




body {
	background-color : #f1f1f1 ;
	font-family : Arial , ＭＳ Ｐゴシック;
	font-style : normal ;
	font-weight : normal ;
	color : #666666 ;
	font-size : 12px;
	line-height : 12px ;
	margin : 0px ;
	z-index : 0 ;
	scrollbar-face-color       : #cdcdcd ; 
	scrollbar-highlight-color  : #cdcdcd ; 
	scrollbar-shadow-color     : #cdcdcd ; 
	scrollbar-3dlight-color    : #788787 ; 
	scrollbar-arrow-color      : #788787 ; 
	scrollbar-track-color      : #f1f1f1 ; 
	scrollbar-darkshadow-color : #788787 ;	
}





/* 登録確認用オーバーフローレイヤー */
#ConfirmOverFlowBox
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 961px ;
	height : 551px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
	overflow : auto ;
}



/********************* Iframe Size *********************/
#ResultIframeforRegist /* 登録確認用 */
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 1005px ;
	height : 605px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ResultIframe /* 検索結果一覧用 */
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 1005px ;
	height : 655px ; /* 505 */
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ResultIframeCommon /* 詳細・削除用 */
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 690px ;
	height : 655px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ResultIframeRenew /* 修正用 */
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 964px ;
	height : 555px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


#ResultIframeCommonMaster /* [マスター]詳細・削除用 */
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 594px ;
	height : 486px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


#ResultIframeWf /* 承認ルート用 */
{
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 499px ;
	height : 655px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


/********************* Table Style *********************/
#strError
{
	font-family : monospace ; /* ＭＳ Ｐゴシック, Osaka */
	font-style : normal ;
	font-weight : normal ;
	color : #ea8555 ;
	font-size : 13px;
	line-height : 12px ;
	text-align : center ;
	border-width: 0px ;
	border-style: none ;
	padding : 0px 0px 0px 0px ;
	background-color : transparent ;
}

table
{
	width : 100% ;
	font-family : Arial , ＭＳ Ｐゴシック, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px ;
	color : #666666 ;
	text-align : center ;
	padding : 4px 3px 1px 3px ;
}


#SegTitle
{
	font-family : Arial , ＭＳ　Ｐゴシック ;
	position : absolute ;
	top : 0px ;
	color : #ffffff ;
	background-color : #799797 ;
	word-break : keep-all ;
}

.SegColumn
{
	font-family : Arial , ＭＳ　Ｐゴシック ;
	color : #ffffff ;
	background-color : #799797 ;
	word-break : keep-all ;
}

.SegColumn2
{
	font-family : Arial , ＭＳ　Ｐゴシック ;
	color : #ffffff ;
	background-color : #6d8aab ;
	word-break : keep-all ;
}

.Segs
{
	font-family : monospace ;
	color : #555555 ;
	background : #ffffff ;
	padding : 4px 6px 3px 6px ;
	text-align : left ;
}

.SegsUse
{
	font-family : Arial , ＭＳ　Ｐゴシック ;
	color : #555555 ;
	background : #ffffff ;
	padding : 4px 6px 3px 6px ;
	text-align : center ;
}

#DummyTR
{
	font-size : 12px ;
	color : #799797 ;
	text-align : center ;
	background-color : #799797 ;
	padding : 4px 3px 1px 3px ;
	word-break : keep-all ;
}

#PrevNext
{
	position : absolute ;
	width : 920px ;
	border-width : 0px ;
	border-style : none ;
	border-color : #cdcdcd ;
	padding : 0px 0px 0px 0px ;
}

#PrevButton
{
	position : absolute ;
	top : 14px ;
	left : 365px ;
	border-width : 0px ;
	border-style : none ;
}

#NextButton
{
	position : absolute ;
	top : 14px ;
	left : 537px ;
	border-width : 0px ;
	border-style : none ;
}

#PageCount
{
	position : absolute ;
	top : 10px ;
	left : 430px ;
	border-width : 0px ;
	border-style : none ;
}

#PageCountNum
{
	position : absolute ;
	top : 17px ;
	left : 430px ;
	font-family : Arial , ＭＳ Ｐゴシック, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	width : 100px ;
	height : 23px ;
	border-width : 0px ;
	border-style : none ;
	text-align : center ;
	padding : 0px 0px 0px 0px ;
	background-color : transparent ;
}

#W01
{
	color : #ea8555 ;
	background-color : #f1f1f1 ;
}


-->