<!--
.main-area{
	position : absolute ;
	top : 95px ;
}

.navi-area {
    position: absolute;
    top: 1px;
    left: 11px;
    width: 186px;
    height: 550px;
    z-index : 4 ;
    pointer-events: none;
}

.regist-line
{
	left : 35px ;
	overflow: hidden;
}

.form-line{
	display: inline-block;
    box-sizing: border-box;
    padding: 3px 3px 3px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #798787;
    background-color: #e8f0f1;
}

.Column {
	display: inline-block;
	vertical-align: middle;
	font-weight : bold ;
	width : 157px ;
	line-height: 23px;
}

.VarText {
	font-family : lr oSVbN, Osaka ;
	font-style : normal ;
	font-weight : normal ;
	font-size : 12px;
	vertical-align: middle;
}

/************************************* START INPUT A *************************************/
/* START INPUT A SEGMENTS */
#InputA { 
	position : absolute ;
	left : 34px ;
	top : 0px ;
	z-index : 0 ;
	visibility : visible ;
	border-style: none ;
	height: 492px;
	width: 949px;
	background-color: #d6d0b1 ;
	margin-top: 12px;
	margin-bottom: 0px;
}
/* END INPUT A SEGMENTS */


/* START HEADER */
#SegAHeader {
	position : absolute ;
	left : 0px ;
	top : 0px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}
/* END HEADER */

/* END BODYS */


/* START BOTTOM */
#SegABottom {
	position : absolute ;
	left : 0px ;
	top : 488px ;
	border-width: 0px ;
	border-style: none ;
	background-color: #ffffff ;
}
/* END BOTTOM */


/* START SEGMENTS */
#SegA01 {
	position : absolute ;
	left : 8px ;
	top : 39px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#SegAIFrm {
	width : 931px ;
	height : 447px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #799797 ;
}
/* END SEGMENTS */
/************************************** END INPUT C **************************************/


#MasterTitle
{
	position : absolute ;
	top : 20px ;
	left : 235px ;
	border-width : 0px ;
	border-style : none ;
}

#ErrorMessageFrame
{
	position : absolute ;
	top : 115px ;
	left : 11px ;
	z-index : 11 ;
	visibility: hidden ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#ErrorMessage
{
	position : absolute ;
	width : 978px ;
	height : 34px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}


-->