<config>
<header1>
	<link rel="stylesheet" href="/search/cmn/form/css/forms.css">
	<link rel="stylesheet" href="/search/cmn/form/css/tabs.css">
	<link rel="stylesheet" href="/search/cmn/navigate/css/navigate.css">
	<script src="/search/cmn/form/js/tab-function.js" defer></script>
	<script src="/search/cmn/form/js/util-selectbox.js" defer></script>
    <!-- チェックボックスの切り替え処理 -->
    <script src="/search/cmn/search/js/toggleCheckbox.js" defer></script>
    <!-- 検索画面共通入力補助 -->
    <script src="/search/cmn/search/js/input-assist.js" defer></script>
	<!-- msw 表示 -->
	<script src="/search/cmn/msw/cmn/js/msw.js" defer></script>
    <!-- COOKIE関連の処理(検索画面) -->
    <script src="/search/cmn/search/js/cookie-functions.js" defer></script>
</header1>

<header2>
</header2>

<header3>
	<!-- datepickerの要素指定 -->
	<script src="/search/cmn/js/datepicker.js" defer></script>
	<!-- msw汎用スタイル -->
	<link rel="stylesheet" href="/search/cmn/css/msw.css">
    <!-- フォームボタン css -->
    <link rel="stylesheet" href="/search/cmn/css/form-buttons.css">
    <!-- フォーム ボタン -->
	<script src="/search/cmn/js/form-buttons.js" defer></script>
    <!-- フォームバリデーション -->
    <script src="/search/cmn/js/validate-form.js" defer></script>
    <!-- マスタ検索呼び出し -->
	<script src="/search/cmn/js/invoke-master-search.js" defer></script>
    <!-- COOKIE 表示チェックボックス 保存/復元 -->
	<script src="/search/cmn/js/cookie-display-items.js" defer></script>
    <!-- キーバインド -->
	<script src="/search/cmn/js/key-bind.js" defer></script>
	<!-- キーバインド -->
	<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>

<bodyonload>
Loading();
</bodyonload>
</config>

<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/search/cmn/navigate/list_po_navi.html');
	</script>
</div>

<!-- 入力フォーム -->
<div class="form-box--notabs-for-search">
	<!-- フォームヘッダ -->
	<div class="form-box__header">
		<p class="form-box__header__title">発注書　検索</p>
        <span class="form-box__header__buttons">
            <img class="clear button" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif">
            <img class="search button" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif">
        </span>
	</div>
	<!-- フォームコンテンツ -->
	<div class="form-box__contents--with-scroll">
		<form name="SearchMoldHistory" method="post">
            <input type="submit">
            <div class="regist-line">
                <img class="toggle-search button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle search">
            </div>
            <div class="regist-line">
                <img src="/img/type01/cmn/seg/search_column_ja.gif" alt="view search">
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmInsertDateConditions" class="is-search" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">登録日</span>
                    FROM <input class="TxtStyle05L" name="From_dtmInsertDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);fncCopyValue( this , document.all.To_dtmInsertDate );" tabindex="" maxlength="10">
                    TO <input class="TxtStyle05L" name="To_dtmInsertDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmOrderAppDateConditions" class="is-search" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入日</span>
                    FROM <input class="TxtStyle05L" name="From_dtmOrderAppDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);fncCopyValue( this , document.all.To_dtmOrderAppDate );" tabindex="" maxlength="10">
                    TO <input class="TxtStyle05L" name="To_dtmOrderAppDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strOrderCodeConditions" class="is-search" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">発注NO.</span>
                    FROM <input class="TxtStyle05L" name="From_strOrderCode" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCopyValue( this , document.all.To_strOrderCode );" tabindex="">
                    TO <input class="TxtStyle05L" name="To_strOrderCode" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
                </span>
            </div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductCodeConditions" class="is-search" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品コード</span>
                    <input class="TxtStyle05L" name="From_strProductCode"  type="text" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInputUserCodeConditions" class="is-search" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">入力者</span>
                    <input class="TxtStyle05L" name="strInChargeGroupDisplayCode" type="text">
                    <input class="disTxt46L" name="strInChargeGroupDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-user" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
				</span>
			</div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngCustomerCodeConditions" class="is-search" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入先</span>
                    <input class="TxtStyle05L" name="strCustomerDisplayCode" type="text">
                    <input class="disTxt46L" name="strCustomerDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-customer" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngCustomerCodeConditions" class="is-search" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">宛先名称</span>
                    <input class="TxtStyle05L" name="strCustomerDisplayCode" type="text">
                    <input class="disTxt46L" name="strCustomerDisplayName" type="text" readonly>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInChargeGroupCodeConditions" class="is-search" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">営業部署</span>
                    <input class="TxtStyle05L" name="strInChargeGroupDisplayCode" type="text">
                    <input class="disTxt46L" name="strInChargeGroupDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-group" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInChargeUserCodeConditions" class="is-search" type="checkbox">
                </span>    
                <span class="regist-label">
                    <span class="regist-label__text">開発担当者</span>
                    <input class="TxtStyle05L" name="strInChargeUserDisplayCode" type="text">
                    <input class="disTxt46L" name="strInChargeUserDisplayName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-user" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <input type="hidden" name="ActionScriptName" value="/list/po/result/index.php">
            <input type="hidden" name="strSessionID" value="_%strSessionID%_">
		</form>
	</div>
    <div class="msw-loadpoints">
		<!-- MSW 顧客マスタ検索 -->
		<iframe class="msw-customer" src="/search/cmn/msw/customer/mswcustomer.html" frameborder="0">
		</iframe>
		<!-- MSW 担当部署マスタ検索 -->
		<iframe class="msw-group" src="/search/cmn/msw/group/mswgroup.html" frameborder="0">
		</iframe>
		<!-- MSW 担当者マスタ検索 -->
		<iframe class="msw-user" src="/search/cmn/msw/user/mswuser.html" frameborder="0">
		</iframe>
	</div>
</div>
