<!--
#Backs
{
	background : #d6d0b1 ;
}

#EmailSet
{
	position   : absolute ;
	left       : 30px ;
	top        : 45px ;
	z-index    : 3 ;
	background : transparent ;
}

#RegistBt
{
	position   : absolute ;
	left       : 560px ;
	top        : 5px ;
	background : transparent ;
}


-->