<config>
<!-- --------------------------------------------------------------------------
《改定履歴》
2004/03/05 K.Saito
	objDataSourceSettingCheckAlert 機能の追加

2004/03/30 K.Saito
	objDataSourceSettingCheckAlert1 機能の追加

2004/04/19 K.Suzukaze
	strPageCondition 登録画面か修正画面かを示す　Hidden値 の追加

2004/04/20 K.Saito
	SegB04_1、SegB05_1 のクリック時の動作を変更

2004/../.. xxxxxxx
	xxxxx
--------------------------------------------------------------------------- -->
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayouterror.js"></script>
</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/pc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/pc/regist/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutquery.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutmsw.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutpunit.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutdate.js"></script>
</header2>


<header3>
<script type="text/javascript" language="javascript" src="/pc/cmn/subloadmastersettings.js"></script>
<script type="text/javascript" language="javascript" src="/pc/regist/functions.js"></script>
<!-- <script type="text/javascript" language="javascript" src="/pc/regist/exstr.js"></script> -->
<link rel="stylesheet" type="text/css" media="screen" href="_%strCssName%_">
<link rel="stylesheet" type="text/css" media="screen" href="_%strErrorCssName%_">
<!-- <script type="text/javascript" language="javascript" src="/cmn/languages.js"></script> -->
<script type="text/javascript" language="javascript">

	function fncPOSubmit( obj )
	{
		window.DLwin.fncDtRegistRecord();

/*
		var blnCheck = fncCheckTargetCode( document.HSO.strOrderCode.value );

		if( blnCheck )
		{
			window.DLwin.fncDtRegistRecord();
		}
		else
		{
			fncOrderSubmit();
			return false;
		}
*/

/*
		// 「承認なし」の場合の判定 -> 「承認なし」の場合はボタン押下禁止
		for( i=0; i < obj.options.length; i++ )
		{
			if( obj.options[i].text == '承認なし' && i == 0)
			{
				break;
			}
			else
			{
				window.DLwin.fncDtRegistRecord();
				break;
			}
		}
*/
	}



	var WinCnt = 0;

	// 承認ルートボタン押下処理
	function fncOpenWFRoot( obj )
	{
		// 「承認なし」の場合の判定 -> 「承認なし」の場合はボタン押下禁止
		for( i=0; i < obj.options.length; i++ )
		{
			if( obj.options[i].text == '承認なし' )
			{
				if( i == 0 ) return false;
			}
		}

		if( WinCnt == 0 )
		{
			WFRootFrame.style.visibility = 'visible';
			WFrootBt.innerHTML = darkgrayOpenBt3;
			WinCnt = 1;
		}
		else if( WinCnt == 1 )
		{
			WFRootFrame.style.visibility = 'hidden';
			WFrootBt.innerHTML = darkgrayOpenBt1;
			WinCnt = 0;
		}

		return false;
	}

	function fncRedirectOpen( obj )
	{
		if( WinCnt == 1 )
		{
			fncOpenWFRoot();
		}
	}





	// ターゲットコードチェック
	function fncCheckTargetCode( code )
	{
		var strCode  = '';
		var blnCheck = false;

		strCode = trim( code );

		blnCheck = ( strCode == '' ) ? false : true;

		return blnCheck;
	}


	// 発注番号から引き当て
	function fncOrderSubmit()
	{
		// var lngLangCode = lngLanguageCode;
		var strAlert    = '発注番号を入力してください。';
		var strCode     = trim( document.HSO.strOrderCode.value );

		if( strCode != "" )
		{
			document.HSO.action        = "index.php";
			document.HSO.strMode.value = "onchange";
			document.HSO.submit();
		}
		else
		{
			alert( strAlert );
		}
	}

</script>
</header3>



<bodyonload>
initLayoutBase();initLayoutPC();initLayoutQuery();initLayoutMsw();initLayoutPunit();initLayoutDate();autoFocus1();initLayoutError1( ErrInputA );initLayoutError2( ErrInputB );fncRegistrationConfirm( window.HSO , window.DSO , '/result/common.html' , '/result/regist_ifrm.html' , 'ResultIframeRenew' , 'NO' , _%lngLanguageCode%_ , document.all.lngRegistConfirm.value );fncDetailErrorOpen( '_%strDetailError%_' );fncDetailErrorOpen( '_%strErrorMessage%_' );Loading();
<!-- GetlngLanguageCode( _%lngLanguageCode%_ ); -->
</bodyonload>
</config>



<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>


<!-- 確認画面表示フラグ -->
<input type="hidden" name="lngRegistConfirm" value="_%lngRegistConfirm%_">

<bgsound id="BeepSound" src="/error/dummy.aif" loop="1" balance="0" volume="-100">
<form name="HSO" action="" method="post">

<input type="hidden" name="ActionScriptName" value="_%strurl%_">

<input type="hidden" name="strSessionID" value="_%strSessionID%_">
<input type="hidden" name="strMode" value="_%strMode%_">
<input type="hidden" name="strProcMode" value="_%strProcMode%_">
<input type="hidden" name="lngOrderNo" value="_%lngOrderNo%_">

<input type="hidden" name="strPageCondition" value="_%strPageCondition%_">

<!--仕入管理であることを表すフラグ-->
<input type="hidden" name="PCFlg" value="true">

<!-- 計上日・締め済み チェック警告用オブジェクト、ロジック -->
<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSettingCheckAlertAppDate" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSettingCheckAlertAppDate" event="ondatasetcomplete">
	subLoadMasterSetting(this.recordset, 9);
	subLoadMasterCheckAlert(document.all.check_alert_appdate);
	if(document.all.check_alert_appdate.value)
	{
		document.all.HSO.dtmOrderAppDate.value='';
		document.all.HSO.dtmOrderAppDate.focus();
	}
</Script>
<!-- 計上日・締め済み チェック警告 -->
<input type="hidden" name="check_alert_appdate" value="">

<!-- /////////////////////////////////// START MAIN TITLE /////////////////////////////////// -->
<span id="MainTitle" style="visibility:_%strBaseVisibilityName%_;"></span>
<!-- //////////////////////////////////// END MAIN TITLE //////////////////////////////////// -->


<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSetting" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSetting" event="ondatasetcomplete">subLoadMasterSetting(this.recordset,0);
</Script>

<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSettingProductInfo" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSettingProductInfo" event="ondatasetcomplete">subLoadMasterSettings(this.recordset,1, window.DSO);
</Script>

<!--
<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSetting1" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSetting1" event="ondatasetcomplete">subLoadMasterSetting(this.recordset,1);
</Script>

<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSetting2" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSetting2" event="ondatasetcomplete">subLoadMasterSetting(this.recordset,2);
</Script>
-->

<!-- 通貨＆仕入科目 チェック警告用オブジェクト、ロジック -->
<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSettingCheckAlert" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSettingCheckAlert" event="ondatasetcomplete">
	subLoadMasterSetting(this.recordset, 20);
	subLoadMasterCheckAlert(document.all.check_alert);
</Script>

<!-- 仕入科目 チェック警告用オブジェクト、ロジック 
<OBJECT CLASSID="clsid:333C7BC4-460F-11D0-BC04-0080C7055A83" ID="objDataSourceSettingCheckAlert1" WIDTH="0" HEIGHT="0"></OBJECT>
<Script for="objDataSourceSettingCheckAlert1" event="ondatasetcomplete">
	subLoadMasterSetting(this.recordset, 21);
	subLoadMasterCheckAlert(document.all.check_alert1);
	if(document.all.strStockSubjectCode.value == 401) document.all.strStockItemCode.value = 99;
</Script>
-->
<!-- 通貨＆仕入科目 チェック警告 -->
<input type="hidden" name="check_alert" value="">
<input type="hidden" name="check_alert1" value="">


<!-- /////////////////////////////////// START NAVIGATION /////////////////////////////////// -->
<span id="NaviButton" style="left : 10px;top : 96px;visibility:_%strBaseVisibilityName%_;"></span>

<p id="Navigations" style="left : 27px;top : 96px;" onmouseout="NavigationOFF( Navigations , NaviButton );">
<span id="Navi">
	<iframe id="NaviIfrm" name="NAVIwin" frameborder="0" scrolling="no" src="/navi/index.php?strSessionID=_%strSessionID%_&strNaviCode=pc-111"></iframe>
</span>
</p>
<!-- //////////////////////////////////// END NAVIGATION //////////////////////////////////// -->



<!-- /////////////////////////////////// START INPUT A SEGMENTS /////////////////////////////////// -->
<p id="InputA">

<!-- START BODYS -->
<span id="SegABodys"></span>
<!-- END BODYS -->

<!-- START HEADER -->
<span id="SegAHeader"></span>
<!-- END HEADER -->

<!-- START BOTTOM -->
<span id="SegABottom"></span>
<!-- END BOTTOM -->

<!-- START QUERY BUTTON -->
<!-- <span id="SegAClearBt" onclick="fncResetFrm( window.HSO );"></span> -->
<span id="RegistBt" onclick="fncPOSubmit( document.DSO.lngWorkflowOrderCode ); return false;"></span>
<!-- END QUERY BUTTON -->


<!-- START SEGMENTS -->
<span id="SegA01">仕入日</span>
<span id="SegA14">仕入ＮＯ．</span>
<span id="SegA02">発注書ＮＯ．</span>
<span id="SegA15">納品書ＮＯ．</span>
<span id="SegA03">仕入先</span>


<!-- *v1*
<span id="SegA04">部門</span>
<span id="SegA05">担当者</span>
<span id="SegA0405"></span>
-->


<span id="SegA11">納品場所</span>
<span id="SegA12">製品到着日</span>
<span id="SegA13">備考</span>
<span id="SegA06">状態</span>
<span id="SegA07">通貨</span>
<span id="SegA08">レートタイプ</span>
<span id="SegA09">適用レート</span>
<span id="SegA10">支払条件</span>
<!-- END SEGMENTS -->


<!-- START VARS -->

<!-- 仕入日 -->
<span id="VarsA01">
	<input style="ime-mode:disabled;" class="Txt10L" type="text" name="dtmOrderAppDate" value="_%dtmOrderAppDate%_" maxlength="10" 
		onfocus="chColorOn(this);" 
		onblur="chColorOff(this);fncCheckDate( this );
				window.DLwin.fncCalConversionRate(); subLoadMasterHidden('caCheckClosedStock', 0, document.all.check_alert_appdate, Array ( this.value ), objDataSourceSettingCheckAlertAppDate, 9);" 
		tabindex="1">
</span>


<!-- 仕入ＮＯ． -->
<span id="VarsA14">
	<input class="disTxt10L" type="text" name="lngStockCode" value="_%lngStockCode%_" maxlength="10" contenteditable="false">
</span>


<!-- 発注書ＮＯ． -->
<span id="VarsA02">
	<input style="ime-mode:disabled;" class="Txt10L" type="text" name="strOrderCode" value="_%strOrderCode%_" maxlength="10" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="3" _%strOrderCode_Editable%_>-&nbsp;<input class="disTxt02L" type="text" name="strReviseCode" value="_%strReviseCode%_" maxlength="2" contenteditable="false">
		<input type="hidden" name="lngrevisionno" value="_%lngrevisionno%_">
</span>


<!-- 伝票コード -->
<span id="VarsA15">
	<input style="ime-mode:disabled;" class="Txt10L" type="text" name="strSlipCode" value="_%strSlipCode%_" maxlength="10" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="5">
</span>


<!-- 仕入先 -->
<span id="VarsA03">
	<input style="ime-mode:disabled;" class="Txt10L" type="text" name="lngCustomerCode" value="_%lngCustomerCode%_" maxlength="10" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);subLoadMasterCheck(this);" tabindex="6" 
		onChange="subLoadMasterText('cnSupplier', this, strCustomerName, Array(this.value,lngCustomerCode.value), objDataSourceSetting);">&nbsp;<input class="disTxt46L" type="text" name="strCustomerName" value="_%strCustomerName%_" maxlength="25" contenteditable="false">
</span>



<!-- *v1* 部門コード & 部門の名称
<span id="VarsA04">
	<input style="ime-mode:disabled;" class="TxtStyle02L" type="text" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_" maxlength="2" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);subLoadMasterCheck(this);" tabindex="8" 
		onChange="subLoadMasterText('cnGroup', this, strInChargeGroupName, Array(this.value), objDataSourceSetting);
			lngInChargeUserCode.value='';strInChargeUserName.value='';">&nbsp;<input class="disTxt46L" type="text" name="strInChargeGroupName" value="_%strInChargeGroupName%_" maxlength="25" contenteditable="false">
</span>
-->


<!-- *v1* 担当者
<span id="VarsA05">
	<input style="ime-mode:disabled;" class="TxtStyle02L" type="text" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_" maxlength="3" 
		onfocus="chColorOn(this);" 
		onblur="chColorOff(this);
			subLoadMasterCheck(this);" tabindex="9" onChange="subLoadMasterText('cnUser', this, strInChargeUserName, Array(this.value,lngInChargeGroupCode.value), objDataSourceSetting);">&nbsp;<input class="disTxt46L" type="text" name="strInChargeUserName" value="_%strInChargeUserName%_" maxlength="25" contenteditable="false">
</span>
-->



<!-- 納品場所 & 納品場所の名称 -->
<span id="VarsA11">
	<input style="ime-mode:disabled;" class="Txt04L" type="text" name="lngLocationCode" value="_%lngLocationCode%_" size="3" maxlength="4" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);
			subLoadMasterCheck(this);" tabindex="11" onChange="subLoadMasterText('cnLocation', this, strLocationName, Array(this.value), objDataSourceSetting)">&nbsp;<input class="disTxt46L" type="text" name="strLocationName" value="_%strLocationName%_" size="25" maxlength="25" contenteditable="false">
</span>


<!-- 発注有効期限日 -->
<span id="VarsA12">
	<input style="ime-mode:disabled;" class="Txt10L" type="text" name="dtmExpirationDate" value="_%dtmExpirationDate%_" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate( this );" tabindex="17">
</span>


<!-- 備考 -->
<span id="VarsA13">
	<input class="Txt100L" type="text" name="strNote" value="_%strNote%_" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckString( this , 90 );" tabindex="19">
</span>


<!-- 状態 -->
<span id="VarsA06">
	<input class="disTxt07L" type="text" name="lngOrderStatusCode_Display" value="_%lngOrderStatusCode_Display%_" size="7" maxlength="7" contenteditable="false">
	<input type="hidden" name="lngOrderStatusCode" value="_%lngOrderStatusCode%_">
</span>


<!-- 通貨 -->
<span id="VarsA07">
	<select name="lngMonetaryUnitCode"_%MonetaryUnitDisabled%_ tabindex="13" 
			onchange="fncCheckNumberCurrencySign( this.value );
				window.DLwin.fncHdMonetaryUnitCode();
				window.DLwin.fncCalConversionRate();
				window.DLwin.fncDtGoodsPriceList();">
		_%lngMonetaryUnitCode%_
	</select>
</span>


<!-- レートタイプ -->
<span id="VarsA08">
	<select   name="lngMonetaryRateCode" tabindex="14" disabled 
			onChange="window.DLwin.fncCalConversionRate();">
		_%lngMonetaryRateCode%_
	</select> 
</span>


<!-- 適用レート -->
<span id="VarsA09">
	<input style="ime-mode:disabled;" class="TxtStyle04R" type="text" name="curConversionRate" value="_%curConversionRate%_" size="7" maxlength="7" 
		onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckNumber( this , 6 , false );" tabindex="15" contentEditable="false">
</span>


<!-- 支払条件 -->
<span id="VarsA10">
	<select name="lngPayConditionCode" tabindex="16">
		_%lngPayConditionCode%_
	</select>
</span>
<!-- END VARS -->


<!-- START [SUPPLIER] BUTTON -->
<span id="MSWBt08" onclick="DisplayerM08( '' , document.all.Mdata08 , window.SUPwin.document.all.strCustomerCode  );ExchangeM08( 0 , window.self );fncFocusType( window.SUPwin , 'supplierTop' );return false;"></span>
<!-- fncGetObjectName( window.SUPwin , lngCustomerCode , strCustomerName ); -->
<!-- END [SUPPLIER] BUTTON -->



<!-- *v1* START [DEPT & IN CHARGE NAME] BUTTON
<span id="MSWBt02" onclick="fncGetObjectName( window.MDwin , lngInChargeGroupCode , strInChargeGroupName , lngInChargeUserCode , strInChargeUserName );DisplayerM02( '' , document.all.Mdata02 , window.MDwin.document.all.strGroupCode , window.MDwin.document.all.strUserCode );ExchangeM02( 0 , window.self );fncFocusType( window.MDwin , 'deptTop' );return false;"></span>
END [DEPT & IN CHARGE NAME] BUTTON -->



<!-- START [LOCATION] BUTTON -->
<span id="MSWBt04" onclick="DisplayerM04( '' , document.all.Mdata04 , window.MLwin.document.all.strLocationCode  );ExchangeM04( 0 , window.self );fncFocusType( window.MLwin , 'locationTop' );return false;"></span>
<!-- fncGetObjectName( window.MLwin , lngLocationCode , strLocationName ); -->
<!-- END [LOCATION] BUTTON -->

<!-- START DATE BUTTON -->
<span id="DateBtA" onclick="window.MDatewin.fncCalendar( window.HSO.dtmOrderAppDate , 'DateA');DisplayerM10( '' , document.all.Mdata10 );ExchangeM10( 0 , window.self );return false;"></span>
<!-- END DATE BUTTON -->

<!-- START DATEB BUTTON -->
<span id="DateBtB" onclick="window.MDateBwin.fncCalendar( window.HSO.dtmExpirationDate, 'DateB' );DisplayerM10_2( '' , document.all.Mdata10_2 );ExchangeM10_2( 0 , window.self );return false;"></span>
<!-- END DATEB BUTTON -->

<!-- 明細枠の情報 -->
<span id="DtHiddenRecord"></span>

<!-- 発注データ読み込みボタン -->
<span id="DataOpenBt" onclick="_%OrderSubmit%_　return false;"></span>


<!-- 直登録フラグ -->
<input type="hidden" name="lngDirectRegistFlag" value="_%lngDirectRegistFlag%_">
<!-- 権限グループフラグ -->
<input type="hidden" name="lngAuthorityGroupFlag" value="_%lngAuthorityGroupFlag%_">
</p>

<!-- //////////////////////////////////// END INPUT A SEGMENTS //////////////////////////////////// -->







</form>
<form name="DSO" action="" method="post">

<!--仕入管理の計上日における税区分コード-->
<input type="text" name="zeicode" value="0" style="visibility:hidden">
<!--仕入管理の計上日における税率-->
<input type="text" name="zeiritsu" value="0" style="visibility:hidden">
<!--仕入管理の計上日における税コード-->
<input type="text" name="TaxCode" value="0" style="visibility:hidden">

_%strDetailHidden%_


<input type="hidden" name="lngCalcCode" value="_%lngCalcCode%_">



<!-- //////////////////////////////////// START INPUT B SEGMENTS //////////////////////////////////// -->
<p id="InputB">

<!-- START BODYS -->
<span id="SegBBodys"></span>
<!-- END BODYS -->

<!-- START HEADER -->
<span id="SegBHeader"></span>
<!-- END HEADER -->

<!-- START BOTTOM -->
<span id="SegBBottom"></span>
<!-- END BOTTOM -->

<!-- START QUERY BUTTON -->
<span id="AddRowBt" onclick="window.DLwin.fncDtAddRecord();   subLoadMasterHidden('caMonetaryUnitStockSubject', 0, document.all.check_alert, Array ( document.all.HSO.lngMonetaryUnitCode.value, strStockSubjectCode.value ), objDataSourceSettingCheckAlert, 20);return false;" style="visibility:_%adddelrowview%_"></span>
<span id="DelRowBt" onclick="window.DLwin.fncDtDelRecord();return false;" style="visibility:_%adddelrowview%_"></span>
<span id="CommitBt" onclick="window.DLwin.fncDtCommitRecord();subLoadMasterHidden('caMonetaryUnitStockSubject', 0, document.all.check_alert, Array ( document.all.HSO.lngMonetaryUnitCode.value, strStockSubjectCode.value ), objDataSourceSettingCheckAlert, 20);return false;"></span>
<!-- <span id="RegistBt" onclick="fncPOSubmit( document.DSO.lngWorkflowOrderCode ); return false;"></span> -->
<!-- *v1* <span id="RegistBt" onclick="window.DLwin.fncDtRegistRecord();return false;"></span> -->
<span id="SegBClearBt" onclick="fncResetFrm( window.DSO );window.DLwin.fncDtClearRecord();return false;"></span>
<!-- END QUERY BUTTON -->


<!-- START SEGMENTS 01 -->
<span id="SegB02">製品</span>
<span id="SegB09">仕入科目</span>
<span id="SegB10">仕入部品</span>
<span id="SegB08">単価リスト</span>
<span id="SegB03">顧客品番</span>
<span id="SegB06">運搬方法</span>
<span id="SegB04_2">製品単価</span>
<span id="SegB04_3">製品単位</span>
<span id="SegB04_4">製品数量</span>
<span id="SegB04_5">税抜金額</span>
<span id="SegB05_2">荷姿単価</span>
<span id="SegB05_3">荷姿単位</span>
<span id="SegB05_4">荷姿数量</span>
<span id="SegB05_5">カートン入数</span>
<span id="SegB07">備考</span>
<span id="SegB12">基準通貨</span>
<span id="SegB13">税区分</span>
<span id="SegB14">税率</span>
<span id="SegB15">税額</span>
<span id="SegB16">総合計金額</span>
<span id="SegB20">Delivery date</span>
<span id="SegB21">No.</span>
<!-- END SEGMENTS 01 -->


<!-- START VARS -->


<!-- 製品 -->
<span id="VarsB02">
	<input style="ime-mode:disabled;" class="extends-Txt05L" type="text" name="strProductCode"
			onfocus="chColorOn(this);" onblur="chColorOff(this);subLoadMasterCheck(this);" tabindex="21"
			onChange="subLoadMasterText('cnProductInfo', this, this, Array(this.value, document.all.lngInputUserCode.value), objDataSourceSettingProductInfo, 0);
					window.DLwin.fncDtGoodsPriceList();
					window.DLwin.fncDtGoodsPriceToProductPrice();" contenteditable="_%blnContentEditable%_">&nbsp;<input class="disTxt90L" type="text" name="strProductName" maxlength="40" disabled>
</span>

<!-- 顧客品番 -->
<span id="VarsB03">
	<input class="disTxt10L" type="text" name="strGoodsCode" value="_%strGoodsCode%_" maxlength="10" disabled>
</span>


<!-- 製品単位計上 -->
<span id="VarsB04_1">
	<input   class="RadioStyle01" type="radio" name="lngConversionClassCode" value="gs"
			onClick="window.DLwin.fncDtGsChecked();fncForceFocus( document.all.curProductPrice_gs );" tabindex="29" checked>
</span>


<!-- 製品単価 -->
<span id="VarsB04_2">
	<input style="ime-mode:disabled;" class="Txt23R" type="text" name="curProductPrice_gs" value="_%curProductPrice_gs%_" maxlength="" 
			onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckNumber( this , 4 );window.DLwin.fncDtCalTotalPrice();" tabindex="30">
</span>


<!-- 製品単位 -->
<span id="VarsB04_3">
	<select class="Slt20" name="lngProductUnitCode_gs" tabindex="31">
		_%lngProductUnitCode_gs%_
	</select>
</span>


<!-- 製品数量 -->
<span id="VarsB04_4">
	<input style="ime-mode:disabled;" class="Txt23R" type="text" name="lngGoodsQuantity_gs" value="_%lngGoodsQuantity_gs%_" maxlength="" 
			onfocus="chColorOn(this);" 
			onblur="chColorOff(this);
				window.DLwin.fncDtGSGoodsQuantityForPC();
				fncCheckNumber( this , 0 , false ); 
				window.DLwin.fncDtCalTotalPrice();" 
			tabindex="32">
</span>


<!-- 税抜金額 -->
<span id="VarsB04_5">
	<input class="disTxt23R" type="text" name="curTotalPrice" value="" maxlength="" onfocus="chColorOn(this);" 
			onblur="chColorOff(this);" disabled>
</span>


<!-- 荷姿単位計上 -->
<span id="VarsB05_1">
	<input   class="RadioStyle01" type="radio" name="lngConversionClassCode" value="ps" 
		onClick="window.DLwin.fncDtPsChecked();fncForceFocus( document.all.curProductPrice_ps );" tabindex="29">
</span>


<!-- 荷姿単価 -->
<span id="VarsB05_2">
	<input style="ime-mode:disabled;" class="Txt23R" type="text" name="curProductPrice_ps" value="_%curProductPrice_ps%_" maxlength="17" 
		onfocus="chColorOn(this);" 
		onblur="chColorOff(this);
			fncCheckNumber( this , 4 );
			window.DLwin.fncDtCalTotalPrice();
			window.DLwin.fncDtPSProductPrice();" tabindex="30" disabled>
</span>


<!-- 荷姿単位 -->
<span id="VarsB05_3">
	<select class="Slt20" name="lngProductUnitCode_ps" tabindex="31"  disabled>
		_%lngProductUnitCode_ps%_
	</select>
</span>


<!-- 荷姿数量 -->
<span id="VarsB05_4">
	<input style="ime-mode:disabled;" class="Txt23R" type="text" name="lngGoodsQuantity_ps" value="_%lngGoodsQuantity_ps%_" maxlength="17" 
		onfocus="chColorOn(this);" 
		onblur="chColorOff(this);window.DLwin.fncDtPSGoodsQuantityForPC();
			fncCheckNumber( this , 0 , false );window.DLwin.fncDtCalTotalPrice();" tabindex="32"  disabled>
</span>


<!-- カートン入数 -->
<span id="VarsB05_5">
	<input class="disTxt23R" type="text" name="lngCartonQuantity" value="_%lngCartonQuantity%_" maxlength="17" onfocus="chColorOn(this);"
		 onblur="chColorOff(this);fncCheckNumber( this , 0 , false );" disabled>
</span>


<!-- 運搬方法 -->
<span id="VarsB06">
	<select name="lngCarrierCode" tabindex="26">
		_%lngCarrierCode%_
	</select>
</span>


<!-- 納期 -->
<span id="VarsB20">
	<input style="ime-mode:disabled;" class="Txt10L" type="text" name="dtmDeliveryDate" value="" maxlength="10" 
		onfocus="chColorOn(this);" 
		onblur="chColorOff(this);fncCheckDate( this );" tabindex="27">
	</select>
</span>


<!-- No. -->
<span id="VarsB21">
	<input style="ime-mode:disabled;" class="disTxt10L" type="text" name="strSerialNo" value="" maxlength="7" 
		contenteditable="false">
	</select>
</span>


<!-- 単価リスト -->
<span id="VarsB08">
	<select class="SlctStyle01" name="lngGoodsPriceCode" 
			onchange="window.DLwin.fncDtGoodsPriceToProductPrice();" tabindex="25" disabled>
		_%lngGoodsPriceCode%_
	</select>
</span>


<!-- 仕入科目 -->
<span id="VarsB09">
	<select class="Slt21" name="strStockSubjectCode" tabindex="23" 
			onChange="subLoadMasterOption( 'cnStockItemRegist', strStockSubjectCode, strStockItemCode, Array(this.value), objDataSourceSetting, 0);
					window.DLwin.fncDtTaxClassCode(this);
					subLoadMasterHidden('caMonetaryUnitStockSubject', 0, document.all.check_alert, Array ( document.all.HSO.lngMonetaryUnitCode.value, strStockSubjectCode.value ), objDataSourceSettingCheckAlert, 20);
//					subLoadMasterHidden('caStockSubject401', 0, document.all.check_alert1, Array ( strStockSubjectCo//					de.value, strDetailNote.value ), objDataSourceSettingCheckAlert1, 21);
			" >
		_%strStockSubjectCode%_
	</select>
</span>


<!-- 仕入部品 -->
<span id="VarsB10">
	<select class="Slt30" name="strStockItemCode" tabindex="24" disabled
		onChange="window.DLwin.fncDtGoodsPriceList();
		window.DLwin.fncDtGoodsPriceToProductPrice();">
		_%strStockItemCode%_
	</select>
</span>


<!-- 基準通貨 -->
<span id="VarsB12">
	<input class="disTxt20R" type="text" name="curStdTotalPrice" value="_%curStdTotalPrice%_" maxlength="17" tabindex="" disabled>
</span>


<!-- 税区分 -->
<span id="VarsB13">
	<select class="Slt18" name="lngTaxClassCode"
				onChange="window.DLwin.fncDtCalTaxPrice2(this);" tabindex="34">
		<option value="1">非課税</option>
		<option value="2">外税</option>
		<option value="3">内税</option>
		_%%_
	</select>
</span>


<!-- 税率 -->
<span id="VarsB14">
	<input class="disTxt20R" type="text" name="lngTaxCode" value="_%lngTaxCode%_" maxlength="23"
		 onfocus="chColorOn(this);"
		 onblur="chColorOff(this);" tabindex="32" disabled>
</span>


<!-- 税額 -->
<span id="VarsB15">
	<input class="disTxt20R" type="text" name="curTaxPrice" value="_%curTaxPrice%_" maxlength="23" disabled>
</span>


<!-- 総合計金額 -->
<span id="VarsB16">
	<input class="disTxt20R" type="text" name="curAllTotalPrice" value="_%curAllTotalPrice%_" maxlength="23" disabled>
</span>


<!-- 備考 -->
<span id="VarsB07">
	<input class="Txt100L" type="text" name="strDetailNote" value="_%strDetailNote%_" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckString( this , 90 );" tabindex="35">
</span>

<!-- END VARS -->


<!-- START SEGMENTS 02 -->
<span id="SegB04_1" 
	onClick="lngConversionClassCode[0].click();"
	style="cursor: default" >製品単位計上</span>
<span id="SegB05_1" 
	onClick="lngConversionClassCode[1].click();"
	style="cursor: default" >荷姿単位計上</span>
<!-- END SEGMENTS 02 -->


<!-- START [PRODUCTS] BUTTON -->
<span id="MSWBt03" onclick="_%blnBtnEditable%_. fncGetObjectName( window.MGwin , strProductCode , strProductName );DisplayerM03( '' , document.all.Mdata03 , window.MGwin.document.all.strProductCode  );ExchangeM03( 0 , window.self );fncFocusType( window.MGwin , 'productsTop' );return false;"></span>
<!-- END [PRODUCTS] BUTTON -->

<!-- START PACKING UNIT BUTTON -->
<span id="PunitBt"></span>
<!-- END PACKING UNIT BUTTON -->


<!-- START TAX BUTTON -->
<span id="TaxBt" onclick="ShowTaxStatus(this);"></span>
<!-- END TAX BUTTON -->


<!-- START DATEC BUTTON -->
<span id="DateBtC" onclick="window.MDateCwin.fncCalendar( window.DSO.dtmDeliveryDate, 'DateC' );DisplayerM10_3( '' , document.all.Mdata10_3 );ExchangeM10_3( 0 , window.self );return false;"></span>
<!-- END DATEC BUTTON -->





<!-------------------------------------------------------------------------
	v2 tomita update
-------------------------------------------------------------------------->
<!-- 明細顧客表示 -->
<span id="SegDetailIN"></span>
<span id="SegDetailINBtn" onclick="fncSetDINBtn( this ); fncViewDIN( 'SegDetailIN' ); return false;"></span>
<span id="SegDept">部門</span>
<span id="SegIncharge">担当者</span>
<span id="VarsDept">
	<input style="ime-mode:disabled;" class="disTxt02L" type="text" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_" maxlength="2" contenteditable="false">&nbsp;<input class="disTxt46L" type="text" name="strInChargeGroupName" value="_%strInChargeGroupName%_" contenteditable="false">
</span>
<span id="VarsIncharge">
	<input style="ime-mode:disabled;" class="disTxt03L" type="text" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_" maxlength="3" contenteditable="false">&nbsp;<input class="disTxt46L" type="text" name="strInChargeUserName" value="_%strInChargeUserName%_" contenteditable="false">
</span>


<!-- 承認ルート -->
<span id="SegBWF"  style="visibility:_%visibleWF%_">承認ルート</span>
<span id="VarsBWF" style="visibility:_%visibleWF%_"><select class="Slt30PO" name="lngWorkflowOrderCode" tabindex="">_%lngWorkflowOrderCode%_</select></span>

<!-- WORK FLOW ROOT BUTTON -->
<span id="WFrootBt" style="visibility:_%visibleWF%_" onclick="fncOpenWFRoot( document.DSO.lngWorkflowOrderCode ); return false;"></span>
<span id="WFRootFrame"><iframe id="WFroot" name="WFrootWin" frameborder="0" scrolling="no" src="/po/wf/index.php?strSessionID=_%strSessionID%_"></iframe></span>





</p>
<!-- ///////////////////////////////////// END INPUT B SEGMENTS ///////////////////////////////////// -->







<!-- ////////// START GOODS PLAN WINDOW ////////// -->
<p id="TaxStatus">
<span id="TaxBodys"></span>
<span id="TaxHeader"></span>
<span id="TaxBottom"></span>
<span id="Tax">税額</span>
<span id="TotalStdAmt">合計金額</span>

<span id="TaxVars">
	<input class="disTxt17R" type="text" name="curSubTaxPrice" value="" maxlength="17" tabindex="" readonly>
</span>

<span id="TotalStdAmtVars">
	<input class="disTxt17R" type="text" name="curTotalStdAmt" value="" maxlength="17" tabindex="" readonly>
</span>
</p>
<!-- ////////// END GOODS PLAN WINDOW ////////// -->








<!-- //////////////////////////////////// START INPUT C SEGMENTS //////////////////////////////////// -->

<!-- Detale下部明細一覧 -->
<p id="InputC">

<!-- START BODYS -->
<span id="SegCBodys"></span>
<!-- END BODYS -->

<!-- START HEADER -->
<span id="SegCHeader"></span>
<!-- END HEADER -->

<!-- START BOTTOM -->
<span id="SegCBottom"></span>
<!-- END BOTTOM -->


<!-- START SEGMENTS -->
<span id="SegC01">
	<iframe id="SegCIFrm" name="DLwin" frameborder="0" src="/dlist/po/index.html"></iframe>
</span>
<!-- END SEGMENTS -->


</p>
<!-- ///////////////////////////////////// END INPUT C SEGMENTS ///////////////////////////////////// -->








<!-- //////////////////////////////////// START MSW //////////////////////////////////// -->
<!-- START [SUPPLIER] -->
<p id="MiFrame08" onclick="Zchange(this);">
<iframe id="Mdata08" name="SUPwin" frameborder="0" scrolling="no" src="/msw/supplier/index.html"></iframe>
<span id="DummyDrag08" onmousedown="pickup08('MiFrame08',event);return false;" 
	onmouseup="ShowValue( window.SUPwin );fncMswPositionCheck( document.all.Mdata08 , document.all.MiFrame08 );" 
	ondblclick="fncTitlebar( document.all.Mdata08 , document.all.MiFrame08 );"></span>
<span id="DummyClose08" onclick="DisplayerM08( '' , document.all.Mdata08 );ExchangeM08( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [SUPPLIER] -->


<!-- START [DEPT & IN CHARGE NAME] -->
<p id="MiFrame02" onclick="Zchange(this);">
<iframe id="Mdata02" name="MDwin" frameborder="0" scrolling="no" src="/msw/dept/index.html"></iframe>
<span id="DummyDrag02" onmousedown="pickup02('MiFrame02',event);return false;" 
	onmouseup="ShowHideValueDept( window.MDwin );fncMswPositionCheck( document.all.Mdata02 , document.all.MiFrame02 );" 
	ondblclick="fncTitlebar( document.all.Mdata02 , document.all.MiFrame02 );"></span>
<span id="DummyClose02" onclick="DisplayerM02( '' , document.all.Mdata02 );ExchangeM02( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [DEPT & IN CHARGE NAME] -->


<!-- START [PRODUCTS] -->
<p id="MiFrame03" onclick="Zchange(this);">
<iframe id="Mdata03" name="MGwin" frameborder="0" scrolling="no" src="/msw/products/index.html"></iframe>
<span id="DummyDrag03" onmousedown="pickup03('MiFrame03',event);return false;" 
	onmouseup="ShowValue( window.MGwin );fncMswPositionCheck( document.all.Mdata03 , document.all.MiFrame03 );" 
	ondblclick="fncTitlebar( document.all.Mdata03 , document.all.MiFrame03 );"></span>
<span id="DummyClose03" onclick="DisplayerM03( '' , document.all.Mdata03 );ExchangeM03( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [PRODUCTS] -->

<!-- START [LOCATION] -->
<p id="MiFrame04" onclick="Zchange(this);">
<iframe id="Mdata04" name="MLwin" frameborder="0" scrolling="no" src="/msw/location/index.html"></iframe>
<span id="DummyDrag04" onmousedown="pickup04('MiFrame04',event);return false;" 
	onmouseup="ShowValue( window.MLwin );fncMswPositionCheck( document.all.Mdata04 , document.all.MiFrame04 );" 
	ondblclick="fncTitlebar( document.all.Mdata04 , document.all.MiFrame04 );"></span>
<span id="DummyClose04" onclick="DisplayerM04( '' , document.all.Mdata04 );ExchangeM04( 0 , window.Pwin );return false;"></span>
</p>
<!-- END [LOCATION] -->


<!-- START [DATE] -->
<p id="MiFrame10" onclick="Zchange(this);">
<iframe id="Mdata10" name="MDatewin" frameborder="0" scrolling="no" src="/msw/date/index.html"></iframe>
<span id="DummyDrag10" onmousedown="pickup10('MiFrame10',event);return false;" 
	onmouseup="fncMswPositionCheck(document.all.Mdata10, document.all.MiFrame10 );" 
	ondblclick="fncTitlebar( document.all.Mdata10 , document.all.MiFrame10 );"></span>
<span id="DummyClose10" onclick="DisplayerM10( '' , document.all.Mdata10 );ExchangeM10( 0 , window.Pwin );return false;"></span>
</p>


<!-- START [DATEB] -->
<p id="MiFrame10_2" onclick="Zchange(this);">
<iframe id="Mdata10_2" name="MDateBwin" frameborder="0" scrolling="no" src="/msw/date/indexb.html"></iframe>
<span id="DummyDrag10_2" onmousedown="pickup10_2('MiFrame10_2',event);return false;" 
	onmouseup="fncMswPositionCheck(document.all.Mdata10_2,document.all.MiFrame10_2);" 
	ondblclick="fncTitlebar( document.all.Mdata10_2 , document.all.MiFrame10_2 );"></span>
<span id="DummyClose10_2" onclick="DisplayerM10_2( '' , document.all.Mdata10_2 );ExchangeM10_2( 0 , window.Pwin );return false;"></span>
</p>


<!-- START [DATEC] -->
<p id="MiFrame10_3" onclick="Zchange(this);">
<iframe id="Mdata10_3" name="MDateCwin" frameborder="0" scrolling="no" src="/msw/date/indexc.html"></iframe>
<span id="DummyDrag10_3" onmousedown="pickup10_3('MiFrame10_3',event);return false;" 
	onmouseup="fncMswPositionCheck(document.all.Mdata10_3,document.all.MiFrame10_3);" 
	ondblclick="fncTitlebar( document.all.Mdata10_3 , document.all.MiFrame10_3 );"></span>
<span id="DummyClose10_3" onclick="DisplayerM10_3( '' , document.all.Mdata10_3 );ExchangeM10_3( 0 , window.Pwin );return false;"></span>
</p>
<!-- ///////////////////////////////////// END MSW ///////////////////////////////////// -->















<!-- //////////////////////////////////// START TAB //////////////////////////////////// -->
<!-- <span id="TabA"></span>
<span id="TabB"></span> -->
<!-- ///////////////////////////////////// END TAB ///////////////////////////////////// -->














<!-- //////////////////////////////////// START E TO J //////////////////////////////////// -->
<!-- <span id="EtoJ" style="visibility:_%strBaseVisibilityName%_;"></span> -->
<!-- ///////////////////////////////////// END E TO J ///////////////////////////////////// -->


















<p id="ErrInputA">
<span id="ErrSegA01" style="_%dtmOrderAppDate_Error%_" onmouseover="ShowComment( Comments , '_%dtmOrderAppDate_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegA02" style="_%lngStockCode_Error%_" onmouseover="ShowComment( Comments , '_%lngStockCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegA03" style="_%lngCustomerCode_Error%_" onmouseover="ShowComment( Comments , '_%lngCustomerCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegA04" style="_%lngInChargeGroupCode_Error%_" onmouseover="ShowComment( Comments , '_%lngInChargeGroupCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegA05" style="_%lngInChargeUserCode_Error%_" onmouseover="ShowComment( Comments , '_%lngInChargeUserCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegA09" style="_%curConversionRate_Error%_" onmouseover="ShowComment( Comments , '_%curConversionRate_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>

<span id="ErrSegA10" style="_%lngPayConditionCode_Error%_" onmouseover="ShowComment( Comments , '_%lngPayConditionCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>

<span id="ErrSegA11" style="_%lngLocationCode_Error%_" onmouseover="ShowComment( Comments , '_%lngLocationCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>

<span id="ErrSegA13" style="_%strNote_Error%_" onmouseover="ShowComment( Comments , '_%strNote_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>

<span id="ErrSegA15" style="_%strSlipCode_Error%_" onmouseover="ShowComment( Comments , '_%strSlipCode_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
</p>

<p id="ErrInputB">
<span id="ErrSegB02" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB04_2" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB04_4" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB04_5" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB05_2" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB05_4" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB05_5" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
<span id="ErrSegB07" style="" onmouseover="ShowComment( Comments , '' );" onmouseout="HideComment( Comments );"></span>
</p>


<span id="Comments"></span>

</form>


<!--
<span id="ErrSegA12" style="_%dtmExpirationDate_Error%_" onmouseover="ShowComment( Comments , '_%dtmExpirationDate_Error_Message%_' );" onmouseout="HideComment( Comments );"></span>
-->


<!-- ERROR MESSAGE -->
<span id="ErrorMessageFrame">
	<iframe id="ErrorMessage" name="errorWin" frameborder="0" scrolling="no" src="/error/error.html"></iframe>
</span>



<!-- 入力者コード -->
<input type="hidden" name="lngInputUserCode" value="_%lngSelfLoginUserCode%_">


<span id="OverLayer"></span>
