<config>
<header1>
	<link rel="stylesheet" href="/search/cmn/form/css/forms.css">
	<link rel="stylesheet" href="/search/cmn/form/css/tabs.css">
	<link rel="stylesheet" href="/search/cmn/navigate/css/navigate.css">
	<script src="/search/cmn/form/js/tab-function.js" defer></script>
	<script src="/search/cmn/form/js/util-selectbox.js" defer></script>
    <!-- チェックボックスの切り替え処理 -->
    <script src="/search/cmn/search/js/toggleCheckbox.js" defer></script>
    <!-- 検索画面共通入力補助 -->
    <script src="/search/cmn/search/js/input-assist.js" defer></script>
	<!-- msw 表示 -->
	<script src="/search/cmn/msw/cmn/js/msw.js" defer></script>
    <!-- COOKIE関連の処理(検索画面) -->
    <script src="/search/cmn/search/js/cookie-functions.js" defer></script>
</header1>

<header2>
</header2>

<header3>
	<!-- datepickerの要素指定 -->
	<script src="/search/cmn/js/datepicker.js" defer></script>
	<!-- msw汎用スタイル -->
	<link rel="stylesheet" href="/search/cmn/css/msw.css">
    <!-- フォームボタン css -->
    <link rel="stylesheet" href="/search/cmn/css/form-buttons.css">
    <!-- フォーム ボタン -->
	<script src="/search/cmn/js/form-buttons.js" defer></script>
    <!-- フォームバリデーション -->
    <script src="/search/cmn/js/validate-form.js" defer></script>
    <!-- マスタ検索呼び出し -->
	<script src="/search/cmn/js/invoke-master-search.js" defer></script>
    <!-- COOKIE 表示チェックボックス 保存/復元 -->
	<script src="/search/cmn/js/cookie-display-items.js" defer></script>
    <!-- キーバインド -->
	<script src="/search/cmn/js/key-bind.js" defer></script>
</header3>

<bodyonload>
</bodyonload>
</config>

<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
		$('.navigation-loadpoint').load('/search/cmn/navigate/pc_navi.html');
	</script>
</div>

<!-- 入力フォーム -->
<div class="form-box--notabs-for-search">
	<!-- フォームヘッダ -->
	<div class="form-box__header">
		<p class="form-box__header__title">仕入検索</p>
        <span class="form-box__header__buttons">
            <img class="clear button" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif">
            <img class="search button" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif">
        </span>
	</div>
	<!-- フォームコンテンツ -->
	<div class="form-box__contents--with-scroll">
		<form name="SearchseaHistory" method="post">
            <input type="submit">
            <div class="regist-line">
                <img class="toggle-search button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle search">
                <img class="toggle-display button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle display">
            </div>
            <div class="regist-line">
                <img src="/img/type01/cmn/seg/view_search_ja.gif" alt="view search">
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnDetail" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnDetail" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">詳細</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnFix" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnFix" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">修正</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmInsertDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmInsertDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">登録日</span>
                    FROM <input class="TxtStyle05L" name="From_dtmInsertDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);fncCopyValue( this , document.all.To_dtmInsertDate );" tabindex="" maxlength="10">
                    TO <input class="TxtStyle05L" name="To_dtmInsertDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmStockAppDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmStockAppDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入日</span>
                    FROM <input class="TxtStyle05L" name="From_dtmStockAppDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);fncCopyValue( this , document.all.To_dtmStockAppDate );" tabindex="" maxlength="10">
                    TO <input class="TxtStyle05L" name="To_dtmStockAppDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strStockCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strStockCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">仕入NO.</span>
                    FROM <input class="TxtStyle05L" name="From_strStockCode" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCopyValue( this , document.all.To_strStockCode );" tabindex="">
                    TO <input class="TxtStyle05L" name="To_strStockCode" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
				</span>
			</div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strOrderCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strOrderCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">発注NO.</span>
                    FROM <input class="TxtStyle05L" name="From_strOrderCode" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCopyValue( this , document.all.To_strOrderCode );" tabindex="">
                    TO <input class="TxtStyle05L" name="To_strOrderCode" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strSlipCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strSlipCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">納品書NO.</span>
                    <input class="TxtStyle05L" name="strSlipCode" type="text" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInputUserCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngInputUserCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">入力者</span>
                    <input class="TxtStyle05L" name="lngInputUserCode"  type="text">
                    <input class="disTxt46L" name="lngInputUserName"  type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-user" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngCustomerCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngCustomerCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入先</span>
                    <input class="TxtStyle05L" name="lngCustomerCode"  type="text">
                    <input class="disTxt46L" name="lngCustomerName"  type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-customer" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngStockStatusCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngStockStatusCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">状態</span>
                    仕入<input name="lngStockStatusCode[]" class="is-state"" type="checkbox" value="10">
                    納品中<input name="lngStockStatusCode[]" class="is-state" type="checkbox" value="2">
                    納品済<input name="lngStockStatusCode[]" class="is-state" type="checkbox" value="4">
                    締め済<input name="lngStockStatusCode[]" class="is-state" type="checkbox" value="99">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngPayConditionCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngPayConditionCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">支払条件</span>
                    <select name="lngPayConditionCode" class="Slt13">
                        <option value="">−</option>
                        <OPTION value=1>L/C</OPTION>
                        <OPTION value=3>T/T</OPTION>
					</select>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmExpirationDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmExpirationDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">製品到着日</span>
                    FROM <input class="TxtStyle05L" name="From_dtmExpirationDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate( this );fncCopyValue( this , document.all.To_dtmExpirationDate );" tabindex="" maxlength="10">
                    TO <input class="TxtStyle05L" name="To_dtmExpirationDate" type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strNote" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strNote" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">備考</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTotalPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTotalPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">合計金額</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngRecordNo" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngRecordNo" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">明細行番号</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strProductCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品コード</span>
					FROM <input class="TxtStyle05L" name="From_strProductCode"  type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate( this );fncCopyValue( this , document.all.To_strProductCode );" tabindex="" maxlength="10">
					TO <input class="TxtStyle05L" name="To_strProductCode"  type="text" value="" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckDate(this);" tabindex="" maxlength="10">
				</span>
			</div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInChargeGroupCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngInChargeGroupCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">営業部署</span>
                    <input class="TxtStyle05L" name="lngInChargeGroupCode" type="text">
                    <input class="disTxt46L" name="strInChargeGroupName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-group" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInChargeUserCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngInChargeUserCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">開発担当者</span>
                    <input class="TxtStyle05L" name="lngInChargeUserCode" type="text">
                    <input class="disTxt46L" name="strInChargeUserName" type="text" readonly>
                    <img class="msw-button button" invokeMSWName="msw-user" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductName" class="is-search" type="checkbox">
                    <input name="IsDisplay_strProductName" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品名</span>
                    <input class="Txt46L" name="strProductName"  type="text" value="" maxlength="80" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckString( this );" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngStockSubjectCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngStockSubjectCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入科目</span>
                    <select name="lngStockSubjectCode" class="Slt13">
                   		<OPTION selected value=0>0 −</OPTION> 
                   		<OPTION value=401>401 材料パーツ仕入高</OPTION> 
                   		<OPTION value=402>402 輸入パーツ仕入高</OPTION> 
                   		<OPTION value=403>403 材料ツール仕入高</OPTION> 
                   		<OPTION value=420>420 外注加工費</OPTION> 
                   		<OPTION value=431>431 金型償却高</OPTION> 
                   		<OPTION value=433>433 金型海外償却</OPTION> 
                   		<OPTION value=1224>1224 チャージ</OPTION> 
                   		<OPTION value=1230>1230 経費</OPTION> 
                    </select>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngStockItemCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngStockItemCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入部品</span>
                    <select name="lngStockItemCode" class="Slt13">
                        <OPTION selected value=1224-0>0</OPTION>
                        <OPTION value=1224-1>1 輸入諸掛</OPTION>
                        <OPTION value=1224-2>2 輸入費用</OPTION>
                        <OPTION value=1224-3>3 関税</OPTION>
                        <OPTION value=1224-99>99 −</OPTION>
                        <OPTION value=1230-0>0</OPTION> 
                        <OPTION value=1230-1>1 製造経費</OPTION> 
                        <OPTION value=1230-2>2 KTS手数料</OPTION> 
                        <OPTION value=1230-3>3 運賃(FEDEX,BLPなど)</OPTION> 
                        <OPTION value=1230-4>4 検査費</OPTION> 
                        <OPTION value=1230-99>99 −</OPTION> 
                        <OPTION value=401-0>0</OPTION> 
                        <OPTION value=401-1>1 証紙</OPTION> 
                        <OPTION value=401-10>10 [個箱] [個袋]</OPTION> 
                        <OPTION value=401-11>11 内箱</OPTION> 
                        <OPTION value=401-12>12 カートン</OPTION> 
                        <OPTION value=401-14>14 外箱</OPTION> 
                        <OPTION value=401-15>15 本荷</OPTION> 
                        <OPTION value=401-16>16 I C</OPTION> 
                        <OPTION value=401-17>17 外部検査費用</OPTION> 
                        <OPTION value=401-2>2 カプセル</OPTION> 
                        <OPTION value=401-3>3 菓子類</OPTION> 
                        <OPTION value=401-4>4 製品部材</OPTION> 
                        <OPTION value=401-5>5 ミニブック</OPTION> 
                        <OPTION value=401-6>6 印刷物</OPTION> 
                        <OPTION value=401-7>7 版下・製版代</OPTION> 
                        <OPTION value=401-8>8 タンポ版</OPTION> 
                        <OPTION value=401-99>99 −</OPTION> 
                        <OPTION value=402-0>0</OPTION> 
                        <OPTION value=402-1>1 MassProduct</OPTION> 
                        <OPTION value=402-10>10 Shipment Sample</OPTION> 
                        <OPTION value=402-11>11 Sales Sample</OPTION> 
                        <OPTION value=402-12>12 Printing Matters</OPTION> 
                        <OPTION value=402-13>13 Correction Charge</OPTION> 
                        <OPTION value=402-14>14 I C</OPTION> 
                        <OPTION value=402-15>15 Lab Test Fee</OPTION> 
                        <OPTION value=402-2>2 Set Sample</OPTION> 
                        <OPTION value=402-3>3 Bulk Sample</OPTION> 
                        <OPTION value=402-4>4 Set-Up Charge</OPTION> 
                        <OPTION value=402-5>5 Inspection</OPTION> 
                        <OPTION value=402-6>6 Rework</OPTION> 
                        <OPTION value=402-7>7 Spare</OPTION> 
                        <OPTION value=402-8>8 Freightt Cost</OPTION> 
                        <OPTION value=402-9>9 Sample</OPTION> 
                        <OPTION value=402-92>92 Ink Jet Printing Cost</OPTION> 
                        <OPTION value=402-93>93 Ink Jet Miscellaneous Cost</OPTION> 
                        <OPTION value=402-94>94 Ink Jet Repair Cost</OPTION> 
                        <OPTION value=402-95>95 Ink Jet Maintenance Cost</OPTION> 
                        <OPTION value=402-96>96 Ink Jet Jig</OPTION> 
                        <OPTION value=402-97>97 Ink Jet Ink</OPTION> 
                        <OPTION value=402-98>98 Ink Jet Printer Parts</OPTION> 
                        <OPTION value=402-99>99 −</OPTION> 
                        <OPTION value=403-0>0</OPTION> 
                        <OPTION value=403-1>1 彩色</OPTION> 
                        <OPTION value=403-2>2 デザイン料</OPTION> 
                        <OPTION value=403-3>3 製図</OPTION> 
                        <OPTION value=403-4>4 版下・製版代</OPTION> 
                        <OPTION value=403-5>5 タンポ版</OPTION> 
                        <OPTION value=403-6>6 検査費用</OPTION> 
                        <OPTION value=403-7>7 その他費用</OPTION> 
                        <OPTION value=403-92>92 インクジェット印刷費用</OPTION> 
                        <OPTION value=403-93>93 インクジェットその他</OPTION> 
                        <OPTION value=403-94>94 インクジェット保守費用</OPTION> 
                        <OPTION value=403-95>95 インクジェット部品</OPTION> 
                        <OPTION value=403-96>96 インクジェット試作</OPTION> 
                        <OPTION value=403-97>97 インクジェットデータ</OPTION> 
                        <OPTION value=403-98>98 インクジェット治具</OPTION> 
                        <OPTION value=403-99>99 −</OPTION> 
                        <OPTION value=420-0>0</OPTION> 
                        <OPTION value=420-1>1 アッセンブリ代</OPTION> 
                        <OPTION value=420-2>2 外注先運賃</OPTION> 
                        <OPTION value=420-4>4 製品見直し代</OPTION> 
                        <OPTION value=420-99>99 −</OPTION> 
                        <OPTION value=431-0>0</OPTION> 
                        <OPTION value=431-1>1 原型</OPTION> 
                        <OPTION value=431-2>2 注型</OPTION> 
                        <OPTION value=431-3>3 キャスト</OPTION> 
                        <OPTION value=431-4>4 シリコン</OPTION> 
                        <OPTION value=431-5>5 台座</OPTION> 
                        <OPTION value=431-6>6 ロウモデル</OPTION> 
                        <OPTION value=431-7>7 分割</OPTION> 
                        <OPTION value=431-8>8 金型</OPTION> 
                        <OPTION value=431-99>99 −</OPTION> 
                        <OPTION value=433-0>0</OPTION> 
                        <OPTION value=433-1>1 Injection Mold</OPTION> 
                        <OPTION value=433-2>2 Spray Mask Mold</OPTION> 
                        <OPTION value=433-3>3 Prot type</OPTION> 
                        <OPTION value=433-4>4 Separation Charge</OPTION> 
                        <OPTION value=433-5>5 Tooling Sample</OPTION> 
                        <OPTION value=433-6>6 Duplicate Sample</OPTION> 
                        <OPTION value=433-7>7 ToolingMaster</OPTION> 
                        <OPTION value=433-99>99 −</OPTION>
                    </select>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strMoldNo" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strMoldNo" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">NO.</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strGoodsCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strGoodsCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">顧客品番</span>
                    <input class="TxtStyle05L" name="strGoodsCode" type="text" value="" maxlength="10" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngDeliveryMethodCode" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngDeliveryMethodCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">運搬方法</span>
                </span>
            </div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmDeliveryDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmDeliveryDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">納期</span>
                    FROM <input name="From_dtmDeliveryDate" class="TxtStyle05L" type="text" value=""onfocus="chColorOn( this );"onblur="chColorOff( this ); fncCheckDate( this ); fncCopyValue( this , document.all.To_dtmDeliveryDate );" tabindex="" maxlength="10">
                    TO <input name="To_dtmDeliveryDate" class="TxtStyle05L" type="text" value=""onfocus="chColorOn( this );"onblur="chColorOff( this ); fncCheckDate( this );" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curProductPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curProductPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">単価</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngProductUnitCode" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngProductUnitCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">単位</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngProductQuantity" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngProductQuantity" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">数量</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curSubTotalPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curSubTotalPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">税抜金額</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngTaxClassCode" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngTaxClassCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">税区分</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTax" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTax" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">税率</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTaxPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTaxPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">税額</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strDetailNote" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strDetailNote" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">明細備考</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnDelete" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnDelete" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">削除</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnInvalid" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnInvalid" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">無効</span>
                </span>
            </div>
            <input type="hidden" name="ActionScriptName" value="/sc/result/index.php">
            <input type="hidden" name="strSessionID" value="_%strSessionID%_">
		</form>
	</div>
    <div class="msw-loadpoints">
		<!-- MSW 顧客マスタ検索 -->
		<iframe class="msw-customer" src="/search/cmn/msw/customer/mswcustomer.html" frameborder="0">
		</iframe>
		<!-- MSW 担当部署マスタ検索 -->
		<iframe class="msw-group" src="/search/cmn/msw/group/mswgroup.html" frameborder="0">
		</iframe>
		<!-- MSW 担当者マスタ検索 -->
		<iframe class="msw-user" src="/search/cmn/msw/user/mswuser.html" frameborder="0">
		</iframe>
	</div>
</div>
