<config>
<header1>
	<link rel="stylesheet" href="/search/cmn/form/css/forms.css">
	<link rel="stylesheet" href="/search/cmn/form/css/tabs.css">
	<script src="/search/cmn/form/js/tab-function.js" defer></script>
    <script src="/search/cmn/js/date.js" defer></script>
	<script src="/search/cmn/form/js/util-selectbox.js" defer></script>
    <!-- チェックボックスの切り替え処理 -->
    <script src="/search/cmn/search/js/toggleCheckbox.js" defer></script>
    <!-- 検索画面共通入力補助 -->
    <script src="/search/cmn/search/js/input-assist.js" defer></script>
	<!-- msw 表示 -->
	<script src="/search/cmn/msw/cmn/js/msw.js" defer></script>
    <!-- COOKIE関連の処理(検索画面) -->
    <script src="/search/cmn/search/js/cookie-functions.js" defer></script>
    <!-- セレクトボックス値変更のjs読み込みに使用 -->
    <script type="text/javascript" language="javascript" src="/cmn/masterlib.js"></script>
</header1>

<header2>
</header2>

<header3>
	<!-- datepickerの要素指定 -->
	<script src="/search/cmn/js/datepicker.js" defer></script>
	<!-- msw汎用スタイル -->
	<link rel="stylesheet" href="/search/cmn/css/msw.css">
    <!-- フォームボタン css -->
    <link rel="stylesheet" href="/search/cmn/css/form-buttons.css">
    <!-- フォーム ボタン -->
	<script src="/po/search2/form-buttons.js" defer></script>
    <!-- フォームバリデーション -->
    <script src="/search/cmn/js/validate-form.js" defer></script>
    <!-- マスタ検索呼び出し -->
	<script src="/search/cmn/js/invoke-master-search.js" defer></script>
    <!-- COOKIE 表示チェックボックス 保存/復元 -->
	<script src="/search/cmn/js/cookie-display-items.js" defer></script>
    <!-- キーバインド -->
	<script src="/search/cmn/js/key-bind.js" defer></script>
    <link rel="stylesheet" href="/po/search2/layout.css">
    <script type="text/javascript" language="javascript" src="/navi/cmn/load.js"></script>
    <script src="/cmn/js/setinputmode.js" defer></script>
</header3>

<bodyonload>
</bodyonload>
</config>

<!-- 左サイドバー ナビゲート -->
<div class="navigation-loadpoint">
	<script>
        getNaviMenu('_%strSessionID%_', 'po-search2');
	</script>
</div>

<!-- 入力フォーム -->
<div class="form-box--notabs-for-search">
	<!-- フォームヘッダ -->
	<div class="form-box__header">
		<p class="form-box__header__title">発注書（PO）検索</p>
        <span class="form-box__header__buttons">
            <a href="#"><img class="clear button" src="/img/type01/cmn/seg/sch_clear_off_ja_bt.gif"></a>
            <a href="#"><img class="search button" src="/img/type01/cmn/seg/sch_search_off_ja_bt.gif"></a>
        </span>
	</div>
	<!-- フォームコンテンツ -->
	<div class="form-box__contents--with-scroll">
		<form name="SearchMoldHistory" method="post">
            <input type="submit">
            <div class="admin-mode" style="display:_%displayMode%_;">
                管理者モード
                <span><input type="checkbox" class="admin-checkbox" name="Option_admin"></span>
            </div>
            <div class="regist-line">
                <img class="toggle-search button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle search">
                <img class="toggle-display button" src="/img/type01/cmn/seg/off_bt.gif" alt="toggle display">
            </div>
            <div class="regist-line">
                <img src="/img/type01/cmn/seg/view_search_ja.gif" alt="view search">
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnDetail" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnDetail" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">詳細</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnFix" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnFix" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">修正</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnHistory" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnHistory" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">履歴</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmInsertDate" class="is-search" type="checkbox">
                    <input name="IsDisplay_dtmInsertDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">登録日</span>
                    FROM <input class="TxtStyle05L is-from-date" name="From_dtmInsertDate" type="text" value="" alt="dtmInsertDate" tabindex="" maxlength="10">
                    TO <input class="TxtStyle05L is-date" name="To_dtmInsertDate" type="text" value="" tabindex="" maxlength="10">
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInputUserCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngInputUserCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">入力者</span>
                    <input class="TxtStyle05L" name="lngInputUserCode"  type="text" alt="InputUser" displayFlagLimit="0">
                    <input class="disTxt46L" name="strInputUserName"  type="text" disabled>
                    <span><a href="#"><img class="msw-button button" invokeMSWName="msw-inputuser" displayFlagLimit="0" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw"></a></span>
                </span>
            </div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strOrderCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strOrderCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">発注書NO.</span>
                    <input class="Txt46L" name="strOrderCode" type="text" value="" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_strProductCode" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品コード</span>
                    <input class="Txt46L" name="strProductCode" type="text" value="" tabindex="">
				</span>
			</div>
			<div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductName" class="is-search" type="checkbox">
                    <input name="IsDisplay_strProductName" class="is-display" type="checkbox">
                </span>
				<span class="regist-label">
					<span class="regist-label__text">製品名</span>
                    <input class="Txt46L" name="strProductName"  type="text" value="" maxlength="80" onfocus="chColorOn(this);" onblur="chColorOff(this);fncCheckString( this );" tabindex="">
				</span>
			</div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInChargeGroupCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngInChargeGroupCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">営業部署</span>
                    <input class="TxtStyle05L" name="lngInChargeGroupCode" type="text" alt="InChargeGroup" displayFlagLimit="0">
                    <input class="disTxt46L" name="strInChargeGroupName" type="text" disabled>
                    <span><a href="#"><img class="msw-button button" invokeMSWName="msw-group" displayFlagLimit="0" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw"></a></span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngInChargeUserCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngInChargeUserCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">担当者</span>
                    <input class="TxtStyle05L" name="lngInChargeUserCode" type="text" alt="InChargeUser" displayFlagLimit="0">
                    <input class="disTxt46L" name="strInChargeUserName" type="text" disabled>
                    <span><a href="#"><img class="msw-button button" invokeMSWName="msw-inchargeuser" displayFlagLimit="0" msw-before="pickupGroupCode" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw"></a></span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngCustomerCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngCustomerCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">仕入先</span>
                    <input class="TxtStyle05L" name="lngCustomerCode" type="text" alt="Customer">
                    <input class="disTxt46L" name="strCustomerName" type="text" disabled>
                    <span><a href="#"><img class="msw-button button" invokeMSWName="msw-supplier" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw"></a></span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngDeliveryPlaceCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngDeliveryPlaceCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">納品場所</span>
                    <input class="TxtStyle05L" name="lngDeliveryPlaceCode" type="text" alt="DeliveryPlace">
                    <input class="disTxt46L" name="strDeliveryPlaceName" type="text" disabled>
                    <span><a href="#"><img class="msw-button button" invokeMSWName="msw-location" src="/img/type01/msw/cmn/open_off_bt.gif" alt="msw"></a></span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngMonetaryunitCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngMonetaryunitCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">通貨</span>
                    <select name="lngMonetaryunitCode" class="Slt13">
                    _%lngMonetaryunitCode%_
                    </select>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngPayConditionCode" class="is-search" type="checkbox">
                    <input name="IsDisplay_lngPayConditionCode" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label__text">支払条件</span>
                    <select name="lngPayConditionCode" class="Slt13">
                    _%lngPayConditionCode%_
                    </select>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curTotalPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curTotalPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">合計金額</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strNote" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strNote" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">備考</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngRecordNo" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngRecordNo" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">行No.</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strOrderStatusName" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strOrderStatusName" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">発注状態</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strStockSubjectName" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strStockSubjectName" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">仕入科目</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strStockItemName" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strStockItemName" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">仕入部品</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strMoldNo" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strMoldNo" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">NO</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strDeliveryMethodName" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strDeliveryMethodName" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">運搬方法</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curProductPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curProductPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">単価</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngProductQuantity" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngProductQuantity" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">数量</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strProductUnitName" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strProductUnitName" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">製品単位</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_curSubtotalPrice" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_curSubtotalPrice" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">小計</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_dtmDeliveryDate" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_dtmDeliveryDate" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">納品日</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_strDetailNote" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_strDetailNote" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">明細備考</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_lngPrintCount" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_lngPrintCount" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">印刷回数</span>
                </span>
            </div>
            <div class="regist-line">
                <span class="search-label--checkbox">
                    <input name="IsSearch_btnDelete" class="is-search" type="checkbox" disabled>
                    <input name="IsDisplay_btnDelete" class="is-display" type="checkbox">
                </span>
                <span class="regist-label">
                    <span class="regist-label--text-only">削除</span>
                </span>
            </div>
            <input type="hidden" name="ActionScriptName" value="/po/result2/index.php">
            <input type="hidden" name="strSessionID" value="_%strSessionID%_">
		</form>
	</div>
    <div class="msw-loadpoints">
		<!-- MSW 仕入先マスタ検索 -->
		<iframe class="msw-supplier" src="/search/cmn/msw/supplier/mswsupplier.html" frameborder="0">
		</iframe>
		<!-- MSW 納品場所マスタ検索 -->
		<iframe class="msw-location" src="/search/cmn/msw/location/mswlocation.html" frameborder="0">
		</iframe>
		<!-- MSW 担当部署マスタ検索 -->
		<iframe class="msw-group" src="/search/cmn/msw/group/mswgroup.html" frameborder="0">
		</iframe>
		<!-- MSW 担当者マスタ検索 -->
		<iframe class="msw-inchargeuser" src="/search/cmn/msw/inchargeuser/mswinchargeuser.html" frameborder="0">
		</iframe>
		<!-- MSW 担当者マスタ検索 -->
		<iframe class="msw-inputuser" src="/search/cmn/msw/inputuser/mswinputuser.html" frameborder="0">
		</iframe>
	</div>
</div>
