
/* フォーム ボタン */
.form-buttons
{
    position: relative;
    top: 524px;
    left: 21px;

    width: 927px;
}

/* クリアボタン */
.form-buttons__clear
{
}

/* 登録ボタン */
.form-buttons__regist
{
    display: none;
    float: right;
}
