<config>
<header1>

</header1>


<header2>
</header2>


<header3>
<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
</header3>


<bodyonload>
GetlngLanguageCode( _%lngLanguageCode%_ );
</bodyonload>
</config>


<center>
_%updatekey%_ <br><br>
_%strOptionValue%_<br><br>
</center>


<form name="form1" method="POST" action="index2.php">


<input type="hidden" name="lngReceiveNo" value="_%lngReceiveNo%_">								<!-- 1:受注番号 -->
<input type="hidden" name="lngRevisionNo" value="_%lngRevisionNo%_">							<!-- 2:リビジョン番号 -->
<input type="hidden" name="strReceiveCode" value="_%strReceiveCode%_">							<!-- 3:受注コード -->
<input type="hidden" name="strReviseCode" value="_%strReviseCode%_">							<!-- 4:リバイズコード -->
<input type="hidden" name="dtmOrderAppDate" value="_%dtmOrderAppDate%_">						<!-- 5:計上日 -->
<input type="hidden" name="lngCustomerCode" value="_%lngCustomerCode%_">						<!-- 6:会社コード --> 
<input type="hidden" name="lngInChargeGroupCode" value="_%lngInChargeGroupCode%_">				<!-- 7:グループコード -->
<input type="hidden" name="lngInChargeUserCode" value="_%lngInChargeUserCode%_">				<!-- 8:ユーザーコード -->
<input type="hidden" name="lngReceiveStatusCode" value="_%lngReceiveStatusCode%_">				<!-- 9:受注状態コード -->
<input type="hidden" name="lngMonetaryUnitCode" value="_%lngMonetaryUnitCode%_">				<!-- 10:通貨単位コード -->
<input type="hidden" name="lngMonetaryRateCode" value="_%lngMonetaryRateCode%_">				<!-- 11:通貨レートコード -->
<input type="hidden" name="curConversionRate" value="_%curConversionRate%_">					<!-- 12:換算レート -->

<input type="hidden" name="strNote" value="_%strNote%_">										<!-- 14:備考 -->
<input type="hidden" name="lngInputUserCode" value="_%lngInputUserCode%_">						<!-- 15:入力者コード -->

<input type="hidden" name="curAllTotalPrice" value="_%curAllTotalPrice%_">						<!-- 合計金額 -->
<input type="hidden" name="strMode" value="_%strMode%_">


<input type="hidden"  name="strSessionID" value="_%strSessionID%_">
<input type="hidden"  name="lngOrderNo" value="_%lngOrderNo%_">
<input type="hidden"  name="strMode" value="_%strMode%_">

_%strHidden%_



<center>
_%strErrorMessage%_<br>
_%strButton%_<br>
_%strPreviewButton%_<br>

</center>
</form>



