<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=_%CHAR_SET%_" />

	<title>見積原価プレビュー</title>

	<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/estimate/cmn/css/layout.css">
	<script src="/cmn/jquery/jquery-3.1.0.js"></script>
	<link rel="stylesheet" href="/cmn/handsontable/css/handsontable.full.min.css"/>
    <!-- msw汎用スタイル -->
    <link rel="stylesheet" href="/search/cmn/css/msw.css">
	<script src="/cmn/handsontable/js/handsontable.full.min.js"></script>
	<script src="/cmn/js/functions.js" defer></script>
	<script src="/cmn/js/openerreload.js" defer></script>
	<script src="/estimate/preview/js/index/function.js"></script>
    <script src="/po/cmn/msw/choice/js/msw.js" defer></script>

	<!-- キーバインド -->
	<!-- <script src="/cmn/functions.js"></script> -->

</head>

<body id="Backs" oncontextmenu="return false;">

_%DEBUG%_

	<input type="hidden" name="lngLanguageCode"	value="_%lngLanguageCode%_" />
		
<div id="preview_header">
	_%HEADER%_
</div>


<form method="post" name="formAction" id="formData">
	_%FORM%_
</form>

_%EXCEL%_
<div class="msw-loadpoints">
    <iframe src="/po/cmn/msw/choice/mswchoice.html" frameborder="0"></iframe>
</div>
    <script id="script" type="text/javascript" src="/estimate/preview/js/index/handsontableRenderer.js" data-param='_%TABLEDATA%_'></script>

	<br /><br />



	<!-- プリロード画面の非表示 -->
	<!--
	<script type="text/javascript" language="javascript">parent.Preload.style.visibility = 'hidden';</script>
	-->

</body>
</html>
