.highlight { background: yellow; }

.div-decide-table
{
    position:relative;
    width:99.5%;
    height:180px;
    top:5px;
}
/* 入力フォーム 確定テーブル */
.table-decide-description
{
    /* table-layout: fixed; */

    border-collapse: collapse;
    width: 100%;
    
    /* border: 1px solid #ddd */
}

.table-decide-description {
    width: 180%;
    /* max-width: 180%; */
    margin-bottom: 0rem;
}
/* 入力フォーム 確定テーブル thead */
.table-decide-description thead
{
    
    font-size: 9pt;
    color: white;
    font-weight: normal;
}

/* 入力フォーム 確定テーブル thead > tr */
.table-decide-description thead > tr
{
    display: block;
    background-color: #799797;
    text-align: center;
}

/* 入力フォーム 確定テーブル tbody */
.table-decide-description tbody
{
    display: block;
    
    font-size: 9pt;

    /* height: 150px; */

    background-color: #f1f1f1;
}

/* 入力フォーム 確定テーブル tbody > tr */
.table-decide-description tbody > tr
{
    height: 23px;
    
    background-color: #ffffff;
}
.table-decide-description th
{
    height: 30px;
}
.table-decide-description th,
.table-decide-description td{
    border: 1px solid #798787;
    white-space: nowrap;
}
.table-decide-fix
{
    table-layout: fixed;
    border-collapse: collapse;
    width:21px;
    position:absolute;
    left:-1px;top:-1px;
}

/* 入力フォーム 確定テーブル thead */
.table-decide-fix thead
{
    
    font-size: 8pt;
    color: white;
    font-weight: normal;
}

/* 入力フォーム 確定テーブル thead > tr */
.table-decide-fix thead > tr
{
    display: block;
    background-color: #799797;
}
.table-decide-fix th{
    
    height: 30px;
    border: 1px solid #798787;
}

[name="DECIDE_T"] {
    width: 180%;
}

[name="DECIDE_TV"] th {
    width: 20px
}

#header_decide_h {
    position: absolute;
    left: 19px;
    top: -1px;
    width: 97.5%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header_decide_v {
    position: absolute;
    left: -1px;
    top: 30px;
    width: 30px;
    height: 145px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#decide_data {
    position: absolute;
    left: 19px;
    top: 30px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 99.7%;
    height: 165px;
}