<!--

#Backs
{
	background-color : #d6d0b1 ;
}


#ProductInfo
{
	position : absolute ;
	left : 320px ;
	top : 270px ;
	border-width: 0px ;
	border-style: none ;
	z-index : 3 ;
	background : transparent ;

}

#ColumnProductsNo
{
	font-family : Arial , г═г╙ г╨е┤е╖е├еп, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 0px ;
	top : 40px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #e8f0f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}


#strPONo
{
	font-family : Arial ;
	font-size : 12px ;
	position : absolute ;
	font-weight : normal ;
	color : #555555 ;
	left : 215px ;
	top : 40px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : e8f0f1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 0px ;
	text-align : center ;
}






#CompleteSetList
{
	position : absolute ;
	left : 320px ;
	top : 340px ;
	border-width: 0px ;
	border-style: none ;
	z-index : 3 ;
	background : transparent ;

}

#ColumnListout
{
	font-family : Arial , г═г╙ г╨е┤е╖е├еп, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #f1f1f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#BackSpaceList
{
	font-weight : bold ;
	position : absolute ;
	left : 215px ;
	top : 0px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : d6d0b1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#ListOutputBt
{
	position : absolute ;
	left : 229px ;
	top : 3px ;
	border-width: 0px ;
	border-style: none ;
	background : transparent ;
}





#CompleteSet
{
	position : absolute ;
	left : 320px ;
	top : 250px ;
	border-width: 0px ;
	border-style: none ;
	z-index : 3 ;
	background : transparent ;

}

#FinishRegist
{
	font-family : Arial , г═г╙ г╨е┤е╖е├еп, Osaka ;
	font-weight : bold ;
	position : absolute ;
	left : 0px ;
	top : 0px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : #f1f1f1 ; /* e8f0f1 */
	border-color : #798787 #d6d0b1 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#BackSpace
{
	font-weight : bold ;
	position : absolute ;
	left : 215px ;
	top : 0px ;
	width : 100px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	background : d6d0b1 ; /* e8f0f1 */
	border-color : #798787 #798787 #798787 #798787 ;
	padding : 8px 0px 0px 8px ;
	text-align : left ;
}

#CloseBt
{
	position : absolute ;
	left : 229px ;
	top : 3px ;
	border-width: 0px ;
	border-style: none ;
	background : transparent ;
}




-->