/* 入力フォーム共通背景枠 右サイドバータブ無し */
.form-box
{
    position: absolute;
    top: 10px;
    left: 22px;

    width: 948px;
    height: 500px;
}

.form-box__main
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 948px;
    height: 475px;

    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    border-radius: 15px;

    background-color: #d6d0b1;
}
.form-box__header
{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 30px;

    background-color: #6c8cac;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* 入力フォーム ヘッダタイトル */
.form-box__header__title
{
    margin: 8px 12px;

    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

/* 入力フォーム コンテンツ */
.form-box__contents
{
    margin: 40px 10px 20px;
    font-size: 12px;
    height: auto;
}

.form-box__footer
{
    position: relative;
    left: 21px;
    width: 950px;
    height: 30px;
}
.form-box__footer > div:nth-child(2)
{
    text-align: right;
}
.btn-kids
{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 95px;
    height: 20px;
    font-size: x-small;
    border: 1px solid transparent;
    font-weight: bold;
    background-image: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    background-image: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    background-image: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
}

.btn-kids:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-kids:focus, .btn:hover {
    text-decoration: none;
}
.btn-kids:disabled {
    opacity: .65;
    color: gray;
}
.btn-kids:hover {
    box-shadow: inset 0 6px 8px rgba(255,255,255,.75), inset 0 -8px 16px rgba(0,0,0,.25), 0 1px 6px rgba(0,0,0,.75);
}
.btn-kids-sm
{
    margin-bottom: 10px;
    border-radius: 50px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 80px;
    height: 18px;
    font-size: x-small;
    background-image: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
    background-image: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    background-image: linear-gradient(to bottom, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
}

.block
{
    border-style: solid;
    border-width: 1px;
    border-color: #798787;
    background-color: #e8f0f1;
    color: #666666;
    height: 25px;
    padding-top: 1px;
}

.block > div
{
    padding: 2px;
}

.txt-kids
{
    height: 18px;
    border-color: #798787;
    padding: 0px;
    font-size: x-small;
}

.sel-kids
{
    height: 18px;
    border-color: #798787;
    padding: 0px;
}

.block > div > label
{
    font-weight: bold;
}

.required
{
    font-weight: bold;
    color: #0056b3;
}