
<config>
	<header1>
		<!-- 機能選択画面 共通CSS -->
		<link rel="stylesheet"  href="/cmn/css/select-function/select-function-border.css">
	</header1>

	<header2>
	</header2>

	<header3>
		<!-- ボタン押下時の遷移先の設定 -->
		<script src="/inv/select-function/js/set-location.js" defer></script>		
		<!-- 画面の初期設定 -->
		<script src="/inv/select-function/js/init.js" defer></script>
	</header3>

	<bodyonload>
	</bodyonload>
</config>

<!-- ラベル　機能選択 -->
<div class="label-select-function">機能選択</div>
<!-- 機能ボタンを囲む外枠 -->
<div class="menu-back-border">
	<!-- 各種機能ボタン -->
	<div class="function-buttons">
		<!-- 登録 -->
		<img class="function-buttons__regist button" src="" alt="Regist">
		<!-- 検索 -->
		<img class="function-buttons__search button" src="" alt="Search">
		<!-- 検索 -->
		<img class="function-buttons__total button" src="" alt="Total">
	</div>
</div>
