<config>
<header1>
</header1>

<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/m/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/m/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/m/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/m/initlayout.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/navi/cmn/initlayoutnavi.js"></script>
</header2>


<header3>
<link rel="stylesheet" type="text/css" media="screen" href="layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>
</header3>



<bodyonload>
initLayoutBase();initLayoutM();initLayoutNavigation();Loading();
</bodyonload>
</config>

<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>



<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->
<div class="main-area">
	<span id="strSelectFunctions">µ¡Ç½ÁªÂò</span>
	<span id="MenuBackBorder"></span>
	<span id="MenuBack"></span>
	<div id="TopNavi">
		<form action="list/index.php" method="GET" name="LIST">
		<input type="hidden" name="strSessionID" value="_%strSessionID%_">
		<span id="RegistNaviBt1" onclick="document.LIST.submit();"></span>
		</form>
		<form action="search/index.php" method="GET" name="SEARCH">
		<input type="hidden" name="strSessionID" value="_%strSessionID%_">
		<span id="SearchNaviBt1" onclick="document.SEARCH.submit();"></span>
		</form>
	</div>
</div>


<span id="OverLayer"></span>