<!--


#objColumn
{
	position : absolute ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

.ColumnSegs
{
	font-weight : bold ;
	position : absolute ;
	width : 160px ;
	height : 18px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 8px 0px 0px 8px ;
}

#objInput
{
	position : absolute ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

.InputSegs
{
	position : absolute ;
	height : 23px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}

.InputSegs_date
{
	position : absolute ;
    display: inline-block;
	border-width: 1px ;
	border-style: solid ;
	width: 150px;
	height : 24px ;
	padding-left : 8px;
	padding-bottom : 2px;
}

#QueryTable
{
	position:relative;
}

#objTable
{
	position:relative;
	top:160px;
	left:60px;
	width:300px;
}

.InputSegs_for_attribute
{
	position : absolute ;
	height : 127px ;
	border-width: 1px ;
	border-style: solid ;
	padding : 3px 0px 0px 8px ;
}


#objColumn
{
	position : absolute ;
	z-index : 0 ;
	visibility : visible ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}