<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="ja">
<head>
<title>K.I.D.S.</title>
<meta http-equiv="content-type" content="text/html; charset=euc-jp">


<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sysc/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutcommon.js"></script>


<script type="text/javascript" language="javascript" src="/cmn/functions.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/query.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbsclass.js"></script>
<script type="text/vbscript" Language="vbscript" src="/cmn/vbscript.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/lngcheck.js"></script>
<script type="text/javascript" language="javascript" src="/cmn/masterlib.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/layout.css">
<link rel="stylesheet" type="text/css" media="screen" href="/cmn/styles.css">


<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/sysc/email/initlayoutifrm.js"></script>
<script type="text/javascript" language="javascript" src="/sysc/mail/mail_exstr.js"></script>


<link rel="stylesheet" type="text/css" media="screen" href="/sysc/mail/mail_layout.css">
<script type="text/javascript" language="javascript" src="/cmn/languages.js"></script>


</head>
<body id="Backs" oncontextmenu="return false;" onload="GetIfrmlngLanguageCode( window.top.lngLanguageCode );">



<!-- 登録 -->
<form name="REGIST" action="action.php" method="post">
	<input type="hidden" name="strSessionID" value="_%strSessionID%_">

	<p id="EmailSet">
		<span id="Column0">管理者メール</span>

		<span id="Vars0">
			<input class="Txt52L" type="text" name="strAdminMailAddress" onfocus="chColorOn(this);" onblur="chColorOff(this);" tabindex="1" value="_%strAdminMailAddress%_" maxlength="100">
		</span>

		<span id="RegistBt" onclick="window.REGIST.submit();return false;"></span> <!-- window.REGIST.submit() -->
	</p>

</form>



</body>
</html>