<!--
#LoginButton
{
	position : absolute ;
	left : 462px ;
	top : 372px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}

#CloseButton
{
	position : absolute ;
	left : 469px ;
	top : 550px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


#KidsLogo
{
	position : absolute ;
	left : 410px ;
	top : 240px ;
	border-width: 0px ;
	border-style: none ;
	background-color: transparent ;
}


#LoginSet
{
	position : absolute ;
	left : 390px ;
	top : 270px ;
	z-index : 0 ;
	visibility : visible ;
	height : 24px ;
	background-color: transparent ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #000000 ;
	padding : 2px ;
	box-sizing: border-box
}

#PassSet{
	position : absolute ;
	left : 390px ;
	top : 300px ;
	z-index : 0 ;
	visibility : visible ;
	height : 24px ;
	background-color: transparent ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #000000 ;
	padding : 2px ;
	box-sizing: border-box
}

#ReminderSet{
	position : absolute ;
	left : 390px ;
	top : 480px ;
	width : 220px ;
	height : 27px ;
	border-width: 1px ;
	border-style: solid ;
	border-color: #000000 ;
	background-color: transparent ;
	display: flex; 
}
	

#strReminder
{
	font-family : Arial ;
	font-weight : normal ;
	color : #000000 ;
	background-color: transparent ;
	padding: 7px;
}

#rAllowButton
{
	width : 25px ;
	height : 20px;
	text-align : center ;
	background-color: transparent ;
	padding-top: 4px;
    margin-left: 20px;
}


#sUID
{
	font-family : Arial ;
	font-weight : bold ;
	color : #000000 ;
	margin: 0 48 0 10;
/*	background-color: #000000 ;*/
}

#sPASSWD
{
	font-family : Arial ; /* г═г╙ г╨е┤е╖е├еп, Osaka */
	font-weight : bold ;
	color : #000000 ;
/*	background-color: #000000 ; */
}

#sUIDVars
{
	background-color: #ffffff ;
}

#sPASSWDVars
{
	background-color: #ffffff ;
}






-->