<config>
<header1>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/cmn/initlayoutbase.js"></script>
</header1>


<header2>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/menu/images.js"></script>
<script type="text/javascript" language="javascript" src="/layout/_%lngLayoutCode%_/menu/initlayout.js"></script>
</header2>


<header3>
<link rel="stylesheet" type="text/css" media="screen" href="/menu/layout.css">
<script type="text/javascript" language="javascript" src="/menu/exstr.js"></script>
<!-- <script type="text/javascript" language="javascript" src="/cmn/languages.js"></script> -->
<script type="text/javascript" language="javascript" src="/menu/cmn/menu.js"></script>

	<style type="text/css">

		#sub_menu
		{
			position    : absolute;
			display     : none;

			/* top         : 355px; */ /* サブメニューTOP座標（固定） */

			margin      : 0px;
			padding     : 0px;
			width       : 151px;
			background  : #ffffff;
			border      : 1px solid #cdcdcd;
			z-index     : 999;
		}
		#sub_menu div
		{
			padding    : 1px;
			width      : 151px;
			font-size  : 3px;
			background : #4b6486;
		}
		#sub_menu button
		{
			padding    : 1px;
			width      : 151px;
			height     : 19px;
			font-size  : 12px;
			color      : #333333;
			cursor     : hand;
			background : #dedede;
		}

	</style>

</header3>


<bodyonload>
initLayoutBase();initLayoutSegs( Navi1 , Navi2 );initLayoutNavi(); clsSubMenu( document.all.sub_menu ); Loading();
</bodyonload>
</config>



<form name="frmMenu" action="" method="post">
<input type="hidden" name="strSessionID" value="_%strSessionID%_">


<p id="Preload">
	<iframe id="PreloadFrm" name="PreloadWin" frameborder="0" src="/preload/index.html" onload="fncObjectResize( this , 0 , 0 );"></iframe>
</p>


<!-- ////////////////////////////////// START MAIN TITLE ////////////////////////////////// -->
<span id="MainTitle"></span>
<!-- /////////////////////////////////// END MAIN TITLE /////////////////////////////////// -->

<div id="message-area">
	<div id="message-box">
		<span id="strWelcomeMessage">Welcome!&nbsp;Kuwagata&nbsp;Integrated&nbsp;Dealing&nbsp;System.</span>
		<span id="ColumnAdminMessage">SYSTEM MESSAGE</span>
		<span id="strAdminMessageTitle">_%strMessageTitle%_</span>
		<span id="strAdminMessageComment">_%strMessageBody%_</span>
	</div>
</div>

<span id="MenuBacks"></span>


<p id="Navi1">
	<span id="ESnavi" style="visibility:_%Enavi_visibility%_;"  onmouseover="fncShowSubMenu( 'es' ); return false;" onclick="setMenu_E();  return false;"></span>
	<span id="Pnavi"  style="visibility:_%Pnavi_visibility%_;"  onmouseover="fncShowSubMenu( 'p' ); return false;" onclick="setMenu_P();  return false;"></span>
	<span id="SOnavi" style="visibility:_%SOnavi_visibility%_;" onmouseover="fncShowSubMenu( 'so' ); return false;" onclick="setMenu_SO();  return false;"></span>
	<span id="POnavi" style="visibility:_%POnavi_visibility%_;" onmouseover="fncShowSubMenu( 'po' ); return false;" onclick="setMenu_PO();  return false;"></span>
	<span id="SCnavi" style="visibility:_%SCnavi_visibility%_;" onmouseover="fncShowSubMenu( 'sc' ); return false;" onclick="setMenu_SC();  return false;"></span>
	<span id="PCnavi" style="visibility:_%PCnavi_visibility%_;" onmouseover="fncShowSubMenu( 'pc' ); return false;" onclick="setMenu_PC();  return false;"></span>
</p>

<p id="Navi2">
	<span id="INVnavi"   style="visibility:_%invnavi_visibility%_;" onmouseover="fncShowSubMenu( 'inv' ); return false;" onclick="setMenu_INV(); return false;"></span>	
	<span id="LISTnavi"   style="visibility:_%LOnavi_visibility%_;" onmouseover="fncShowSubMenu( 'list' ); return false;" onclick="setMenu_LIST(); return false;"></span>
	<span id="DATAEXnavi" style="visibility:_%DEnavi_visibility%_;" onclick="setMenu_DATAEX(); return false;"></span>
	<span id="MMnavi"   style="visibility:_%MMnavi_visibility%_;" onmouseover="fncShowSubMenu( 'mm' ); return false;" onclick="setMenu_MM(); return false;"></span>
	<span id="MRnavi"   style="visibility:_%MRnavi_visibility%_;" onmouseover="fncShowSubMenu( 'mr' ); return false;" onclick="setMenu_MR(); return false;"></span>
    <span id="LCnavi"   style="visibility:_%LCnavi_visibility%_;" onmouseover="fncShowSubMenu( 'lc' ); return false;" onclick="setMenu_LC(); return false;"></span>
	<span></span>
</p>



<p id="SystemSet">
	<span id="UCnavi"         style="display:_%UCnavi_visibility%_;"         onclick="setMenu_UC();     return false;"></span>&nbsp;
	<span id="Mnavi"          style="display:_%Mnavi_visibility%_;"          onclick="setMenu_M();      return false;"></span>&nbsp;
	<span id="DATACLOSEDnavi" style="display:_%DATACLOSEDnavi_visibility%_;" onclick="setMenu_CLOSED(); return false;"></span>&nbsp;
	<span id="SYSnavi"        style="display:_%SYSnavi_visibility%_;"        onclick="setMenu_SYSC();   return false;"></span>
</p>


</form>


<!-- システムバージョン -->
<span id="SystemVersion">version _%strSystemVersion%_</span>


<span id="OverLayer"></span>
<bgsound id="BeepSound" src="/error/dummy.aif" loop="1" balance="0" volume="100">

	<!-- サブメニューオブジェクト -->
	<div id="sub_menu"></div>

	<!-- サブメニュー・ステータスフラグ -->
	<!-- 商品管理 -->
	<input type="hidden" name="lngSubFlag_p_0"  value="_%lngSubFlag_p_0%_">
	<input type="hidden" name="lngSubFlag_p_1"  value="_%lngSubFlag_p_1%_">

	<!-- 見積原価管理 -->
	<input type="hidden" name="lngSubFlag_es_0" value="_%lngSubFlag_es_0%_">
	<input type="hidden" name="lngSubFlag_es_1" value="_%lngSubFlag_es_1%_">
	<input type="hidden" name="lngSubFlag_es_2" value="_%lngSubFlag_es_2%_">

	<!-- 受注管理 -->
	<input type="hidden" name="lngSubFlag_so_0" value="_%lngSubFlag_so_0%_">
	<input type="hidden" name="lngSubFlag_so_1" value="_%lngSubFlag_so_1%_">

	<!-- 発注管理 -->
	<input type="hidden" name="lngSubFlag_po_0" value="_%lngSubFlag_po_0%_">
	<input type="hidden" name="lngSubFlag_po_1" value="_%lngSubFlag_po_1%_">

	<!-- 売上管理 -->
	<input type="hidden" name="lngSubFlag_sc_0" value="_%lngSubFlag_sc_0%_">
	<input type="hidden" name="lngSubFlag_sc_1" value="_%lngSubFlag_sc_1%_">
	<input type="hidden" name="lngSubFlag_sc_2" value="_%lngSubFlag_sc_2%_">

	<!-- 仕入管理 -->
	<input type="hidden" name="lngSubFlag_pc_0" value="_%lngSubFlag_pc_0%_">
	<input type="hidden" name="lngSubFlag_pc_1" value="_%lngSubFlag_pc_1%_">

	<!-- ワークフロー -->
	<input type="hidden" name="lngSubFlag_wf_0" value="_%lngSubFlag_wf_0%_">
	<input type="hidden" name="lngSubFlag_wf_1" value="_%lngSubFlag_wf_1%_">

	<!-- 請求書 -->
	<input type="hidden" name="lngSubFlag_inv_0" value="_%lngSubFlag_inv_0%_">
	<input type="hidden" name="lngSubFlag_inv_1" value="_%lngSubFlag_inv_1%_">
	<input type="hidden" name="lngSubFlag_inv_2" value="_%lngSubFlag_inv_2%_">

	<!-- 帳票出力 -->
	<input type="hidden" name="lngSubFlag_list_0" value="_%lngSubFlag_list_0%_">
	<input type="hidden" name="lngSubFlag_list_1" value="_%lngSubFlag_list_1%_">
	<input type="hidden" name="lngSubFlag_list_2" value="_%lngSubFlag_list_2%_">
	<input type="hidden" name="lngSubFlag_list_3" value="_%lngSubFlag_list_3%_">
	<input type="hidden" name="lngSubFlag_list_4" value="_%lngSubFlag_list_4%_">
	<input type="hidden" name="lngSubFlag_list_5" value="_%lngSubFlag_list_5%_">

	<!-- 金型管理 -->
	<input type="hidden" name="lngSubFlag_mm_0" value="_%lngSubFlag_mm_0%_">
	<input type="hidden" name="lngSubFlag_mm_1" value="_%lngSubFlag_mm_1%_">

	<!-- 金型帳票管理 -->
	<input type="hidden" name="lngSubFlag_mr_0" value="_%lngSubFlag_mr_0%_">
	<input type="hidden" name="lngSubFlag_mr_1" value="_%lngSubFlag_mr_1%_">

	<!-- L/C管理 -->
	<input type="hidden" name="lngSubFlag_lc_0" value="_%lngSubFlag_lc_0%_">
	<input type="hidden" name="lngSubFlag_lc_1" value="_%lngSubFlag_lc_1%_">
	<input type="hidden" name="lngSubFlag_lc_2" value="_%lngSubFlag_lc_2%_">
	<input type="hidden" name="lngSubFlag_lc_3" value="_%lngSubFlag_lc_3%_">

	<!-- サブメニュー・Ref文字列 -->
	<!-- 商品管理 -->
	<input type="hidden" name="lngSubRef_p_0"  value="_%lngSubRef_p_0%_">
	<input type="hidden" name="lngSubRef_p_1"  value="_%lngSubRef_p_1%_">

	<!-- 見積原価管理 -->
	<input type="hidden" name="lngSubRef_es_0" value="_%lngSubRef_es_0%_">
	<input type="hidden" name="lngSubRef_es_1" value="_%lngSubRef_es_1%_">
	<input type="hidden" name="lngSubRef_es_2" value="_%lngSubRef_es_2%_">

	<!-- 受注管理 -->
	<input type="hidden" name="lngSubRef_so_0" value="_%lngSubRef_so_0%_">
	<input type="hidden" name="lngSubRef_so_1" value="_%lngSubRef_so_1%_">

	<!-- 発注管理 -->
	<input type="hidden" name="lngSubRef_po_0" value="_%lngSubRef_po_0%_">
	<input type="hidden" name="lngSubRef_po_1" value="_%lngSubRef_po_1%_">

	<!-- 売上管理 -->
	<input type="hidden" name="lngSubRef_sc_0" value="_%lngSubRef_sc_0%_">
	<input type="hidden" name="lngSubRef_sc_1" value="_%lngSubRef_sc_1%_">
	<input type="hidden" name="lngSubRef_sc_2" value="_%lngSubRef_sc_2%_">

	<!-- 仕入管理 -->
	<input type="hidden" name="lngSubRef_pc_0" value="_%lngSubRef_pc_0%_">
	<input type="hidden" name="lngSubRef_pc_1" value="_%lngSubRef_pc_1%_">

	<!-- ワークフロー -->
	<input type="hidden" name="lngSubRef_wf_0" value="_%lngSubRef_wf_0%_">
	<input type="hidden" name="lngSubRef_wf_1" value="_%lngSubRef_wf_1%_">

	<!-- 請求書 -->
	<input type="hidden" name="lngSubRef_inv_0" value="_%lngSubRef_inv_0%_">
	<input type="hidden" name="lngSubRef_inv_1" value="_%lngSubRef_inv_1%_">
	<input type="hidden" name="lngSubRef_inv_2" value="_%lngSubRef_inv_2%_">

	<!-- 帳票出力 -->
	<input type="hidden" name="lngSubRef_list_0" value="_%lngSubRef_list_0%_">
	<input type="hidden" name="lngSubRef_list_1" value="_%lngSubRef_list_1%_">
	<input type="hidden" name="lngSubRef_list_2" value="_%lngSubRef_list_2%_">
	<input type="hidden" name="lngSubRef_list_3" value="_%lngSubRef_list_3%_">
	<input type="hidden" name="lngSubRef_list_4" value="_%lngSubRef_list_4%_">
	<input type="hidden" name="lngSubRef_list_5" value="_%lngSubRef_list_5%_">

	<!-- 金型管理 -->
	<input type="hidden" name="lngSubRef_mm_0" value="_%lngSubRef_mm_0%_">
	<input type="hidden" name="lngSubRef_mm_1" value="_%lngSubRef_mm_1%_">

    <!-- 金型帳票管理 -->
	<input type="hidden" name="lngSubRef_mr_0" value="_%lngSubRef_mr_0%_">
	<input type="hidden" name="lngSubRef_mr_1" value="_%lngSubRef_mr_1%_">
	
	<!-- L/C管理 -->
	<input type="hidden" name="lngSubRef_lc_0" value="_%lngSubRef_lc_0%_">
	<input type="hidden" name="lngSubRef_lc_1" value="_%lngSubRef_lc_1%_">
	<input type="hidden" name="lngSubRef_lc_2" value="_%lngSubRef_lc_2%_">
	<input type="hidden" name="lngSubRef_lc_3" value="_%lngSubRef_lc_3%_">
