
<config>
	<header1>
		<!-- 機能選択画面 共通CSS -->
		<link rel="stylesheet"  href="/mold/cmn/select-function/css/select-function-border.css">
	</header1>

	<header2>
	</header2>

	<header3>
		<!-- ボタン押下時の遷移先の設定 -->
		<script src="/mr/select-function/js/set-location.js" defer></script>
    	<link rel="stylesheet" href="/cmn/css/navigate/navigate.css">
	</header3>

	<bodyonload>
	</bodyonload>
</config>

<!-- ラベル　機能選択 -->
<div class="label-select-function">機能選択</div>
<!-- 機能ボタンを囲む外枠 -->
<div class="menu-back-border">
	<!-- 各種機能ボタン -->
	<div class="function-buttons">
		<!-- 登録 -->
		<button type="button" class="function-buttons__search btn btn-light" _%Regist_visibility%_>金型帳票登録</button>
		<!-- 検索 -->
		<button type="button" class="function-buttons__search btn btn-light" _%Search_visibility%_>金型帳票検索</button>
	</div>
</div>
